app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IClienteService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_InsertById_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertById" />
  </wsdl:message>
  <wsdl:message name="IClienteService_InsertById_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByConsultora" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByConsultoraByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByConsultoraByCodigo" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByConsultoraByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByConsultoraByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByNombre" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_CheckClienteByConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckClienteByConsultora" />
  </wsdl:message>
  <wsdl:message name="IClienteService_CheckClienteByConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckClienteByConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetExisteClienteConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExisteClienteConsultora" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetExisteClienteConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExisteClienteConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_UndoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UndoCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_UndoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidosWebByConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidosWebByConsultora" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidosWebByConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidosWebByConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClientesByCampania_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesByCampania" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClientesByCampania_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesByCampaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClientesByCampaniaByClienteID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesByCampaniaByClienteID" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetClientesByCampaniaByClienteID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesByCampaniaByClienteIDResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidoWebDetalleByCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidoWebDetalleByCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidoWebDetalleByCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidoWebDetalleByClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCatalogosByCampania_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogosByCampania" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCatalogosByCampania_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogosByCampaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCatalogoConfiguracion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogoConfiguracion" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCatalogoConfiguracion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogoConfiguracionResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetListCatalogoRevistaPublicado_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatalogoRevistaPublicado" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetListCatalogoRevistaPublicado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatalogoRevistaPublicadoResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetListCatalogoRevistaPublicadoWithTitulo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatalogoRevistaPublicadoWithTitulo" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetListCatalogoRevistaPublicadoWithTitulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatalogoRevistaPublicadoWithTituloResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCatalogoRevista_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogoRevista" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetCatalogoRevista_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogoRevistaResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidosWebAnterioresByConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidosWebAnterioresByConsultora" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidosWebAnterioresByConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidosWebAnterioresByConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidoProductosByCampania_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidoProductosByCampania" />
  </wsdl:message>
  <wsdl:message name="IClienteService_GetPedidoProductosByCampania_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPedidoProductosByCampaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_InsCatalogoCampania_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCatalogoCampania" />
  </wsdl:message>
  <wsdl:message name="IClienteService_InsCatalogoCampania_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsCatalogoCampaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SaveDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDB" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SaveDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByConsultoraDB_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByConsultoraDB" />
  </wsdl:message>
  <wsdl:message name="IClienteService_SelectByConsultoraDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByConsultoraDBResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoInsertar_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoInsertar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoInsertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarMovimientosPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMovimientosPorCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarMovimientosPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMovimientosPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoActualizar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoEliminar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatorioInsertar_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordatorioInsertar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatorioInsertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordatorioInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatoriosObtenerPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordatoriosObtenerPorCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatoriosObtenerPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordatoriosObtenerPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatorioActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordatorioActualizar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatorioActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordatorioActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatorioEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordatorioEliminar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_RecordatorioEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordatorioEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerDeudores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDeudores" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerDeudores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDeudoresResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaInsertar_InputMessage">
    <wsdl:part name="parameters" element="tns:NotaInsertar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaInsertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotaInsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaListar_InputMessage">
    <wsdl:part name="parameters" element="tns:NotaListar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotaListarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:NotaActualizar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotaActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:NotaEliminar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_NotaEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotaEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoDetalleActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoDetalleActualizar" />
  </wsdl:message>
  <wsdl:message name="IClienteService_MovimientoDetalleActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoDetalleActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarEscalaDescuentoZona_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEscalaDescuentoZona" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarEscalaDescuentoZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEscalaDescuentoZonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Insert" message="tns:IClienteService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/InsertResponse" message="tns:IClienteService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/InsertById" message="tns:IClienteService_InsertById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/InsertByIdResponse" message="tns:IClienteService_InsertById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Update" message="tns:IClienteService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/UpdateResponse" message="tns:IClienteService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Delete" message="tns:IClienteService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/DeleteResponse" message="tns:IClienteService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/SelectByConsultora" message="tns:IClienteService_SelectByConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/SelectByConsultoraResponse" message="tns:IClienteService_SelectByConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultoraByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/SelectByConsultoraByCodigo" message="tns:IClienteService_SelectByConsultoraByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/SelectByConsultoraByCodigoResponse" message="tns:IClienteService_SelectByConsultoraByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/SelectById" message="tns:IClienteService_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/SelectByIdResponse" message="tns:IClienteService_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/SelectByNombre" message="tns:IClienteService_SelectByNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/SelectByNombreResponse" message="tns:IClienteService_SelectByNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckClienteByConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/CheckClienteByConsultora" message="tns:IClienteService_CheckClienteByConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/CheckClienteByConsultoraResponse" message="tns:IClienteService_CheckClienteByConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExisteClienteConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetExisteClienteConsultora" message="tns:IClienteService_GetExisteClienteConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetExisteClienteConsultoraResponse" message="tns:IClienteService_GetExisteClienteConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/UndoCliente" message="tns:IClienteService_UndoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/UndoClienteResponse" message="tns:IClienteService_UndoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidosWebByConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetPedidosWebByConsultora" message="tns:IClienteService_GetPedidosWebByConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetPedidosWebByConsultoraResponse" message="tns:IClienteService_GetPedidosWebByConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientesByCampania">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetClientesByCampania" message="tns:IClienteService_GetClientesByCampania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetClientesByCampaniaResponse" message="tns:IClienteService_GetClientesByCampania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientesByCampaniaByClienteID">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetClientesByCampaniaByClienteID" message="tns:IClienteService_GetClientesByCampaniaByClienteID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetClientesByCampaniaByClienteIDResponse" message="tns:IClienteService_GetClientesByCampaniaByClienteID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoWebDetalleByCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetPedidoWebDetalleByCliente" message="tns:IClienteService_GetPedidoWebDetalleByCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetPedidoWebDetalleByClienteResponse" message="tns:IClienteService_GetPedidoWebDetalleByCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogosByCampania">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetCatalogosByCampania" message="tns:IClienteService_GetCatalogosByCampania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetCatalogosByCampaniaResponse" message="tns:IClienteService_GetCatalogosByCampania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogoConfiguracion">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetCatalogoConfiguracion" message="tns:IClienteService_GetCatalogoConfiguracion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetCatalogoConfiguracionResponse" message="tns:IClienteService_GetCatalogoConfiguracion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCatalogoRevistaPublicado">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicado" message="tns:IClienteService_GetListCatalogoRevistaPublicado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicadoResponse" message="tns:IClienteService_GetListCatalogoRevistaPublicado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCatalogoRevistaPublicadoWithTitulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicadoWithTitulo" message="tns:IClienteService_GetListCatalogoRevistaPublicadoWithTitulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicadoWithTituloResponse" message="tns:IClienteService_GetListCatalogoRevistaPublicadoWithTitulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogoRevista">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetCatalogoRevista" message="tns:IClienteService_GetCatalogoRevista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetCatalogoRevistaResponse" message="tns:IClienteService_GetCatalogoRevista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidosWebAnterioresByConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetPedidosWebAnterioresByConsultora" message="tns:IClienteService_GetPedidosWebAnterioresByConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetPedidosWebAnterioresByConsultoraResponse" message="tns:IClienteService_GetPedidosWebAnterioresByConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoProductosByCampania">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/GetPedidoProductosByCampania" message="tns:IClienteService_GetPedidoProductosByCampania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/GetPedidoProductosByCampaniaResponse" message="tns:IClienteService_GetPedidoProductosByCampania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsCatalogoCampania">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/InsCatalogoCampania" message="tns:IClienteService_InsCatalogoCampania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/InsCatalogoCampaniaResponse" message="tns:IClienteService_InsCatalogoCampania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/SaveDB" message="tns:IClienteService_SaveDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/SaveDBResponse" message="tns:IClienteService_SaveDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultoraDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/SelectByConsultoraDB" message="tns:IClienteService_SelectByConsultoraDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/SelectByConsultoraDBResponse" message="tns:IClienteService_SelectByConsultoraDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoInsertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/MovimientoInsertar" message="tns:IClienteService_MovimientoInsertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/MovimientoInsertarResponse" message="tns:IClienteService_MovimientoInsertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMovimientosPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ListarMovimientosPorCliente" message="tns:IClienteService_ListarMovimientosPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ListarMovimientosPorClienteResponse" message="tns:IClienteService_ListarMovimientosPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/MovimientoActualizar" message="tns:IClienteService_MovimientoActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/MovimientoActualizarResponse" message="tns:IClienteService_MovimientoActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/MovimientoEliminar" message="tns:IClienteService_MovimientoEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/MovimientoEliminarResponse" message="tns:IClienteService_MovimientoEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordatorioInsertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RecordatorioInsertar" message="tns:IClienteService_RecordatorioInsertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RecordatorioInsertarResponse" message="tns:IClienteService_RecordatorioInsertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordatoriosObtenerPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RecordatoriosObtenerPorCliente" message="tns:IClienteService_RecordatoriosObtenerPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RecordatoriosObtenerPorClienteResponse" message="tns:IClienteService_RecordatoriosObtenerPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordatorioActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RecordatorioActualizar" message="tns:IClienteService_RecordatorioActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RecordatorioActualizarResponse" message="tns:IClienteService_RecordatorioActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordatorioEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/RecordatorioEliminar" message="tns:IClienteService_RecordatorioEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/RecordatorioEliminarResponse" message="tns:IClienteService_RecordatorioEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeudores">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ObtenerDeudores" message="tns:IClienteService_ObtenerDeudores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ObtenerDeudoresResponse" message="tns:IClienteService_ObtenerDeudores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotaInsertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/NotaInsertar" message="tns:IClienteService_NotaInsertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/NotaInsertarResponse" message="tns:IClienteService_NotaInsertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotaListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/NotaListar" message="tns:IClienteService_NotaListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/NotaListarResponse" message="tns:IClienteService_NotaListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotaActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/NotaActualizar" message="tns:IClienteService_NotaActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/NotaActualizarResponse" message="tns:IClienteService_NotaActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotaEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/NotaEliminar" message="tns:IClienteService_NotaEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/NotaEliminarResponse" message="tns:IClienteService_NotaEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoDetalleActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/MovimientoDetalleActualizar" message="tns:IClienteService_MovimientoDetalleActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/MovimientoDetalleActualizarResponse" message="tns:IClienteService_MovimientoDetalleActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEscalaDescuentoZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ListarEscalaDescuentoZona" message="tns:IClienteService_ListarEscalaDescuentoZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ListarEscalaDescuentoZonaResponse" message="tns:IClienteService_ListarEscalaDescuentoZona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/InsertById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultoraByCodigo">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByConsultoraByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByNombre">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckClienteByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/CheckClienteByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExisteClienteConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetExisteClienteConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UndoCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/UndoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidosWebByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidosWebByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesByCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClientesByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesByCampaniaByClienteID">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClientesByCampaniaByClienteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoWebDetalleByCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidoWebDetalleByCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogosByCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCatalogosByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogoConfiguracion">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCatalogoConfiguracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatalogoRevistaPublicado">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatalogoRevistaPublicadoWithTitulo">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicadoWithTitulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogoRevista">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCatalogoRevista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidosWebAnterioresByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidosWebAnterioresByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoProductosByCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidoProductosByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCatalogoCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/InsCatalogoCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDB">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SaveDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultoraDB">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByConsultoraDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoInsertar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMovimientosPorCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarMovimientosPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoEliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatorioInsertar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatorioInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatoriosObtenerPorCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatoriosObtenerPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatorioActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatorioActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatorioEliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatorioEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeudores">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObtenerDeudores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaInsertar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaListar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaEliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoDetalleActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoDetalleActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEscalaDescuentoZona">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarEscalaDescuentoZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IClienteService" type="tns:IClienteService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IClienteService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/InsertById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultoraByCodigo">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByConsultoraByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByNombre">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckClienteByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/CheckClienteByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExisteClienteConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetExisteClienteConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UndoCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/UndoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidosWebByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidosWebByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesByCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClientesByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientesByCampaniaByClienteID">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetClientesByCampaniaByClienteID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoWebDetalleByCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidoWebDetalleByCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogosByCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCatalogosByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogoConfiguracion">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCatalogoConfiguracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatalogoRevistaPublicado">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatalogoRevistaPublicadoWithTitulo">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetListCatalogoRevistaPublicadoWithTitulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogoRevista">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetCatalogoRevista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidosWebAnterioresByConsultora">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidosWebAnterioresByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoProductosByCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/GetPedidoProductosByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCatalogoCampania">
      <soap:operation soapAction="http://tempuri.org/IClienteService/InsCatalogoCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDB">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SaveDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByConsultoraDB">
      <soap:operation soapAction="http://tempuri.org/IClienteService/SelectByConsultoraDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoInsertar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMovimientosPorCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarMovimientosPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoEliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatorioInsertar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatorioInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatoriosObtenerPorCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatoriosObtenerPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatorioActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatorioActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordatorioEliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/RecordatorioEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeudores">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObtenerDeudores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaInsertar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaInsertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaListar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotaEliminar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/NotaEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoDetalleActualizar">
      <soap:operation soapAction="http://tempuri.org/IClienteService/MovimientoDetalleActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEscalaDescuentoZona">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarEscalaDescuentoZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:41615/ClienteService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IClienteService" binding="tns:BasicHttpsBinding_IClienteService">
      <soap:address location="https://localhost:44392/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>