app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:complexType name="ArrayOfBEClienteRecordatorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEClienteRecordatorio" nillable="true" type="tns:BEClienteRecordatorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEClienteRecordatorio" nillable="true" type="tns:ArrayOfBEClienteRecordatorio" />
  <xs:complexType name="BEClienteRecordatorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:short" />
      <xs:element minOccurs="0" name="ClienteRecordatorioId" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraId" type="xs:long" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEClienteRecordatorio" nillable="true" type="tns:BEClienteRecordatorio" />
  <xs:complexType name="ArrayOfBENota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENota" nillable="true" type="tns:BENota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENota" nillable="true" type="tns:ArrayOfBENota" />
  <xs:complexType name="BENota">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:short" />
      <xs:element minOccurs="0" name="ClienteNotaId" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraId" type="xs:long" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRecordatorio" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENota" nillable="true" type="tns:BENota" />
  <xs:complexType name="BEMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="xs:short" />
      <xs:element minOccurs="0" name="ClienteMovimientoId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraId" type="xs:long" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nota" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="Pedidos" nillable="true" type="q1:ArrayOfBEPedidoDDWebDetalle" />
      <xs:element minOccurs="0" name="TipoMovimiento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMovimiento" nillable="true" type="tns:BEMovimiento" />
  <xs:complexType name="ArrayOfBEMovimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMovimiento" nillable="true" type="tns:BEMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMovimiento" nillable="true" type="tns:ArrayOfBEMovimiento" />
  <xs:complexType name="ArrayOfBEClienteDeudaRecordatorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEClienteDeudaRecordatorio" nillable="true" type="tns:BEClienteDeudaRecordatorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEClienteDeudaRecordatorio" nillable="true" type="tns:ArrayOfBEClienteDeudaRecordatorio" />
  <xs:complexType name="BEClienteDeudaRecordatorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteID" type="xs:short" />
      <xs:element minOccurs="0" name="ClienteRecordatorioId" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalDeuda" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEClienteDeudaRecordatorio" nillable="true" type="tns:BEClienteDeudaRecordatorio" />
</xs:schema>