app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
  <xs:complexType name="BECliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadPedido" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Favorito" type="xs:short" />
      <xs:element minOccurs="0" name="MontoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagina" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Recordatorios" nillable="true" type="q1:ArrayOfBEClienteRecordatorio" />
      <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneTelefono" type="xs:short" />
      <xs:element minOccurs="0" name="TipoContactoFavorito" type="xs:short" />
      <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECliente" nillable="true" type="tns:BECliente" />
  <xs:complexType name="ArrayOfBECliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECliente" nillable="true" type="tns:BECliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECliente" nillable="true" type="tns:ArrayOfBECliente" />
  <xs:complexType name="ArrayOfBEPedidoWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoWeb" nillable="true" type="tns:BEPedidoWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoWeb" nillable="true" type="tns:ArrayOfBEPedidoWeb" />
  <xs:complexType name="BEPedidoWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bloqueado" type="xs:short" />
      <xs:element minOccurs="0" name="CDRWebEstado" type="xs:int" />
      <xs:element minOccurs="0" name="CDRWebID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CanalIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadCuv" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="Clientes" type="xs:short" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="DescripcionBloqueo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescuentoProl" type="xs:decimal" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoPedido" type="xs:short" />
      <xs:element minOccurs="0" name="EstadoPedidoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaProceso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flete" type="xs:decimal" />
      <xs:element minOccurs="0" name="IPUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteCredito" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndicadorEnviado" type="xs:int" />
      <xs:element minOccurs="0" name="ModificaPedidoReservado" type="xs:boolean" />
      <xs:element minOccurs="0" name="MontoAhorroCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoAhorroRevista" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoEscala" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotalProl" type="xs:decimal" />
      <xs:element minOccurs="0" name="MotivoCreditoID" type="xs:short" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="RutaPaqueteDocumentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaldoDeuda" type="xs:decimal" />
      <xs:element minOccurs="0" name="TippingPoint" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValidacionAbierta" type="xs:boolean" />
      <xs:element minOccurs="0" name="VersionProl" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="olstBEPedidoWebDetalle" nillable="true" type="tns:ArrayOfBEPedidoWebDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoWeb" nillable="true" type="tns:BEPedidoWeb" />
  <xs:complexType name="ArrayOfBEPedidoWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoWebDetalle" nillable="true" type="tns:BEPedidoWebDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoWebDetalle" nillable="true" type="tns:ArrayOfBEPedidoWebDetalle" />
  <xs:complexType name="BEPedidoWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptoBackOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVNuevo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CUVPadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadAnterior" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaseFila" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:short" />
      <xs:element minOccurs="0" name="Clientes" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCatalago" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTipoOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfiguracionOfertaID" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="DescripcionCortadaProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionLarga" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescuentoProl" type="xs:decimal" />
      <xs:element minOccurs="0" name="EliminadoTemporal" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsBackOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsCompraPorCompra" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsKitNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsOfertaIndependiente" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsSugerido" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoItem" type="xs:short" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" type="xs:int" />
      <xs:element minOccurs="0" name="FlagConsultoraOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="IPUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotalPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorOfertaCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorPedidoAutentico" nillable="true" type="tns:BEIndicadorPedidoAutentico" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModificaPedidoReservado" type="xs:boolean" />
      <xs:element minOccurs="0" name="MontoAhorroCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoAhorroRevista" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoEscala" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotalProl" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionPROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfertaWeb" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrdenPedidoWD" type="xs:int" />
      <xs:element minOccurs="0" name="OrigenPedidoWeb" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoDetalleID" type="xs:short" />
      <xs:element minOccurs="0" name="PedidoDetalleIDPadre" type="xs:short" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProgramaNuevoActivado" type="xs:boolean" />
      <xs:element minOccurs="0" name="SetID" type="xs:int" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="SubTipoOfertaSisID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEstrategiaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoObservacion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoOfertaSisID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoWebDetalle" nillable="true" type="tns:BEPedidoWebDetalle" />
  <xs:complexType name="BEIndicadorPedidoAutentico">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndicadorFingerprint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorIPUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoDetalleID" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEIndicadorPedidoAutentico" nillable="true" type="tns:BEIndicadorPedidoAutentico" />
  <xs:complexType name="ArrayOfBECatalogo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECatalogo" nillable="true" type="tns:BECatalogo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECatalogo" nillable="true" type="tns:ArrayOfBECatalogo" />
  <xs:complexType name="BECatalogo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECatalogo" nillable="true" type="tns:BECatalogo" />
  <xs:complexType name="ArrayOfBECatalogoConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECatalogoConfiguracion" nillable="true" type="tns:BECatalogoConfiguracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECatalogoConfiguracion" nillable="true" type="tns:ArrayOfBECatalogoConfiguracion" />
  <xs:complexType name="BECatalogoConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaFin" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogoID" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECatalogoConfiguracion" nillable="true" type="tns:BECatalogoConfiguracion" />
  <xs:complexType name="ArrayOfBECatalogoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECatalogoRevista" nillable="true" type="tns:BECatalogoRevista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECatalogoRevista" nillable="true" type="tns:ArrayOfBECatalogoRevista" />
  <xs:complexType name="BECatalogoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogoTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="Mostrar" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaisISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlVisor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECatalogoRevista" nillable="true" type="tns:BECatalogoRevista" />
  <xs:complexType name="ArrayOfBEClienteDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEClienteDB" nillable="true" type="tns:BEClienteDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEClienteDB" nillable="true" type="tns:ArrayOfBEClienteDB" />
  <xs:complexType name="BEClienteDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadPedido" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
      <xs:element minOccurs="0" name="CodigoRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Contactos" nillable="true" type="tns:ArrayOfBEClienteContactoDB" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:short" />
      <xs:element minOccurs="0" name="Favorito" type="xs:short" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Insertado" type="xs:boolean" />
      <xs:element minOccurs="0" name="MensajeRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoPedido" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Movimientos" nillable="true" type="q2:ArrayOfBEMovimiento" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Notas" nillable="true" type="q3:ArrayOfBENota" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Recordatorios" nillable="true" type="q4:ArrayOfBEClienteRecordatorio" />
      <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContactoFavorito" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEClienteDB" nillable="true" type="tns:BEClienteDB" />
  <xs:complexType name="ArrayOfBEClienteContactoDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEClienteContactoDB" nillable="true" type="tns:BEClienteContactoDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEClienteContactoDB" nillable="true" type="tns:ArrayOfBEClienteContactoDB" />
  <xs:complexType name="BEClienteContactoDB">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BEClienteDB">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContactoClienteID" type="xs:long" />
          <xs:element minOccurs="0" name="TipoContactoID" type="xs:short" />
          <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEClienteContactoDB" nillable="true" type="tns:BEClienteContactoDB" />
  <xs:complexType name="ArrayOfBEPedidoDDWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoDDWebDetalle" nillable="true" type="tns:BEPedidoDDWebDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoDDWebDetalle" nillable="true" type="tns:ArrayOfBEPedidoDDWebDetalle" />
  <xs:complexType name="BEPedidoDDWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:short" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEnvio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IndicadorDigitable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorFaltanteAnunciado" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorPromocion" type="xs:boolean" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoDetalleID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsuarioResponsable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoDDWebDetalle" nillable="true" type="tns:BEPedidoDDWebDetalle" />
  <xs:complexType name="ArrayOfBEEscalaDescuentoZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEscalaDescuentoZona" nillable="true" type="tns:BEEscalaDescuentoZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEscalaDescuentoZona" nillable="true" type="tns:ArrayOfBEEscalaDescuentoZona" />
  <xs:complexType name="BEEscalaDescuentoZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCarga" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MontoHasta" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorDescuento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEscalaDescuentoZona" nillable="true" type="tns:BEEscalaDescuentoZona" />
</xs:schema>