app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Delete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Create">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Update">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="ResponseTypeOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOfint" nillable="true" type="tns:ResponseTypeOfint" />
  <xs:complexType name="ResponseTypeOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOfboolean" nillable="true" type="tns:ResponseTypeOfboolean" />
  <xs:complexType name="ResponseTypeOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOflong" nillable="true" type="tns:ResponseTypeOflong" />
  <xs:complexType name="ResponseTypeOfArrayOfBENotaGaf1LoLd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfBENota" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfBENota" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOfArrayOfBENotaGaf1LoLd" nillable="true" type="tns:ResponseTypeOfArrayOfBENotaGaf1LoLd" />
  <xs:complexType name="ResponseTypeOfArrayOfBEMovimientoDetalleGaf1LoLd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfBEMovimientoDetalle" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfBEMovimientoDetalle" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOfArrayOfBEMovimientoDetalleGaf1LoLd" nillable="true" type="tns:ResponseTypeOfArrayOfBEMovimientoDetalleGaf1LoLd" />
</xs:schema>