app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
  <xs:complexType name="ResponseTypeOflong">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="long" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:long" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOflong" nillable="true" type="tns:ResponseTypeOflong" />
  <xs:complexType name="ResponseTypeOfArrayOfBENotaGaf1LoLd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfBENota" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfBENota" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOfArrayOfBENotaGaf1LoLd" nillable="true" type="tns:ResponseTypeOfArrayOfBENotaGaf1LoLd" />
  <xs:complexType name="ResponseTypeOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseTypeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Framework" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTypeOfboolean" nillable="true" type="tns:ResponseTypeOfboolean" />
</xs:schema>