app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cliente" nillable="true" type="q1:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cliente" nillable="true" type="q2:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cliente" nillable="true" type="q3:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByConsultoraResult" nillable="true" type="q4:ArrayOfBECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByIdResult" nillable="true" type="q5:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByNombreResult" nillable="true" type="q6:ArrayOfBECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClienteByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClienteByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckClienteByConsultoraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidosWebByConsultoraResult" nillable="true" type="q7:ArrayOfBEPedidoWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetClientesByCampaniaResult" nillable="true" type="q8:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampaniaByClienteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="ClienteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampaniaByClienteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetClientesByCampaniaByClienteIDResult" nillable="true" type="q9:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoWebDetalleByCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoWebDetalleByClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidoWebDetalleByClienteResult" nillable="true" type="q10:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogosByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogosByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetCatalogosByCampaniaResult" nillable="true" type="q11:ArrayOfBECatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetCatalogoConfiguracionResult" nillable="true" type="q12:ArrayOfBECatalogoConfiguracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebAnterioresByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebAnterioresByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidosWebAnterioresByConsultoraResult" nillable="true" type="q13:ArrayOfBEPedidoWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoProductosByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoProductosByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidoProductosByCampaniaResult" nillable="true" type="q14:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCatalogoCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCatalogoCampaniaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>