app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEPedidoWebSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraId" type="xs:long" />
      <xs:element minOccurs="0" name="CuvSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detalles" nillable="true" type="tns:ArrayOfBEPedidoWebSetDetalle" />
      <xs:element minOccurs="0" name="EstrategiaId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrdenPedido" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetId" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEstrategiaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoWebSet" nillable="true" type="tns:BEPedidoWebSet" />
  <xs:complexType name="ArrayOfBEPedidoWebSetDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoWebSetDetalle" nillable="true" type="tns:BEPedidoWebSetDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoWebSetDetalle" nillable="true" type="tns:ArrayOfBEPedidoWebSetDetalle" />
  <xs:complexType name="BEPedidoWebSetDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadOriginal" type="xs:int" />
      <xs:element minOccurs="0" name="CuvProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactorRepeticion" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoDetalleId" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="SetDetalleId" type="xs:int" />
      <xs:element minOccurs="0" name="SetId" type="xs:int" />
      <xs:element minOccurs="0" name="SetIdentifierNumber" type="xs:int" />
      <xs:element minOccurs="0" name="TipoOfertaSisId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoWebSetDetalle" nillable="true" type="tns:BEPedidoWebSetDetalle" />
</xs:schema>