app/Portal.Consultoras.Web/Service References/ServiceCliente/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" />
  <xs:import schemaLocation="http://localhost:41615/ClienteService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cliente" nillable="true" type="q1:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cliente" nillable="true" type="q2:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cliente" nillable="true" type="q3:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByConsultoraResult" nillable="true" type="q4:ArrayOfBECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultoraByCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoCliente" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultoraByCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByConsultoraByCodigoResult" nillable="true" type="q5:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByIdResult" nillable="true" type="q6:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByNombreResult" nillable="true" type="q7:ArrayOfBECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClienteByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClienteByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckClienteByConsultoraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExisteClienteConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q8:BECliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExisteClienteConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExisteClienteConsultoraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidosWebByConsultoraResult" nillable="true" type="q9:ArrayOfBEPedidoWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetClientesByCampaniaResult" nillable="true" type="q10:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampaniaByClienteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="ClienteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientesByCampaniaByClienteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetClientesByCampaniaByClienteIDResult" nillable="true" type="q11:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoWebDetalleByCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="clienteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoWebDetalleByClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidoWebDetalleByClienteResult" nillable="true" type="q12:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogosByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogosByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetCatalogosByCampaniaResult" nillable="true" type="q13:ArrayOfBECatalogo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoConfiguracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatalogoConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetCatalogoConfiguracionResult" nillable="true" type="q14:ArrayOfBECatalogoConfiguracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatalogoRevistaPublicado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campania" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" minOccurs="0" name="tamanioImagenIssu" type="q15:Enumeradores.TamanioImagenIssu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatalogoRevistaPublicadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetListCatalogoRevistaPublicadoResult" nillable="true" type="q16:ArrayOfBECatalogoRevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatalogoRevistaPublicadoWithTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campania" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatalogoRevistaPublicadoWithTituloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetListCatalogoRevistaPublicadoWithTituloResult" nillable="true" type="q17:ArrayOfBECatalogoRevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebAnterioresByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidosWebAnterioresByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidosWebAnterioresByConsultoraResult" nillable="true" type="q18:ArrayOfBEPedidoWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoProductosByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoProductosByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidoProductosByCampaniaResult" nillable="true" type="q19:ArrayOfBEPedidoWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCatalogoCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCatalogoCampaniaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="clientes" nillable="true" type="q20:ArrayOfBEClienteDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SaveDBResult" nillable="true" type="q21:ArrayOfBEClienteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultoraDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectByConsultoraDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectByConsultoraDBResult" nillable="true" type="q22:ArrayOfBEClienteDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTelefonoByConsultoraDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="contactoCliente" nillable="true" type="q23:BEClienteContactoDB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTelefonoByConsultoraDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="ValidateTelefonoByConsultoraDBResult" nillable="true" type="q24:BEClienteResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="movimiento" nillable="true" type="q25:BEMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovimientoInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMovimientosPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="clienteId" type="xs:short" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMovimientosPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="ListarMovimientosPorClienteResult" nillable="true" type="q26:ArrayOfBEMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="movimiento" nillable="true" type="q27:BEMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimientoActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="MovimientoActualizarResult" nillable="true" type="q28:TupleOfbooleanstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatorioInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="recordatorio" nillable="true" type="q29:BEClienteRecordatorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatorioInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordatorioInsertarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatoriosObtenerPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatoriosObtenerPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="RecordatoriosObtenerPorClienteResult" nillable="true" type="q30:ArrayOfBEClienteRecordatorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatorioActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="recordatorio" nillable="true" type="q31:BEClienteRecordatorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatorioActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordatorioActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatorioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="clienteId" type="xs:short" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
        <xs:element minOccurs="0" name="recordatorioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordatorioEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecordatorioEliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDeudores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDeudoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="ObtenerDeudoresResult" nillable="true" type="q32:ArrayOfBEClienteDeudaRecordatorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotaInsertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="nota" nillable="true" type="q33:BENota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotaInsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotaInsertarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotasObtenerPorCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotasObtenerPorClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="NotasObtenerPorClienteResult" nillable="true" type="q34:ArrayOfBENota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotaActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cliente" minOccurs="0" name="nota" nillable="true" type="q35:BENota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotaActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotaActualizarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotaEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="clienteId" type="xs:short" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
        <xs:element minOccurs="0" name="clienteNotaId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotaEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotaEliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>