app/Portal.Consultoras.Web/Service References/ServiceProductoCatalogoPersonalizado/ProductoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22462/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" />
  <xs:element name="ObtenerProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoOfertaFinal" type="xs:int" />
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zonaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoProductoMostrar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerProductosResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lugar" type="xs:int" />
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zonaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoProductoMostrar" type="xs:int" />
        <xs:element minOccurs="0" name="limimte" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerTodosProductosResult" nillable="true" type="q2:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>