app/Portal.Consultoras.Web/Service References/ServiceProductoCatalogoPersonalizado/ProductoService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVRevista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfiguracionOfertaID" type="xs:int" />
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsCross" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsExpoOferta" type="xs:int" />
      <xs:element minOccurs="0" name="EsMaquillaje" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstaEnRevista" type="xs:int" />
      <xs:element minOccurs="0" name="FlagNueva" type="xs:int" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenBulk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenCUVPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="MontoMeta" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreBulk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCUVPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Relevancia" type="xs:int" />
      <xs:element minOccurs="0" name="Sello" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCross" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoEstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOfertaSisID" type="xs:int" />
      <xs:element minOccurs="0" name="Volumen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
  <xs:complexType name="ListaParametroOfertaFinal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Algoritmo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Limite" type="xs:int" />
      <xs:element minOccurs="0" name="MontoEscala" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="TieneMDO" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoOfertaFinal" type="xs:int" />
      <xs:element minOccurs="0" name="TipoProductoMostrar" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaParametroOfertaFinal" nillable="true" type="tns:ListaParametroOfertaFinal" />
</xs:schema>