app/Portal.Consultoras.Web/Service References/ServiceProductoCatalogoPersonalizado/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/CatalogoWCF/ProductoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/CatalogoWCF/ProductoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/CatalogoWCF/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductoService_ObtenerProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductos" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosOfertaFinal_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosOfertaFinal" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosOfertaFinal_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosOfertaFinalResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerTodosProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProductos" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerTodosProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosByCodigoSap_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosByCodigoSap" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosByCodigoSap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosByCodigoSapResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosPorCampaniasBySap_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosPorCampaniasBySap" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosPorCampaniasBySap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosPorCampaniasBySapResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosAppCatalogoByListaCUV_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosAppCatalogoByListaCUV" />
  </wsdl:message>
  <wsdl:message name="IProductoService_ObtenerProductosAppCatalogoByListaCUV_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosAppCatalogoByListaCUVResponse" />
  </wsdl:message>
  <wsdl:message name="IProductoService_UpdateCacheListaOfertaFinal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCacheListaOfertaFinal" />
  </wsdl:message>
  <wsdl:message name="IProductoService_UpdateCacheListaOfertaFinal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCacheListaOfertaFinalResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductoService">
    <wsdl:operation name="ObtenerProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductos" message="tns:IProductoService_ObtenerProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosResponse" message="tns:IProductoService_ObtenerProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosOfertaFinal">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosOfertaFinal" message="tns:IProductoService_ObtenerProductosOfertaFinal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosOfertaFinalResponse" message="tns:IProductoService_ObtenerProductosOfertaFinal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerTodosProductos" message="tns:IProductoService_ObtenerTodosProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerTodosProductosResponse" message="tns:IProductoService_ObtenerTodosProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosByCodigoSap">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosByCodigoSap" message="tns:IProductoService_ObtenerProductosByCodigoSap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosByCodigoSapResponse" message="tns:IProductoService_ObtenerProductosByCodigoSap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosPorCampaniasBySap">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosPorCampaniasBySap" message="tns:IProductoService_ObtenerProductosPorCampaniasBySap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosPorCampaniasBySapResponse" message="tns:IProductoService_ObtenerProductosPorCampaniasBySap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosAppCatalogoByListaCUV">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosAppCatalogoByListaCUV" message="tns:IProductoService_ObtenerProductosAppCatalogoByListaCUV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/ObtenerProductosAppCatalogoByListaCUVResponse" message="tns:IProductoService_ObtenerProductosAppCatalogoByListaCUV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCacheListaOfertaFinal">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductoService/UpdateCacheListaOfertaFinal" message="tns:IProductoService_UpdateCacheListaOfertaFinal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductoService/UpdateCacheListaOfertaFinalResponse" message="tns:IProductoService_UpdateCacheListaOfertaFinal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductoService" type="tns:IProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerProductos">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosOfertaFinal">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProductosOfertaFinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProductos">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerTodosProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosByCodigoSap">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProductosByCodigoSap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosPorCampaniasBySap">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProductosPorCampaniasBySap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosAppCatalogoByListaCUV">
      <soap:operation soapAction="http://tempuri.org/IProductoService/ObtenerProductosAppCatalogoByListaCUV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCacheListaOfertaFinal">
      <soap:operation soapAction="http://tempuri.org/IProductoService/UpdateCacheListaOfertaFinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductoService">
    <wsdl:port name="BasicHttpBinding_IProductoService" binding="tns:BasicHttpBinding_IProductoService">
      <soap:address location="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/CatalogoWCF/ProductoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>