app/Portal.Consultoras.Web/Service References/ServiceProductoCatalogoPersonalizado/ProductoService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/CatalogoWCF/ProductoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" />
  <xs:element name="ObtenerProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoOfertaFinal" type="xs:int" />
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zonaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoProductoMostrar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerProductosResult" nillable="true" type="q1:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosOfertaFinal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="lstParametroOfertaFinal" nillable="true" type="q2:ListaParametroOfertaFinal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosOfertaFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerProductosOfertaFinalResult" nillable="true" type="q3:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lugar" type="xs:int" />
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zonaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoProductoMostrar" type="xs:int" />
        <xs:element minOccurs="0" name="limimte" type="xs:int" />
        <xs:element minOccurs="0" name="esFacturacion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerTodosProductosResult" nillable="true" type="q4:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosByCodigoSap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoSap" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosByCodigoSapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerProductosByCodigoSapResult" nillable="true" type="q5:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosPorCampaniasBySap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoSap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroCampania" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosPorCampaniasBySapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerProductosPorCampaniasBySapResult" nillable="true" type="q6:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosAppCatalogoByListaCUV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="listaCuv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProductosAppCatalogoByListaCUVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerProductosAppCatalogoByListaCUVResult" nillable="true" type="q7:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCacheListaOfertaFinal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCacheListaOfertaFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCacheListaOfertaFinalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegaloOfertaFinal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegaloOfertaFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerRegaloOfertaFinalResult" nillable="true" type="q8:RegaloOfertaFinal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegaloMontoMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegaloMontoMetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" minOccurs="0" name="ObtenerRegaloMontoMetaResult" nillable="true" type="q9:RegaloOfertaFinal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRegaloOfertaFinal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraId" type="xs:long" />
        <xs:element minOccurs="0" name="montoTotal" type="xs:double" />
        <xs:element minOccurs="0" name="algoritmo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarRegaloOfertaFinalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>