app/Portal.Consultoras.Web/Service References/ServiceProductoCatalogoPersonalizado/ProductoService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.ServiceCatalogoPersonalizado.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducto" nillable="true" type="tns:ArrayOfProducto" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsMaquillaje" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenBulk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreBulk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Relevancia" type="xs:int" />
      <xs:element minOccurs="0" name="Sello" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volumen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>