app/Portal.Consultoras.Web/Web References/ServicePROL/ServiceStockSsic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wsValidarEstrategia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtsPedido">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="montoMin" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estadoconsultora" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoMax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarEstrategiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsValidarEstrategiaResult" type="tns:TransferirDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransferirDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigoMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="montototal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="montoDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="montoEscala" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="montoAhorroCatalogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="montoAhorroRevista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="wsValidarEstrategiaRetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtsPedido">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="montoMin" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estadoconsultora" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoMax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarEstrategiaRetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsValidarEstrategiaRetailResult" type="tns:TransferirDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerExplotado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoconsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campaña" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerExplotadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerExplotadoResult" type="tns:TransferirDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarPedidoEX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtsPedido">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="montoMin" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estadoconsultora" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoMax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarPedidoEXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsValidarPedidoEXResult" type="tns:TransferirDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarPedidoAutomatico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtsPedido">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="montoMin" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estadoconsultora" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoMax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarPedidoAutomaticoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsValidarPedidoAutomaticoResult" type="tns:TransferirDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarPedidoInteractivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dtsPedido">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="montoMin" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="Zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estadoconsultora" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="MontoMax" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarPedidoInteractivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsValidarPedidoInteractivoResult" type="tns:TransferirDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsDesReservarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codConsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsDesReservarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wsDesReservarPedidoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="revisarWebControl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="revisarWebControlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="revisarWebControlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarDeuda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="consultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsValidarDeudaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsValidarDeudaResult" type="tns:TransferirDatosDeuda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransferirDatosDeuda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigoMensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="wsObtenerPrecioPack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsObtenerPrecioPackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wsObtenerPrecioPackResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsValidarEstrategiaSoapIn">
    <wsdl:part name="parameters" element="tns:wsValidarEstrategia" />
  </wsdl:message>
  <wsdl:message name="wsValidarEstrategiaSoapOut">
    <wsdl:part name="parameters" element="tns:wsValidarEstrategiaResponse" />
  </wsdl:message>
  <wsdl:message name="wsValidarEstrategiaRetailSoapIn">
    <wsdl:part name="parameters" element="tns:wsValidarEstrategiaRetail" />
  </wsdl:message>
  <wsdl:message name="wsValidarEstrategiaRetailSoapOut">
    <wsdl:part name="parameters" element="tns:wsValidarEstrategiaRetailResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerExplotadoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerExplotado" />
  </wsdl:message>
  <wsdl:message name="ObtenerExplotadoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerExplotadoResponse" />
  </wsdl:message>
  <wsdl:message name="wsValidarPedidoEXSoapIn">
    <wsdl:part name="parameters" element="tns:wsValidarPedidoEX" />
  </wsdl:message>
  <wsdl:message name="wsValidarPedidoEXSoapOut">
    <wsdl:part name="parameters" element="tns:wsValidarPedidoEXResponse" />
  </wsdl:message>
  <wsdl:message name="wsValidarPedidoAutomaticoSoapIn">
    <wsdl:part name="parameters" element="tns:wsValidarPedidoAutomatico" />
  </wsdl:message>
  <wsdl:message name="wsValidarPedidoAutomaticoSoapOut">
    <wsdl:part name="parameters" element="tns:wsValidarPedidoAutomaticoResponse" />
  </wsdl:message>
  <wsdl:message name="wsValidarPedidoInteractivoSoapIn">
    <wsdl:part name="parameters" element="tns:wsValidarPedidoInteractivo" />
  </wsdl:message>
  <wsdl:message name="wsValidarPedidoInteractivoSoapOut">
    <wsdl:part name="parameters" element="tns:wsValidarPedidoInteractivoResponse" />
  </wsdl:message>
  <wsdl:message name="wsDesReservarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:wsDesReservarPedido" />
  </wsdl:message>
  <wsdl:message name="wsDesReservarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:wsDesReservarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="revisarWebControlSoapIn">
    <wsdl:part name="parameters" element="tns:revisarWebControl" />
  </wsdl:message>
  <wsdl:message name="revisarWebControlSoapOut">
    <wsdl:part name="parameters" element="tns:revisarWebControlResponse" />
  </wsdl:message>
  <wsdl:message name="wsValidarDeudaSoapIn">
    <wsdl:part name="parameters" element="tns:wsValidarDeuda" />
  </wsdl:message>
  <wsdl:message name="wsValidarDeudaSoapOut">
    <wsdl:part name="parameters" element="tns:wsValidarDeudaResponse" />
  </wsdl:message>
  <wsdl:message name="wsObtenerPrecioPackSoapIn">
    <wsdl:part name="parameters" element="tns:wsObtenerPrecioPack" />
  </wsdl:message>
  <wsdl:message name="wsObtenerPrecioPackSoapOut">
    <wsdl:part name="parameters" element="tns:wsObtenerPrecioPackResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceStockSsicSoap">
    <wsdl:operation name="wsValidarEstrategia">
      <wsdl:input message="tns:wsValidarEstrategiaSoapIn" />
      <wsdl:output message="tns:wsValidarEstrategiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsValidarEstrategiaRetail">
      <wsdl:input message="tns:wsValidarEstrategiaRetailSoapIn" />
      <wsdl:output message="tns:wsValidarEstrategiaRetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerExplotado">
      <wsdl:input message="tns:ObtenerExplotadoSoapIn" />
      <wsdl:output message="tns:ObtenerExplotadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoEX">
      <wsdl:input message="tns:wsValidarPedidoEXSoapIn" />
      <wsdl:output message="tns:wsValidarPedidoEXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoAutomatico">
      <wsdl:input message="tns:wsValidarPedidoAutomaticoSoapIn" />
      <wsdl:output message="tns:wsValidarPedidoAutomaticoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoInteractivo">
      <wsdl:input message="tns:wsValidarPedidoInteractivoSoapIn" />
      <wsdl:output message="tns:wsValidarPedidoInteractivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsDesReservarPedido">
      <wsdl:input message="tns:wsDesReservarPedidoSoapIn" />
      <wsdl:output message="tns:wsDesReservarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="revisarWebControl">
      <wsdl:input message="tns:revisarWebControlSoapIn" />
      <wsdl:output message="tns:revisarWebControlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsValidarDeuda">
      <wsdl:input message="tns:wsValidarDeudaSoapIn" />
      <wsdl:output message="tns:wsValidarDeudaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsObtenerPrecioPack">
      <wsdl:input message="tns:wsObtenerPrecioPackSoapIn" />
      <wsdl:output message="tns:wsObtenerPrecioPackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceStockSsicSoap" type="tns:ServiceStockSsicSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsValidarEstrategia">
      <soap:operation soapAction="http://tempuri.org/wsValidarEstrategia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarEstrategiaRetail">
      <soap:operation soapAction="http://tempuri.org/wsValidarEstrategiaRetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerExplotado">
      <soap:operation soapAction="http://tempuri.org/ObtenerExplotado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoEX">
      <soap:operation soapAction="http://tempuri.org/wsValidarPedidoEX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoAutomatico">
      <soap:operation soapAction="http://tempuri.org/wsValidarPedidoAutomatico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoInteractivo">
      <soap:operation soapAction="http://tempuri.org/wsValidarPedidoInteractivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsDesReservarPedido">
      <soap:operation soapAction="http://tempuri.org/wsDesReservarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revisarWebControl">
      <soap:operation soapAction="http://tempuri.org/revisarWebControl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarDeuda">
      <soap:operation soapAction="http://tempuri.org/wsValidarDeuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsObtenerPrecioPack">
      <soap:operation soapAction="http://tempuri.org/wsObtenerPrecioPack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceStockSsicSoap12" type="tns:ServiceStockSsicSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsValidarEstrategia">
      <soap12:operation soapAction="http://tempuri.org/wsValidarEstrategia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarEstrategiaRetail">
      <soap12:operation soapAction="http://tempuri.org/wsValidarEstrategiaRetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerExplotado">
      <soap12:operation soapAction="http://tempuri.org/ObtenerExplotado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoEX">
      <soap12:operation soapAction="http://tempuri.org/wsValidarPedidoEX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoAutomatico">
      <soap12:operation soapAction="http://tempuri.org/wsValidarPedidoAutomatico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarPedidoInteractivo">
      <soap12:operation soapAction="http://tempuri.org/wsValidarPedidoInteractivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsDesReservarPedido">
      <soap12:operation soapAction="http://tempuri.org/wsDesReservarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="revisarWebControl">
      <soap12:operation soapAction="http://tempuri.org/revisarWebControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsValidarDeuda">
      <soap12:operation soapAction="http://tempuri.org/wsValidarDeuda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsObtenerPrecioPack">
      <soap12:operation soapAction="http://tempuri.org/wsObtenerPrecioPack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStockSsic">
    <wsdl:port name="ServiceStockSsicSoap" binding="tns:ServiceStockSsicSoap">
      <soap:address location="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/wsPROLSicc/ServiceStockSsic.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceStockSsicSoap12" binding="tns:ServiceStockSsicSoap12">
      <soap12:address location="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/wsPROLSicc/ServiceStockSsic.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>