app/Portal.Consultoras.Web/Service References/ServicePedidoRechazado/PedidoRechazadoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PedidoRechazadoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/SB2WCF/PedidoRechazadoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/SB2WCF/PedidoRechazadoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/SB2WCF/PedidoRechazadoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
      <xsd:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/SB2WCF/PedidoRechazadoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPedidoRechazadoService_SetPedidoRechazado_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPedidoRechazado" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_SetPedidoRechazado_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPedidoRechazadoResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_GetBELogGPRValidacionByGetLogGPRValidacionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBELogGPRValidacionByGetLogGPRValidacionId" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_GetBELogGPRValidacionByGetLogGPRValidacionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBELogGPRValidacionByGetLogGPRValidacionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_GetMotivoRechazo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotivoRechazo" />
  </wsdl:message>
  <wsdl:message name="IPedidoRechazadoService_GetMotivoRechazo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotivoRechazoResponse" />
  </wsdl:message>
  <wsdl:portType name="IPedidoRechazadoService">
    <wsdl:operation name="SetPedidoRechazado">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRechazadoService/SetPedidoRechazado" message="tns:IPedidoRechazadoService_SetPedidoRechazado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRechazadoService/SetPedidoRechazadoResponse" message="tns:IPedidoRechazadoService_SetPedidoRechazado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBELogGPRValidacionByGetLogGPRValidacionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRechazadoService/GetBELogGPRValidacionByGetLogGPRValidacionId" message="tns:IPedidoRechazadoService_GetBELogGPRValidacionByGetLogGPRValidacionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRechazadoService/GetBELogGPRValidacionByGetLogGPRValidacionIdResponse" message="tns:IPedidoRechazadoService_GetBELogGPRValidacionByGetLogGPRValidacionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRechazadoService/GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId" message="tns:IPedidoRechazadoService_GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRechazadoService/GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionIdResponse" message="tns:IPedidoRechazadoService_GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotivoRechazo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPedidoRechazadoService/GetMotivoRechazo" message="tns:IPedidoRechazadoService_GetMotivoRechazo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPedidoRechazadoService/GetMotivoRechazoResponse" message="tns:IPedidoRechazadoService_GetMotivoRechazo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPedidoRechazadoService" type="tns:IPedidoRechazadoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetPedidoRechazado">
      <soap:operation soapAction="http://tempuri.org/IPedidoRechazadoService/SetPedidoRechazado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBELogGPRValidacionByGetLogGPRValidacionId">
      <soap:operation soapAction="http://tempuri.org/IPedidoRechazadoService/GetBELogGPRValidacionByGetLogGPRValidacionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId">
      <soap:operation soapAction="http://tempuri.org/IPedidoRechazadoService/GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotivoRechazo">
      <soap:operation soapAction="http://tempuri.org/IPedidoRechazadoService/GetMotivoRechazo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PedidoRechazadoService">
    <wsdl:port name="BasicHttpBinding_IPedidoRechazadoService" binding="tns:BasicHttpBinding_IPedidoRechazadoService">
      <soap:address location="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/SB2WCF/PedidoRechazadoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>