app/Portal.Consultoras.Web/Service References/ServicePedidoRechazado/PedidoRechazadoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaielbserviciosconsultoras-253844361.us-east-1.elb.amazonaws.com/SB2WCF/PedidoRechazadoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
  <xs:complexType name="ArrayOfBEPedidoRechazadoSicc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoRechazadoSicc" nillable="true" type="tns:BEPedidoRechazadoSicc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoRechazadoSicc" nillable="true" type="tns:ArrayOfBEPedidoRechazadoSicc" />
  <xs:complexType name="BEPedidoRechazadoSicc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoRechazadoSicc" nillable="true" type="tns:BEPedidoRechazadoSicc" />
  <xs:complexType name="ArrayOfBELogGPRValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogGPRValidacion" nillable="true" type="tns:BELogGPRValidacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogGPRValidacion" nillable="true" type="tns:ArrayOfBELogGPRValidacion" />
  <xs:complexType name="BELogGPRValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="DescripcionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstadoSimplificacionCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaFinValidacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogGPRValidacionId" type="xs:long" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogGPRValidacion" nillable="true" type="tns:BELogGPRValidacion" />
  <xs:complexType name="ArrayOfBELogGPRValidacionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogGPRValidacionDetalle" nillable="true" type="tns:BELogGPRValidacionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogGPRValidacionDetalle" nillable="true" type="tns:ArrayOfBELogGPRValidacionDetalle" />
  <xs:complexType name="BELogGPRValidacionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndicadorOferta" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogGPRValidacionDetalleId" type="xs:long" />
      <xs:element minOccurs="0" name="LogGPRValidacionId" type="xs:long" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogGPRValidacionDetalle" nillable="true" type="tns:BELogGPRValidacionDetalle" />
  <xs:complexType name="BEGPRUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="EstadoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorGPRSB" type="xs:int" />
      <xs:element minOccurs="0" name="MontoDeuda" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMaximoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionAbierta" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGPRUsuario" nillable="true" type="tns:BEGPRUsuario" />
  <xs:complexType name="BEGPRBanner">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerTitulo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" minOccurs="0" name="BannerUrl" type="q1:Enumeradores.RechazoBannerUrl" />
      <xs:element minOccurs="0" name="MostrarBannerRechazo" type="xs:boolean" />
      <xs:element minOccurs="0" name="RechazadoXdeuda" type="xs:boolean" />
      <xs:element minOccurs="0" name="Textovinculo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGPRBanner" nillable="true" type="tns:BEGPRBanner" />
</xs:schema>