app/Portal.Consultoras.Web/Service References/ServicePedidoRechazado/PedidoRechazadoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/PedidoRechazadoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:element name="SetPedidoRechazado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="lista" nillable="true" type="q1:ArrayOfBEPedidoRechazado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPedidoRechazadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPedidoRechazadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBELogGPRValidacionByGetLogGPRValidacionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="logGPRValidacionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBELogGPRValidacionByGetLogGPRValidacionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetBELogGPRValidacionByGetLogGPRValidacionIdResult" nillable="true" type="q2:BELogGPRValidacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="logGPRValidacionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetListBELogGPRValidacionDetalleBELogGPRValidacionByLogGPRValidacionIdResult" nillable="true" type="q3:ArrayOfBELogGPRValidacionDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>