app/Portal.Consultoras.Data/Connected Services/ServiceSicc/ProcesoPEDCuadreOfertasConsolidadoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="urn:pedidoConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:tns2="urn:posicionConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:impl="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" targetNamespace="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:posicionConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:pedidoConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PosicionConsolidadoWebService">
        <xsd:sequence>
          <xsd:element name="codigoSap" nillable="true" type="soapenc:string" />
          <xsd:element name="cuv" nillable="true" type="soapenc:string" />
          <xsd:element name="escalaDescuento" nillable="true" type="soapenc:string" />
          <xsd:element name="factorCuadre" nillable="true" type="soapenc:string" />
          <xsd:element name="factorRepeticion" nillable="true" type="soapenc:string" />
          <xsd:element name="grupoDescuento" nillable="true" type="soapenc:string" />
          <xsd:element name="importeDescuento1" nillable="true" type="soapenc:string" />
          <xsd:element name="importeDescuento2" nillable="true" type="soapenc:string" />
          <xsd:element name="indAccion" nillable="true" type="soapenc:string" />
          <xsd:element name="indLimiteVenta" nillable="true" type="soapenc:string" />
          <xsd:element name="indicadorRecuperacion" nillable="true" type="soapenc:string" />
          <xsd:element name="numUnidOrig" nillable="true" type="soapenc:string" />
          <xsd:element name="numeroSeccionDetalle" nillable="true" type="soapenc:string" />
          <xsd:element name="observaciones" nillable="true" type="soapenc:string" />
          <xsd:element name="oidCatalogo" nillable="true" type="soapenc:string" />
          <xsd:element name="oidDetaOferta" nillable="true" type="soapenc:string" />
          <xsd:element name="oidEstrategia" nillable="true" type="soapenc:string" />
          <xsd:element name="oidFormaPago" nillable="true" type="soapenc:string" />
          <xsd:element name="oidGrupoOferta" nillable="true" type="soapenc:string" />
          <xsd:element name="oidIndicadorCuadre" nillable="true" type="soapenc:string" />
          <xsd:element name="oidNiveOferta" nillable="true" type="soapenc:string" />
          <xsd:element name="oidNiveOfertaGratis" nillable="true" type="soapenc:string" />
          <xsd:element name="oidNiveOfertaRango" nillable="true" type="soapenc:string" />
          <xsd:element name="oidOferta" nillable="true" type="soapenc:string" />
          <xsd:element name="oidPosicion" nillable="true" type="soapenc:string" />
          <xsd:element name="oidProducto" nillable="true" type="soapenc:string" />
          <xsd:element name="oidSubtipoPosicion" nillable="true" type="soapenc:string" />
          <xsd:element name="oidTipoPosicion" nillable="true" type="soapenc:string" />
          <xsd:element name="pagina" nillable="true" type="soapenc:string" />
          <xsd:element name="porcentajeDescuento" nillable="true" type="soapenc:string" />
          <xsd:element name="precioCatalogo" nillable="true" type="soapenc:string" />
          <xsd:element name="precioContable" nillable="true" type="soapenc:string" />
          <xsd:element name="precioPublico" nillable="true" type="soapenc:string" />
          <xsd:element name="precioUnitario" nillable="true" type="soapenc:string" />
          <xsd:element name="ranking" nillable="true" type="soapenc:string" />
          <xsd:element name="unidadesDemandadas" nillable="true" type="soapenc:string" />
          <xsd:element name="unidadesPorAtender" nillable="true" type="soapenc:string" />
          <xsd:element name="valCodiOrig" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService">
      <xsd:import namespace="urn:posicionConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns2_PosicionConsolidadoWebService">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns2:PosicionConsolidadoWebService[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:pedidoConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:posicionConsolidadoWebService.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PedidoConsolidadoWebService">
        <xsd:sequence>
          <xsd:element name="codigoCliente" nillable="true" type="soapenc:string" />
          <xsd:element name="codigoPais" nillable="true" type="soapenc:string" />
          <xsd:element name="codigoPeriodo" nillable="true" type="soapenc:string" />
          <xsd:element name="codigoVentaGanador" nillable="true" type="soapenc:string" />
          <xsd:element name="estadoPedidoMontoMaximo" nillable="true" type="soapenc:string" />
          <xsd:element name="estadoPedidoMontoMinimo" nillable="true" type="soapenc:string" />
          <xsd:element name="formaPagoGanador" nillable="true" type="soapenc:string" />
          <xsd:element name="indValiProl" nillable="true" type="soapenc:string" />
          <xsd:element name="montoBaseDcto" nillable="true" type="soapenc:string" />
          <xsd:element name="montoBaseDctoAcum" nillable="true" type="soapenc:string" />
          <xsd:element name="montoMaximo" nillable="true" type="soapenc:string" />
          <xsd:element name="montoPedidoMontoMaximo" nillable="true" type="soapenc:string" />
          <xsd:element name="montoPedidoMontoMinimo" nillable="true" type="soapenc:string" />
          <xsd:element name="montoTiendaVirtual" nillable="true" type="soapenc:string" />
          <xsd:element name="montoVentaRetail" nillable="true" type="soapenc:string" />
          <xsd:element name="oidOfertaGanador" nillable="true" type="soapenc:string" />
          <xsd:element name="oidProductoGanador" nillable="true" type="soapenc:string" />
          <xsd:element name="porcDescFijoAlca" nillable="true" type="soapenc:string" />
          <xsd:element name="porcDescVariAlca" nillable="true" type="soapenc:string" />
          <xsd:element name="posiciones" nillable="true" type="impl:ArrayOf_tns2_PosicionConsolidadoWebService" />
          <xsd:element name="precioGanador" nillable="true" type="soapenc:string" />
          <xsd:element name="valRangFinaVari" nillable="true" type="soapenc:string" />
          <xsd:element name="valRangInicVari" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeCuadreOfertasConsolidadoResponse">
    <wsdl:part name="executeCuadreOfertasConsolidadoReturn" type="tns1:PedidoConsolidadoWebService" />
  </wsdl:message>
  <wsdl:message name="executeCuadreOfertasConsolidadoRequest">
    <wsdl:part name="pedido" type="tns1:PedidoConsolidadoWebService" />
  </wsdl:message>
  <wsdl:portType name="ProcesoPEDCuadreOfertasConsolidadoWebServiceImpl">
    <wsdl:operation name="executeCuadreOfertasConsolidado" parameterOrder="pedido">
      <wsdl:input name="executeCuadreOfertasConsolidadoRequest" message="impl:executeCuadreOfertasConsolidadoRequest" />
      <wsdl:output name="executeCuadreOfertasConsolidadoResponse" message="impl:executeCuadreOfertasConsolidadoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcesoPEDCuadreOfertasConsolidadoWebServiceSoapBinding" type="impl:ProcesoPEDCuadreOfertasConsolidadoWebServiceImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="executeCuadreOfertasConsolidado">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="executeCuadreOfertasConsolidadoRequest">
        <wsdlsoap:body use="encoded" namespace="http://impl.ws.pedido.spusicc.service.ssicc.belcorp.biz" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="executeCuadreOfertasConsolidadoResponse">
        <wsdlsoap:body use="encoded" namespace="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcesoPEDCuadreOfertasConsolidadoWebServiceImplService">
    <wsdl:port name="ProcesoPEDCuadreOfertasConsolidadoWebService" binding="impl:ProcesoPEDCuadreOfertasConsolidadoWebServiceSoapBinding">
      <wsdlsoap:address location="http://pelnx2141:7002/nssiccqas/services/ProcesoPEDCuadreOfertasConsolidadoWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>