app/Portal.Consultoras.Data/Connected Services/ServiceSicc/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pents414:8097/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belcorp.BDI.Service.PROL.Entidad" />
  <xs:element name="EjecutarCuadreOfertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Belcorp.BDI.Service.PROL.Entidad" minOccurs="0" name="input" nillable="true" type="q1:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EjecutarCuadreOfertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Belcorp.BDI.Service.PROL.Entidad" minOccurs="0" name="EjecutarCuadreOfertasResult" nillable="true" type="q2:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>