app/Portal.Consultoras.Data/Connected Services/ServiceSicc/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Belcorp.BDI.Service.PROL.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Belcorp.BDI.Service.PROL.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPeriodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoVtaGanador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPedMontoMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoPedMontoMin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="formaPagoGanador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indValiProl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoPedMontoMax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoPedMontoMin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidOfertaGanador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidProductoGanador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="posiciones" nillable="true" type="tns:ArrayOfDetalle" />
      <xs:element minOccurs="0" name="precioGanador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indEnvioSap" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Detalle" nillable="true" type="tns:Detalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalle" nillable="true" type="tns:ArrayOfDetalle" />
  <xs:complexType name="Detalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoSAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="factorCuadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="factorRepeticion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indAccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="indLimiteVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numUnidOrig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidCatalogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidDetaOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidFormaPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidGrupoOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidIndicadorCuadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidNiveOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidNiveOfertaGratis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidNiveOfertaRango" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidPosicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidSubtipoPosicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oidTipoPosicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioCatalogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioContable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ranking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidadesDemandadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidadesPorAtender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valCodiOrig" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Detalle" nillable="true" type="tns:Detalle" />
</xs:schema>