app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TablaLogicaDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TablaLogicaDatosID" type="xs:short" />
      <xs:element minOccurs="0" name="TablaLogicaID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablaLogicaDatos" nillable="true" type="tns:TablaLogicaDatos" />
</xs:schema>