app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BelcorpPaisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBelcorpPaisService_ObtenerIdCampaniaActiva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCampaniaActiva" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerIdCampaniaActiva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCampaniaActivaResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerCodigoISOPorPaisID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCodigoISOPorPaisID" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerCodigoISOPorPaisID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCodigoISOPorPaisIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaises" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTablaLogicaDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaLogicaDatos" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTablaLogicaDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaLogicaDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametrosUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUnete" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametrosUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametroUnetePorTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametroUnetePorTipo" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametroUnetePorTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametroUnetePorTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_AgregarSolicitudPostulante_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudPostulante" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_AgregarSolicitudPostulante_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudPostulanteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_AgregarSolicitudPostulanteList_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudPostulanteList" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_AgregarSolicitudPostulanteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSolicitudPostulanteListResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarSolicitudPostulante_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSolicitudPostulante" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarSolicitudPostulante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSolicitudPostulanteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerSolicitudPostulante_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPostulante" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerSolicitudPostulante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPostulanteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerSolicitudPostulantePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPostulantePorId" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerSolicitudPostulantePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPostulantePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerConsultoraPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerConsultoraPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosDeBelcorpResponde" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosDeBelcorpRespondeResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTiposBloqueo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposBloqueo" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTiposBloqueo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposBloqueoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBelcorpPaisService">
    <wsdl:operation name="ObtenerIdCampaniaActiva">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActiva" message="tns:IBelcorpPaisService_ObtenerIdCampaniaActiva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActivaResponse" message="tns:IBelcorpPaisService_ObtenerIdCampaniaActiva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCodigoISOPorPaisID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerCodigoISOPorPaisID" message="tns:IBelcorpPaisService_ObtenerCodigoISOPorPaisID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerCodigoISOPorPaisIDResponse" message="tns:IBelcorpPaisService_ObtenerCodigoISOPorPaisID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerPaises" message="tns:IBelcorpPaisService_ObtenerPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerPaisesResponse" message="tns:IBelcorpPaisService_ObtenerPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaLogicaDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTablaLogicaDatos" message="tns:IBelcorpPaisService_ObtenerTablaLogicaDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTablaLogicaDatosResponse" message="tns:IBelcorpPaisService_ObtenerTablaLogicaDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnete" message="tns:IBelcorpPaisService_ObtenerParametrosUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUneteResponse" message="tns:IBelcorpPaisService_ObtenerParametrosUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametroUnetePorTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnetePorTipo" message="tns:IBelcorpPaisService_ObtenerParametroUnetePorTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnetePorTipoResponse" message="tns:IBelcorpPaisService_ObtenerParametroUnetePorTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitudPostulante">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/AgregarSolicitudPostulante" message="tns:IBelcorpPaisService_AgregarSolicitudPostulante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/AgregarSolicitudPostulanteResponse" message="tns:IBelcorpPaisService_AgregarSolicitudPostulante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitudPostulanteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/AgregarSolicitudPostulanteList" message="tns:IBelcorpPaisService_AgregarSolicitudPostulanteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/AgregarSolicitudPostulanteListResponse" message="tns:IBelcorpPaisService_AgregarSolicitudPostulanteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSolicitudPostulante">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarSolicitudPostulante" message="tns:IBelcorpPaisService_ActualizarSolicitudPostulante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarSolicitudPostulanteResponse" message="tns:IBelcorpPaisService_ActualizarSolicitudPostulante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPostulante">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerSolicitudPostulante" message="tns:IBelcorpPaisService_ObtenerSolicitudPostulante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerSolicitudPostulanteResponse" message="tns:IBelcorpPaisService_ObtenerSolicitudPostulante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPostulantePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerSolicitudPostulantePorId" message="tns:IBelcorpPaisService_ObtenerSolicitudPostulantePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerSolicitudPostulantePorIdResponse" message="tns:IBelcorpPaisService_ObtenerSolicitudPostulantePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorCodigo" message="tns:IBelcorpPaisService_ObtenerConsultoraPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorCodigoResponse" message="tns:IBelcorpPaisService_ObtenerConsultoraPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTelefonosDeBelcorpResponde">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTelefonosDeBelcorpResponde" message="tns:IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTelefonosDeBelcorpRespondeResponse" message="tns:IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposBloqueo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTiposBloqueo" message="tns:IBelcorpPaisService_ObtenerTiposBloqueo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTiposBloqueoResponse" message="tns:IBelcorpPaisService_ObtenerTiposBloqueo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBelcorpPaisService" type="tns:IBelcorpPaisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerIdCampaniaActiva">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCodigoISOPorPaisID">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerCodigoISOPorPaisID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaises">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaLogicaDatos">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerTablaLogicaDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUnete">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametroUnetePorTipo">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnetePorTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitudPostulante">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/AgregarSolicitudPostulante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSolicitudPostulanteList">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/AgregarSolicitudPostulanteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSolicitudPostulante">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ActualizarSolicitudPostulante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPostulante">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerSolicitudPostulante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPostulantePorId">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerSolicitudPostulantePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTelefonosDeBelcorpResponde">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerTelefonosDeBelcorpResponde" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposBloqueo">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerTiposBloqueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BelcorpPaisService">
    <wsdl:port name="BasicHttpBinding_IBelcorpPaisService" binding="tns:BasicHttpBinding_IBelcorpPaisService">
      <soap:address location="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>