app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ParametroUneteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FKIdParametroUnete" type="xs:int" />
      <xs:element minOccurs="0" name="IdParametroUnete" type="xs:int" />
      <xs:element minOccurs="0" name="IdParametroUnetePadre" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroUneteBE" nillable="true" type="tns:ParametroUneteBE" />
  <xs:complexType name="PaisBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisBE" nillable="true" type="tns:PaisBE" />
  <xs:complexType name="ConsultoraBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsConsultoraLider" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsJoven" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdEstadoActividad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultoraBE" nillable="true" type="tns:ConsultoraBE" />
  <xs:complexType name="BelcorpRespondeBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BelcorpRespondeBE" nillable="true" type="tns:BelcorpRespondeBE" />
  <xs:complexType name="TipoBloqueoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="TipoBloqueo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoBloqueoBE" nillable="true" type="tns:TipoBloqueoBE" />
  <xs:complexType name="GestionValidacionesParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaZonasTelefonicasActivas" nillable="true" type="tns:ArrayOfParametroUneteBE" />
      <xs:element minOccurs="0" name="ListaZonasTelefonicasInactivas" nillable="true" type="tns:ArrayOfParametroUneteBE" />
      <xs:element minOccurs="0" name="ParametroCorreo" nillable="true" type="tns:ParametroUneteBE" />
      <xs:element minOccurs="0" name="ParametroTelefono" nillable="true" type="tns:ParametroUneteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GestionValidacionesParameter" nillable="true" type="tns:GestionValidacionesParameter" />
  <xs:complexType name="ArrayOfParametroUneteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroUneteBE" nillable="true" type="tns:ParametroUneteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroUneteBE" nillable="true" type="tns:ArrayOfParametroUneteBE" />
  <xs:complexType name="CampaniaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicioFacturacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaniaBE" nillable="true" type="tns:CampaniaBE" />
</xs:schema>