app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BelcorpPaisService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBelcorpPaisService_ActualizarEstadoParametroUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoParametroUnete" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarEstadoParametroUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoParametroUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerIdCampaniaActiva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCampaniaActiva" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerIdCampaniaActiva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCampaniaActivaResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerCodigoISOPorPaisID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCodigoISOPorPaisID" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerCodigoISOPorPaisID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCodigoISOPorPaisIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaises" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTablaLogicaDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaLogicaDatos" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTablaLogicaDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTablaLogicaDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametrosUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUnete" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametrosUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametroUnetePorTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametroUnetePorTipo" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametroUnetePorTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametroUnetePorTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametroUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametroUnete" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametroUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametroUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerConsultoraPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerConsultoraPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerConsultoraPorDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorDocumento" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerConsultoraPorDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosDeBelcorpResponde" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTelefonosDeBelcorpRespondeResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTiposBloqueo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposBloqueo" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerTiposBloqueo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposBloqueoResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarParametroUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarParametroUnete" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarParametroUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarParametroUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarValidacionesUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarValidacionesUnete" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ActualizarValidacionesUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarValidacionesUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametrosUnetePorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUnetePorNombre" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerParametrosUnetePorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerParametrosUnetePorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerIdCampaniaActivaPorZona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCampaniaActivaPorZona" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerIdCampaniaActivaPorZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCampaniaActivaPorZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerCampaniasAnterioresDesdeActual_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCampaniasAnterioresDesdeActual" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerCampaniasAnterioresDesdeActual_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCampaniasAnterioresDesdeActualResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerDatosConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosConsultora" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerDatosConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDatosConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_GetDatosConsultoraByRegionZona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosConsultoraByRegionZona" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_GetDatosConsultoraByRegionZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosConsultoraByRegionZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerPaisContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisContrasenia" />
  </wsdl:message>
  <wsdl:message name="IBelcorpPaisService_ObtenerPaisContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPaisContraseniaResponse" />
  </wsdl:message>
  <wsdl:portType name="IBelcorpPaisService">
    <wsdl:operation name="ActualizarEstadoParametroUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarEstadoParametroUnete" message="tns:IBelcorpPaisService_ActualizarEstadoParametroUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarEstadoParametroUneteResponse" message="tns:IBelcorpPaisService_ActualizarEstadoParametroUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCampaniaActiva">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActiva" message="tns:IBelcorpPaisService_ObtenerIdCampaniaActiva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActivaResponse" message="tns:IBelcorpPaisService_ObtenerIdCampaniaActiva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCodigoISOPorPaisID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerCodigoISOPorPaisID" message="tns:IBelcorpPaisService_ObtenerCodigoISOPorPaisID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerCodigoISOPorPaisIDResponse" message="tns:IBelcorpPaisService_ObtenerCodigoISOPorPaisID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerPaises" message="tns:IBelcorpPaisService_ObtenerPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerPaisesResponse" message="tns:IBelcorpPaisService_ObtenerPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaLogicaDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTablaLogicaDatos" message="tns:IBelcorpPaisService_ObtenerTablaLogicaDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTablaLogicaDatosResponse" message="tns:IBelcorpPaisService_ObtenerTablaLogicaDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnete" message="tns:IBelcorpPaisService_ObtenerParametrosUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUneteResponse" message="tns:IBelcorpPaisService_ObtenerParametrosUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametroUnetePorTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnetePorTipo" message="tns:IBelcorpPaisService_ObtenerParametroUnetePorTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnetePorTipoResponse" message="tns:IBelcorpPaisService_ObtenerParametroUnetePorTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametroUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnete" message="tns:IBelcorpPaisService_ObtenerParametroUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUneteResponse" message="tns:IBelcorpPaisService_ObtenerParametroUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorCodigo" message="tns:IBelcorpPaisService_ObtenerConsultoraPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorCodigoResponse" message="tns:IBelcorpPaisService_ObtenerConsultoraPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorDocumento" message="tns:IBelcorpPaisService_ObtenerConsultoraPorDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorDocumentoResponse" message="tns:IBelcorpPaisService_ObtenerConsultoraPorDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTelefonosDeBelcorpResponde">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTelefonosDeBelcorpResponde" message="tns:IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTelefonosDeBelcorpRespondeResponse" message="tns:IBelcorpPaisService_ObtenerTelefonosDeBelcorpResponde_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposBloqueo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTiposBloqueo" message="tns:IBelcorpPaisService_ObtenerTiposBloqueo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerTiposBloqueoResponse" message="tns:IBelcorpPaisService_ObtenerTiposBloqueo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarParametroUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarParametroUnete" message="tns:IBelcorpPaisService_ActualizarParametroUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarParametroUneteResponse" message="tns:IBelcorpPaisService_ActualizarParametroUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarValidacionesUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarValidacionesUnete" message="tns:IBelcorpPaisService_ActualizarValidacionesUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ActualizarValidacionesUneteResponse" message="tns:IBelcorpPaisService_ActualizarValidacionesUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUnetePorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnetePorNombre" message="tns:IBelcorpPaisService_ObtenerParametrosUnetePorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnetePorNombreResponse" message="tns:IBelcorpPaisService_ObtenerParametrosUnetePorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCampaniaActivaPorZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActivaPorZona" message="tns:IBelcorpPaisService_ObtenerIdCampaniaActivaPorZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActivaPorZonaResponse" message="tns:IBelcorpPaisService_ObtenerIdCampaniaActivaPorZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCampaniasAnterioresDesdeActual">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerCampaniasAnterioresDesdeActual" message="tns:IBelcorpPaisService_ObtenerCampaniasAnterioresDesdeActual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerCampaniasAnterioresDesdeActualResponse" message="tns:IBelcorpPaisService_ObtenerCampaniasAnterioresDesdeActual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerDatosConsultora" message="tns:IBelcorpPaisService_ObtenerDatosConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerDatosConsultoraResponse" message="tns:IBelcorpPaisService_ObtenerDatosConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosConsultoraByRegionZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/GetDatosConsultoraByRegionZona" message="tns:IBelcorpPaisService_GetDatosConsultoraByRegionZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/GetDatosConsultoraByRegionZonaResponse" message="tns:IBelcorpPaisService_GetDatosConsultoraByRegionZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaisContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerPaisContrasenia" message="tns:IBelcorpPaisService_ObtenerPaisContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBelcorpPaisService/ObtenerPaisContraseniaResponse" message="tns:IBelcorpPaisService_ObtenerPaisContrasenia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBelcorpPaisService" type="tns:IBelcorpPaisService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarEstadoParametroUnete">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ActualizarEstadoParametroUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCampaniaActiva">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCodigoISOPorPaisID">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerCodigoISOPorPaisID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaises">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTablaLogicaDatos">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerTablaLogicaDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUnete">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametroUnetePorTipo">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnetePorTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametroUnete">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerParametroUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorCodigo">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorDocumento">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerConsultoraPorDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTelefonosDeBelcorpResponde">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerTelefonosDeBelcorpResponde" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposBloqueo">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerTiposBloqueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarParametroUnete">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ActualizarParametroUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarValidacionesUnete">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ActualizarValidacionesUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerParametrosUnetePorNombre">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerParametrosUnetePorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCampaniaActivaPorZona">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerIdCampaniaActivaPorZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCampaniasAnterioresDesdeActual">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerCampaniasAnterioresDesdeActual" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDatosConsultora">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerDatosConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosConsultoraByRegionZona">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/GetDatosConsultoraByRegionZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPaisContrasenia">
      <soap:operation soapAction="http://tempuri.org/IBelcorpPaisService/ObtenerPaisContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BelcorpPaisService">
    <wsdl:port name="BasicHttpBinding_IBelcorpPaisService" binding="tns:BasicHttpBinding_IBelcorpPaisService">
      <soap:address location="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>