app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TablaLogicaDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TablaLogicaDatosID" type="xs:short" />
      <xs:element minOccurs="0" name="TablaLogicaID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablaLogicaDatos" nillable="true" type="tns:TablaLogicaDatos" />
  <xs:complexType name="SolicitudPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaternoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultoraRecomienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoLote" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoOtrasMarcas" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPremio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoBurocrediticio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoGEO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoPostulante" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoPostulanteEnPortalGZ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoTelefonico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaEnvio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegValidacionTelefonica" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FuenteIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenCDD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenIFE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorActivo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorOptin" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LugarHijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LugarPadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoMeta" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoRechazoTelefonico" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NivelEducativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreConsultoraRecomienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPreimpreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Paso" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PoblacionVilla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombreAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaGEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombreAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudPostulanteID" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContacto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoNacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVinculoAval" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoVinculoFamiliar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoVinculoNoFamiliar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VistoPorGZ" type="xs:boolean" />
      <xs:element minOccurs="0" name="VistoPorSAC" type="xs:boolean" />
      <xs:element minOccurs="0" name="VistoPorSE" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudPostulante" nillable="true" type="tns:SolicitudPostulante" />
  <xs:complexType name="ArrayOfSolicitudPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudPostulante" nillable="true" type="tns:SolicitudPostulante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudPostulante" nillable="true" type="tns:ArrayOfSolicitudPostulante" />
</xs:schema>