app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" />
  <xs:complexType name="PaisCollection">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="PaisBE" nillable="true" type="q1:PaisBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisCollection" nillable="true" type="tns:PaisCollection" />
  <xs:complexType name="TablaLogicaDatosCollection">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" maxOccurs="unbounded" name="TablaLogicaDatos" nillable="true" type="q2:TablaLogicaDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablaLogicaDatosCollection" nillable="true" type="tns:TablaLogicaDatosCollection" />
  <xs:complexType name="ParametroUneteCollection">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="ParametroUneteBE" nillable="true" type="q3:ParametroUneteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroUneteCollection" nillable="true" type="tns:ParametroUneteCollection" />
  <xs:complexType name="TipoBloqueoCollection">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="TipoBloqueoBE" nillable="true" type="q4:TipoBloqueoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoBloqueoCollection" nillable="true" type="tns:TipoBloqueoCollection" />
  <xs:complexType name="CampaniaCollection">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="CampaniaBE" nillable="true" type="q5:CampaniaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaniaCollection" nillable="true" type="tns:CampaniaCollection" />
</xs:schema>