app/Portal.Consultoras.Web/Service References/HojaInscripcionBelcorpPais/BelcorpPaisService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/BelcorpPaisService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" />
  <xs:element name="ObtenerIdCampaniaActiva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdCampaniaActivaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIdCampaniaActivaResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCodigoISOPorPaisID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCodigoISOPorPaisIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCodigoISOPorPaisIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerPaisesResult" nillable="true" type="q1:PaisCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaLogicaDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tablaLogicaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaLogicaDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerTablaLogicaDatosResult" nillable="true" type="q2:TablaLogicaDatosCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosUnete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoParametro" type="xs:int" />
        <xs:element minOccurs="0" name="idTipoParametroUnetePadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosUneteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerParametrosUneteResult" nillable="true" type="q3:ParametroUneteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroUnetePorTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoParametro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroUnetePorTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerParametroUnetePorTipoResult" nillable="true" type="q4:ParametroUneteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" minOccurs="0" name="solicitudPostulante" nillable="true" type="q5:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSolicitudPostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulanteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" minOccurs="0" name="solicitudPostulanteList" nillable="true" type="q6:ArrayOfSolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulanteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSolicitudPostulanteListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" minOccurs="0" name="solicitudPostulante" nillable="true" type="q7:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" minOccurs="0" name="ObtenerSolicitudPostulanteResult" nillable="true" type="q8:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulantePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulantePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" minOccurs="0" name="ObtenerSolicitudPostulantePorIdResult" nillable="true" type="q9:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerConsultoraPorCodigoResult" nillable="true" type="q10:ConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTelefonosDeBelcorpResponde">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTelefonosDeBelcorpRespondeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerTelefonosDeBelcorpRespondeResult" nillable="true" type="q11:BelcorpRespondeBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposBloqueo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposBloqueoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerTiposBloqueoResult" nillable="true" type="q12:TipoBloqueoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>