app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CargaMasiva" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CargaMasiva" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBECargaMasivaImagenes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECargaMasivaImagenes" nillable="true" type="tns:BECargaMasivaImagenes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECargaMasivaImagenes" nillable="true" type="tns:ArrayOfBECargaMasivaImagenes" />
  <xs:complexType name="BECargaMasivaImagenes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECargaMasivaImagenes" nillable="true" type="tns:BECargaMasivaImagenes" />
</xs:schema>