app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEKitCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEKitCaminoBrillante" nillable="true" type="tns:BEKitCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEKitCaminoBrillante" nillable="true" type="tns:ArrayOfBEKitCaminoBrillante" />
  <xs:complexType name="BEKitCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoKit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCortaCUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="FlagDigitable" type="xs:int" />
      <xs:element minOccurs="0" name="FlagHabilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagHistorico" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagSeleccionado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FotoProductoMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoProductoSmall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ganancia" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="OrigenPedidoWebFicha" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoEstrategiaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEKitCaminoBrillante" nillable="true" type="tns:BEKitCaminoBrillante" />
  <xs:complexType name="ArrayOfBEDesmostradoresCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEDesmostradoresCaminoBrillante" nillable="true" type="tns:BEDesmostradoresCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEDesmostradoresCaminoBrillante" nillable="true" type="tns:ArrayOfBEDesmostradoresCaminoBrillante" />
  <xs:complexType name="BEDesmostradoresCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCortaCUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="FlagSeleccionado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FotoProductoMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoProductoSmall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoEstrategiaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDesmostradoresCaminoBrillante" nillable="true" type="tns:BEDesmostradoresCaminoBrillante" />
</xs:schema>