app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.PagoEnLinea" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.PagoEnLinea" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEPagoEnLineaResultadoLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliasNameTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoAccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAutorizacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsiCodigoPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsiImporteComercio" type="xs:decimal" />
      <xs:element minOccurs="0" name="CsiMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CsiPorcentajeDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="CsiTipoCobro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCodigoAccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionIndicadorComercioElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Etiqueta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaTransaccion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdGuidExternoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdGuidTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTokenUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUnicoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteAutorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteCuota" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndicadorComercioElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MerchantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoGastosAdministrativos" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoPago" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreBancoEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCuota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroOrdenTienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroReferencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigenTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoEnLineaResultadoLogId" type="xs:int" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaSistemAntifraude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultadoValidacionCVV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenTarjetaGuardada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPagoEnLineaResultadoLog" nillable="true" type="tns:BEPagoEnLineaResultadoLog" />
</xs:schema>