app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cupon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Cupon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BECuponConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuponConsultoraId" type="xs:int" />
      <xs:element minOccurs="0" name="CuponId" type="xs:int" />
      <xs:element minOccurs="0" name="EnvioCorreo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoCupon" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TipoCupon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorAsociado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECuponConsultora" nillable="true" type="tns:BECuponConsultora" />
</xs:schema>