app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEMisPedidosCampania">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidosCampania" nillable="true" type="tns:BEMisPedidosCampania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidosCampania" nillable="true" type="tns:ArrayOfBEMisPedidosCampania" />
  <xs:complexType name="BEMisPedidosCampania">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoEstadoPedido" type="xs:short" />
      <xs:element minOccurs="0" name="DescripcionEstadoPedido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidosCampania" nillable="true" type="tns:BEMisPedidosCampania" />
  <xs:complexType name="ArrayOfBEMisPedidosIngresados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidosIngresados" nillable="true" type="tns:BEMisPedidosIngresados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidosIngresados" nillable="true" type="tns:ArrayOfBEMisPedidosIngresados" />
  <xs:complexType name="BEMisPedidosIngresados">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadPedido" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfBEMisPedidosIngresadosDetalle" />
      <xs:element minOccurs="0" name="ImportePedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidosIngresados" nillable="true" type="tns:BEMisPedidosIngresados" />
  <xs:complexType name="ArrayOfBEMisPedidosIngresadosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidosIngresadosDetalle" nillable="true" type="tns:BEMisPedidosIngresadosDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidosIngresadosDetalle" nillable="true" type="tns:ArrayOfBEMisPedidosIngresadosDetalle" />
  <xs:complexType name="BEMisPedidosIngresadosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidosIngresadosDetalle" nillable="true" type="tns:BEMisPedidosIngresadosDetalle" />
  <xs:complexType name="ArrayOfBEMisPedidosFacturados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidosFacturados" nillable="true" type="tns:BEMisPedidosFacturados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidosFacturados" nillable="true" type="tns:ArrayOfBEMisPedidosFacturados" />
  <xs:complexType name="BEMisPedidosFacturados">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadPedido" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfBEMisPedidosFacturadosDetalle" />
      <xs:element minOccurs="0" name="ImportePedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidosFacturados" nillable="true" type="tns:BEMisPedidosFacturados" />
  <xs:complexType name="ArrayOfBEMisPedidosFacturadosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidosFacturadosDetalle" nillable="true" type="tns:BEMisPedidosFacturadosDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidosFacturadosDetalle" nillable="true" type="tns:ArrayOfBEMisPedidosFacturadosDetalle" />
  <xs:complexType name="BEMisPedidosFacturadosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidosFacturadosDetalle" nillable="true" type="tns:BEMisPedidosFacturadosDetalle" />
  <xs:complexType name="ArrayOfBETrackingDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETrackingDetalle" nillable="true" type="tns:BETrackingDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETrackingDetalle" nillable="true" type="tns:ArrayOfBETrackingDetalle" />
  <xs:complexType name="BETrackingDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alcanzado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Campana" type="xs:int" />
      <xs:element minOccurs="0" name="Etapa" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFormatted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETrackingDetalle" nillable="true" type="tns:BETrackingDetalle" />
</xs:schema>