app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/PedidoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Enumeradores.RechazoBannerUrl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ninguna" />
      <xs:enumeration value="Deuda" />
      <xs:enumeration value="ModificaPedido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumeradores.RechazoBannerUrl" nillable="true" type="tns:Enumeradores.RechazoBannerUrl" />
  <xs:simpleType name="Enumeradores.ResultadoReserva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ninguno" />
      <xs:enumeration value="Reservado" />
      <xs:enumeration value="ReservadoObservaciones" />
      <xs:enumeration value="NoReservadoObservaciones" />
      <xs:enumeration value="NoReservadoMontoMinimo" />
      <xs:enumeration value="NoReservadoMontoMaximo" />
      <xs:enumeration value="ReservaNoDisponible" />
      <xs:enumeration value="NoReservadoDeuda" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumeradores.ResultadoReserva" nillable="true" type="tns:Enumeradores.ResultadoReserva" />
  <xs:simpleType name="Enumeradores.MotivoPedidoLock">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ninguno" />
      <xs:enumeration value="GPR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Reservado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HorarioRestringido">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Facturado">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumeradores.MotivoPedidoLock" nillable="true" type="tns:Enumeradores.MotivoPedidoLock" />
</xs:schema>