app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEUsuarioOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEUsuarioOpciones" nillable="true" type="tns:BEUsuarioOpciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEUsuarioOpciones" nillable="true" type="tns:ArrayOfBEUsuarioOpciones" />
  <xs:complexType name="BEUsuarioOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpcionesUsuarioId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioOpciones" nillable="true" type="tns:BEUsuarioOpciones" />
</xs:schema>