app/Portal.Consultoras.Web/Service References/ServicePedido/PedidoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Incentivo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Incentivo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEIncentivoProgramaNuevasNivel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEIncentivoProgramaNuevasNivel" nillable="true" type="tns:BEIncentivoProgramaNuevasNivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEIncentivoProgramaNuevasNivel" nillable="true" type="tns:ArrayOfBEIncentivoProgramaNuevasNivel" />
  <xs:complexType name="BEIncentivoProgramaNuevasNivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoConcurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuponesProgramaNuevas" nillable="true" type="tns:ArrayOfBEIncentivoProgramaNuevasCupon" />
      <xs:element minOccurs="0" name="MontoExigidoCupon" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoExigidoPremio" type="xs:decimal" />
      <xs:element minOccurs="0" name="PremiosProgramaNuevas" nillable="true" type="tns:ArrayOfBEIncentivoProgramaNuevasPremio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEIncentivoProgramaNuevasNivel" nillable="true" type="tns:BEIncentivoProgramaNuevasNivel" />
  <xs:complexType name="ArrayOfBEIncentivoProgramaNuevasCupon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEIncentivoProgramaNuevasCupon" nillable="true" type="tns:BEIncentivoProgramaNuevasCupon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEIncentivoProgramaNuevasCupon" nillable="true" type="tns:ArrayOfBEIncentivoProgramaNuevasCupon" />
  <xs:complexType name="BEIncentivoProgramaNuevasCupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoConcurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCupon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ganancia" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorCuponIndependiente" type="xs:boolean" />
      <xs:element minOccurs="0" name="IndicadorKit" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroCampanasVigentes" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="TextoLibre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadesMaximas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEIncentivoProgramaNuevasCupon" nillable="true" type="tns:BEIncentivoProgramaNuevasCupon" />
  <xs:complexType name="ArrayOfBEIncentivoProgramaNuevasPremio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEIncentivoProgramaNuevasPremio" nillable="true" type="tns:BEIncentivoProgramaNuevasPremio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEIncentivoProgramaNuevasPremio" nillable="true" type="tns:ArrayOfBEIncentivoProgramaNuevasPremio" />
  <xs:complexType name="BEIncentivoProgramaNuevasPremio">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConcurso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ganancia" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorKitNuevas" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="TextoLibre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEIncentivoProgramaNuevasPremio" nillable="true" type="tns:BEIncentivoProgramaNuevasPremio" />
</xs:schema>