app/Portal.Consultoras.Web/Service References/HojaInscripcionODS/ODSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsultoraBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsConsultoraLider" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsJoven" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdEstadoActividad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultoraBE" nillable="true" type="tns:ConsultoraBE" />
  <xs:complexType name="ZonaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GZEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GerenteZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZonaBE" nillable="true" type="tns:ZonaBE" />
  <xs:complexType name="SeccionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SeccionID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeccionBE" nillable="true" type="tns:SeccionBE" />
  <xs:complexType name="ConsultoraLiderBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampanaAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampanaProcesoLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaInicioLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckSumId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoClasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivelLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivelLiderAnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSubClasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="NivelProyectado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NivelProyectadoAnt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionGestionLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionGestionLiderAnt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultoraLiderBE" nillable="true" type="tns:ConsultoraLiderBE" />
  <xs:complexType name="EsConsultoraBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdEstadoActividad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSolicitud" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EsConsultoraBE" nillable="true" type="tns:EsConsultoraBE" />
  <xs:complexType name="DatosConsultoraBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodAutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodGenero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDatosGenerales" type="xs:boolean" />
      <xs:element minOccurs="0" name="FecNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstActividad" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosConsultoraBE" nillable="true" type="tns:DatosConsultoraBE" />
</xs:schema>