app/Portal.Consultoras.Web/Service References/HojaInscripcionODS/ODSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ODSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IODSService_ObtenerEstadoActividadDeConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoActividadDeConsultora" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerEstadoActividadDeConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoActividadDeConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerTiposMetas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposMetas" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerTiposMetas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposMetasResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorNumeroDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorNumeroDocumento" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorNumeroDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorNumeroDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorCodigoConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorCodigoConsultora" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorCodigoConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorCodigoConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerZona_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZona" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerSeccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSeccion" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerSeccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorZonaYSeccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorZonaYSeccion" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorZonaYSeccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorZonaYSeccionResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorZonaYSeccionUnete_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorZonaYSeccionUnete" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraPorZonaYSeccionUnete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraPorZonaYSeccionUneteResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraLiderPorZonaySeccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraLiderPorZonaySeccion" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerConsultoraLiderPorZonaySeccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerConsultoraLiderPorZonaySeccionResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerYaEsConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerYaEsConsultora" />
  </wsdl:message>
  <wsdl:message name="IODSService_ObtenerYaEsConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerYaEsConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IODSService_GetDatosConsultoraPorDocumentos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosConsultoraPorDocumentos" />
  </wsdl:message>
  <wsdl:message name="IODSService_GetDatosConsultoraPorDocumentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosConsultoraPorDocumentosResponse" />
  </wsdl:message>
  <wsdl:portType name="IODSService">
    <wsdl:operation name="ObtenerEstadoActividadDeConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerEstadoActividadDeConsultora" message="tns:IODSService_ObtenerEstadoActividadDeConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerEstadoActividadDeConsultoraResponse" message="tns:IODSService_ObtenerEstadoActividadDeConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposMetas">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerTiposMetas" message="tns:IODSService_ObtenerTiposMetas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerTiposMetasResponse" message="tns:IODSService_ObtenerTiposMetas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorNumeroDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorNumeroDocumento" message="tns:IODSService_ObtenerConsultoraPorNumeroDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorNumeroDocumentoResponse" message="tns:IODSService_ObtenerConsultoraPorNumeroDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorCodigoConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorCodigoConsultora" message="tns:IODSService_ObtenerConsultoraPorCodigoConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorCodigoConsultoraResponse" message="tns:IODSService_ObtenerConsultoraPorCodigoConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerZona" message="tns:IODSService_ObtenerZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerZonaResponse" message="tns:IODSService_ObtenerZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSeccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerSeccion" message="tns:IODSService_ObtenerSeccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerSeccionResponse" message="tns:IODSService_ObtenerSeccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorZonaYSeccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorZonaYSeccion" message="tns:IODSService_ObtenerConsultoraPorZonaYSeccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorZonaYSeccionResponse" message="tns:IODSService_ObtenerConsultoraPorZonaYSeccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorZonaYSeccionUnete">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorZonaYSeccionUnete" message="tns:IODSService_ObtenerConsultoraPorZonaYSeccionUnete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraPorZonaYSeccionUneteResponse" message="tns:IODSService_ObtenerConsultoraPorZonaYSeccionUnete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraLiderPorZonaySeccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraLiderPorZonaySeccion" message="tns:IODSService_ObtenerConsultoraLiderPorZonaySeccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerConsultoraLiderPorZonaySeccionResponse" message="tns:IODSService_ObtenerConsultoraLiderPorZonaySeccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerYaEsConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/ObtenerYaEsConsultora" message="tns:IODSService_ObtenerYaEsConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/ObtenerYaEsConsultoraResponse" message="tns:IODSService_ObtenerYaEsConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosConsultoraPorDocumentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IODSService/GetDatosConsultoraPorDocumentos" message="tns:IODSService_GetDatosConsultoraPorDocumentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IODSService/GetDatosConsultoraPorDocumentosResponse" message="tns:IODSService_GetDatosConsultoraPorDocumentos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IODSService" type="tns:IODSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEstadoActividadDeConsultora">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerEstadoActividadDeConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiposMetas">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerTiposMetas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorNumeroDocumento">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerConsultoraPorNumeroDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorCodigoConsultora">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerConsultoraPorCodigoConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZona">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSeccion">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorZonaYSeccion">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerConsultoraPorZonaYSeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraPorZonaYSeccionUnete">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerConsultoraPorZonaYSeccionUnete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerConsultoraLiderPorZonaySeccion">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerConsultoraLiderPorZonaySeccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerYaEsConsultora">
      <soap:operation soapAction="http://tempuri.org/IODSService/ObtenerYaEsConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosConsultoraPorDocumentos">
      <soap:operation soapAction="http://tempuri.org/IODSService/GetDatosConsultoraPorDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ODSService">
    <wsdl:port name="BasicHttpBinding_IODSService" binding="tns:BasicHttpBinding_IODSService">
      <soap:address location="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>