app/Portal.Consultoras.Web/Service References/HojaInscripcionODS/ODSService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ODSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
  <xs:element name="ObtenerEstadoActividadDeConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoActividadDeConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEstadoActividadDeConsultoraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposMetas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposMetasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerTiposMetasResult" nillable="true" type="q1:TipoMetaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorNumeroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorNumeroDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerConsultoraPorNumeroDocumentoResult" nillable="true" type="q2:ConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorCodigoConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorCodigoConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerConsultoraPorCodigoConsultoraResult" nillable="true" type="q3:ConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerZonaResult" nillable="true" type="q4:ZonaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zonaID" type="xs:int" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerSeccionResult" nillable="true" type="q5:SeccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorZonaYSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zonaID" type="xs:int" />
        <xs:element minOccurs="0" name="seccionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorZonaYSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerConsultoraPorZonaYSeccionResult" nillable="true" type="q6:ConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorZonaYSeccionUnete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraPorZonaYSeccionUneteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerConsultoraPorZonaYSeccionUneteResult" nillable="true" type="q7:ConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraLiderPorZonaySeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConsultoraLiderPorZonaySeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerConsultoraLiderPorZonaySeccionResult" nillable="true" type="q8:ConsultoraLiderBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerYaEsConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerYaEsConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerYaEsConsultoraResult" nillable="true" type="q9:EsConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosConsultoraPorDocumentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosConsultoraPorDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="GetDatosConsultoraPorDocumentosResult" nillable="true" type="q10:DatosConsultoraBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>