app/Portal.Consultoras.Web/Service References/HojaInscripcionODS/ODSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoMeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoActivo" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IdTipoMeta" type="xs:int" />
      <xs:element minOccurs="0" name="MontoMaximo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimo" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaisID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMeta" nillable="true" type="tns:TipoMeta" />
</xs:schema>