app/Portal.Consultoras.Web/Service References/ServicePaqueteDocumentario/PdfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PdfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://54.208.59.210/RVDigitalWSPrueba/PdfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://54.208.59.210/RVDigitalWSPrueba/PdfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://54.208.59.210/RVDigitalWSPrueba/PdfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BEL.RVDigital.DC" />
      <xsd:import schemaLocation="http://54.208.59.210/RVDigitalWSPrueba/PdfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPdfService_LIS_Campana_InputMessage">
    <wsdl:part name="parameters" element="tns:LIS_Campana" />
  </wsdl:message>
  <wsdl:message name="IPdfService_LIS_Campana_OutputMessage">
    <wsdl:part name="parameters" element="tns:LIS_CampanaResponse" />
  </wsdl:message>
  <wsdl:message name="IPdfService_GET_URL_InputMessage">
    <wsdl:part name="parameters" element="tns:GET_URL" />
  </wsdl:message>
  <wsdl:message name="IPdfService_GET_URL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GET_URLResponse" />
  </wsdl:message>
  <wsdl:portType name="IPdfService">
    <wsdl:operation name="LIS_Campana">
      <wsdl:input wsaw:Action="http://tempuri.org/IPdfService/LIS_Campana" message="tns:IPdfService_LIS_Campana_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPdfService/LIS_CampanaResponse" message="tns:IPdfService_LIS_Campana_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GET_URL">
      <wsdl:input wsaw:Action="http://tempuri.org/IPdfService/GET_URL" message="tns:IPdfService_GET_URL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPdfService/GET_URLResponse" message="tns:IPdfService_GET_URL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PdfService" />
</wsdl:definitions>