app/Portal.Consultoras.Web/Service References/ServicePaqueteDocumentario/PdfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BEL.RVDigital.DC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BEL.RVDigital.DC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://54.208.59.210/RVDigitalWSPrueba/PdfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ResultObject2">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lista" nillable="true" type="tns:ArrayOfPedido" />
      <xs:element minOccurs="0" name="objeto" nillable="true" type="tns:ArrayOfPaqueteDocumentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObject2" nillable="true" type="tns:ResultObject2" />
  <xs:complexType name="ArrayOfPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
  <xs:complexType name="Pedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="campana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pedido" nillable="true" type="tns:Pedido" />
  <xs:complexType name="ArrayOfPaqueteDocumentario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaqueteDocumentario" nillable="true" type="tns:PaqueteDocumentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaqueteDocumentario" nillable="true" type="tns:ArrayOfPaqueteDocumentario" />
  <xs:complexType name="PaqueteDocumentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaqueteDocumentario" nillable="true" type="tns:PaqueteDocumentario" />
  <xs:complexType name="ResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lista" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="objeto" nillable="true" type="tns:ArrayOfPaqueteDocumentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObject" nillable="true" type="tns:ResultObject" />
</xs:schema>