app/Portal.Consultoras.Web/Service References/ServiceCDR/CDRService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/CDRService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" />
  <xs:element name="InsCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q1:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q2:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q3:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebResult" nillable="true" type="q4:ArrayOfBECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q5:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebMobileResult" nillable="true" type="q6:ArrayOfBECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdEstadoCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q7:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdEstadoCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdEstadoCDRWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q8:BECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebDetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q9:BECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebDetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q10:BECDRWebDetalle" />
        <xs:element minOccurs="0" name="pedidoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDetalleResult" nillable="true" type="q11:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q12:BELogCDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDetalleLogResult" nillable="true" type="q13:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebMotivoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q14:BECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebMotivoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebMotivoOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebMotivoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q15:BECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebMotivoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebMotivoOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebMotivoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q16:BECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebMotivoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebMotivoOperacionResult" nillable="true" type="q17:ArrayOfBECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q18:BECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebDescripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q19:BECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebDescripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q20:BECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDescripcionResult" nillable="true" type="q21:ArrayOfBECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebByLogCDRWebId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebByLogCDRWebIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetLogCDRWebByLogCDRWebIdResult" nillable="true" type="q22:BELogCDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogCDRWebVisualizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogCDRWebVisualizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLogCDRWebVisualizadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebDetalleByLogCDRWebId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebDetalleByLogCDRWebIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetLogCDRWebDetalleByLogCDRWebIdResult" nillable="true" type="q23:ArrayOfBELogCDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleActualizarObservado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="lista" nillable="true" type="q24:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleActualizarObservadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetalleActualizarObservadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRParametria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entidad" nillable="true" type="q25:BECDRParametria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRParametriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRParametriaResult" nillable="true" type="q26:ArrayOfBECDRParametria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entidad" nillable="true" type="q27:BECDRWebDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDatosResult" nillable="true" type="q28:ArrayOfBECDRWebDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogCDRWebCulminadoFromCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="cDRWebId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogCDRWebCulminadoFromCDRWebResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebByLogCDRWebCulminadoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebCulminadoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebByLogCDRWebCulminadoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebByLogCDRWebCulminadoIdResult" nillable="true" type="q29:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleByLogCDRWebCulminadoId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebCulminadoId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleByLogCDRWebCulminadoIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDetalleByLogCDRWebCulminadoIdResult" nillable="true" type="q30:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleReporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q31:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDetalleReporteResult" nillable="true" type="q32:ArrayOfBECDRWebDetalleReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMontoFletePorZonaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q33:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMontoFletePorZonaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetMontoFletePorZonaIdResult" nillable="true" type="q34:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValCUVEnProcesoReclamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="pedidoId" type="xs:int" />
        <xs:element minOccurs="0" name="cuv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValCUVEnProcesoReclamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValCUVEnProcesoReclamoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>