app/Portal.Consultoras.Web/Service References/ServiceCDR/CDRService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/CDRService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" />
  <xs:element name="InsCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q1:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q2:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q3:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebResult" nillable="true" type="q4:ArrayOfBECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdEstadoCDRWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q5:BECDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdEstadoCDRWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdEstadoCDRWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q6:BECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebDetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q7:BECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebDetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q8:BECDRWebDetalle" />
        <xs:element minOccurs="0" name="pedidoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDetalleResult" nillable="true" type="q9:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q10:BELogCDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDetalleLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDetalleLogResult" nillable="true" type="q11:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebMotivoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q12:BECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebMotivoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebMotivoOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebMotivoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q13:BECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebMotivoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebMotivoOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebMotivoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q14:BECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebMotivoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebMotivoOperacionResult" nillable="true" type="q15:ArrayOfBECDRWebMotivoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q16:BECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCDRWebDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsCDRWebDescripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q17:BECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCDRWebDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCDRWebDescripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entity" nillable="true" type="q18:BECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRWebDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRWebDescripcionResult" nillable="true" type="q19:ArrayOfBECDRWebDescripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebByLogCDRWebId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebByLogCDRWebIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetLogCDRWebByLogCDRWebIdResult" nillable="true" type="q20:BELogCDRWeb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogCDRWebVisualizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLogCDRWebVisualizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLogCDRWebVisualizadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebDetalleByLogCDRWebId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="logCDRWebId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogCDRWebDetalleByLogCDRWebIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetLogCDRWebDetalleByLogCDRWebIdResult" nillable="true" type="q21:ArrayOfBELogCDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleActualizarObservado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="lista" nillable="true" type="q22:ArrayOfBECDRWebDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleActualizarObservadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DetalleActualizarObservadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRParametria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="entidad" nillable="true" type="q23:BECDRParametria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCDRParametriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" minOccurs="0" name="GetCDRParametriaResult" nillable="true" type="q24:ArrayOfBECDRParametria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>