app/Portal.Consultoras.Web/Service References/ServiceCDR/CDRService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BECDRWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRWebDetalle" nillable="true" type="tns:ArrayOfBECDRWebDetalle" />
      <xs:element minOccurs="0" name="CDRWebID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadAprobados" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadRechazados" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraSaldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="EsMovilFin" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsMovilOrigen" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaAtencion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCulminado" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FleteDespacho" type="xs:decimal" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="MensajeDespacho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoNumero" type="xs:int" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoConsultora" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDespacho" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRWeb" nillable="true" type="tns:BECDRWeb" />
  <xs:complexType name="ArrayOfBECDRWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRWebDetalle" nillable="true" type="tns:BECDRWebDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRWebDetalle" nillable="true" type="tns:ArrayOfBECDRWebDetalle" />
  <xs:complexType name="BECDRWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRWebDetalleID" type="xs:int" />
      <xs:element minOccurs="0" name="CDRWebID" type="xs:int" />
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVReemplazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad2" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoReclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleReemplazo" nillable="true" type="tns:ArrayOfBECDRProductoComplementario" />
      <xs:element minOccurs="0" name="Eliminado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormatoPrecio1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormatoPrecio2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Solicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolucionSolicitada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMotivoRechazo" type="xs:int" />
      <xs:element minOccurs="0" name="XMLReemplazo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRWebDetalle" nillable="true" type="tns:BECDRWebDetalle" />
  <xs:complexType name="ArrayOfBECDRProductoComplementario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRProductoComplementario" nillable="true" type="tns:BECDRProductoComplementario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRProductoComplementario" nillable="true" type="tns:ArrayOfBECDRProductoComplementario" />
  <xs:complexType name="BECDRProductoComplementario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoMotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioFormato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRProductoComplementario" nillable="true" type="tns:BECDRProductoComplementario" />
  <xs:complexType name="ArrayOfBECDRWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRWeb" nillable="true" type="tns:BECDRWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRWeb" nillable="true" type="tns:ArrayOfBECDRWeb" />
  <xs:complexType name="BELogCDRWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRWebID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraId" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraSaldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="EstadoCDR" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FechaAtencion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCulminado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FleteDespacho" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteCDR" type="xs:decimal" />
      <xs:element minOccurs="0" name="LogCDRWebId" type="xs:long" />
      <xs:element minOccurs="0" name="MensajeDespacho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoFacturadoId" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDespacho" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogCDRWeb" nillable="true" type="tns:BELogCDRWeb" />
  <xs:complexType name="BECDRWebMotivoOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRMotivoReclamo" nillable="true" type="tns:BECDRMotivoReclamo" />
      <xs:element minOccurs="0" name="CDRTipoOperacion" nillable="true" type="tns:BECDRTipoOperacion" />
      <xs:element minOccurs="0" name="CodigoOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoReclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Prioridad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRWebMotivoOperacion" nillable="true" type="tns:BECDRWebMotivoOperacion" />
  <xs:complexType name="BECDRMotivoReclamo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoReclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionReclamo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRMotivoReclamo" nillable="true" type="tns:BECDRMotivoReclamo" />
  <xs:complexType name="BECDRTipoOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDiasAtrasOperacion" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRTipoOperacion" nillable="true" type="tns:BECDRTipoOperacion" />
  <xs:complexType name="ArrayOfBECDRWebMotivoOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRWebMotivoOperacion" nillable="true" type="tns:BECDRWebMotivoOperacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRWebMotivoOperacion" nillable="true" type="tns:ArrayOfBECDRWebMotivoOperacion" />
  <xs:complexType name="BECDRWebDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRWebDescripcionID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSSIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntidadSSIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRWebDescripcion" nillable="true" type="tns:BECDRWebDescripcion" />
  <xs:complexType name="ArrayOfBECDRWebDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRWebDescripcion" nillable="true" type="tns:BECDRWebDescripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRWebDescripcion" nillable="true" type="tns:ArrayOfBECDRWebDescripcion" />
  <xs:complexType name="ArrayOfBELogCDRWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogCDRWebDetalle" nillable="true" type="tns:BELogCDRWebDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogCDRWebDetalle" nillable="true" type="tns:ArrayOfBELogCDRWebDetalle" />
  <xs:complexType name="BELogCDRWebDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRWebDetalleId" type="xs:int" />
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad2" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoMotivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionMotivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCDR" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LogCDRWebDetalleId" type="xs:long" />
      <xs:element minOccurs="0" name="LogCDRWebId" type="xs:long" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio2" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogCDRWebDetalle" nillable="true" type="tns:BELogCDRWebDetalle" />
  <xs:complexType name="BECDRParametria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoParametria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionParametria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorParametria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRParametria" nillable="true" type="tns:BECDRParametria" />
  <xs:complexType name="ArrayOfBECDRParametria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRParametria" nillable="true" type="tns:BECDRParametria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRParametria" nillable="true" type="tns:ArrayOfBECDRParametria" />
  <xs:complexType name="BECDRWebDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CDRWebDatosID" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRWebDatos" nillable="true" type="tns:BECDRWebDatos" />
  <xs:complexType name="ArrayOfBECDRWebDatos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRWebDatos" nillable="true" type="tns:BECDRWebDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRWebDatos" nillable="true" type="tns:ArrayOfBECDRWebDatos" />
  <xs:complexType name="ArrayOfBECDRWebDetalleReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECDRWebDetalleReporte" nillable="true" type="tns:BECDRWebDetalleReporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECDRWebDetalleReporte" nillable="true" type="tns:ArrayOfBECDRWebDetalleReporte" />
  <xs:complexType name="BECDRWebDetalleReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaOrigenPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDetalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAtencion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHoraSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FleteDespacho" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoDevuelto" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoFacturado" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoProductoEnviar" type="xs:decimal" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigenCDRWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reclamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDespacho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadesDevueltas" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadesEnviar" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadesFacturadas" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaCodigo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECDRWebDetalleReporte" nillable="true" type="tns:BECDRWebDetalleReporte" />
</xs:schema>