app/Portal.Consultoras.Web/Service References/ServiceCDR/CDRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CDRService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICDRService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/CDRService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/CDRService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/CDRService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CDR" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICDRService_InsCDRWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWeb" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWeb" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWeb" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebMobile" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebMobileResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_UpdEstadoCDRWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdEstadoCDRWeb" />
  </wsdl:message>
  <wsdl:message name="ICDRService_UpdEstadoCDRWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdEstadoCDRWebResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWebDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebDetalle" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWebDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWebDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebDetalle" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWebDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalle" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalleLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleLog" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalleLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWebMotivoOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebMotivoOperacion" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWebMotivoOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebMotivoOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWebMotivoOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebMotivoOperacion" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWebMotivoOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebMotivoOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebMotivoOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebMotivoOperacion" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebMotivoOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebMotivoOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWebDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebDescripcion" />
  </wsdl:message>
  <wsdl:message name="ICDRService_InsCDRWebDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsCDRWebDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWebDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebDescripcion" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DelCDRWebDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCDRWebDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDescripcion" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetLogCDRWebByLogCDRWebId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogCDRWebByLogCDRWebId" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetLogCDRWebByLogCDRWebId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogCDRWebByLogCDRWebIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_UpdateLogCDRWebVisualizado_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogCDRWebVisualizado" />
  </wsdl:message>
  <wsdl:message name="ICDRService_UpdateLogCDRWebVisualizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogCDRWebVisualizadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetLogCDRWebDetalleByLogCDRWebId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogCDRWebDetalleByLogCDRWebId" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetLogCDRWebDetalleByLogCDRWebId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogCDRWebDetalleByLogCDRWebIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DetalleActualizarObservado_InputMessage">
    <wsdl:part name="parameters" element="tns:DetalleActualizarObservado" />
  </wsdl:message>
  <wsdl:message name="ICDRService_DetalleActualizarObservado_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetalleActualizarObservadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRParametria_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRParametria" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRParametria_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRParametriaResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDatos" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_CreateLogCDRWebCulminadoFromCDRWeb_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogCDRWebCulminadoFromCDRWeb" />
  </wsdl:message>
  <wsdl:message name="ICDRService_CreateLogCDRWebCulminadoFromCDRWeb_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogCDRWebCulminadoFromCDRWebResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebByLogCDRWebCulminadoId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebByLogCDRWebCulminadoId" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebByLogCDRWebCulminadoId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebByLogCDRWebCulminadoIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalleByLogCDRWebCulminadoId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleByLogCDRWebCulminadoId" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalleByLogCDRWebCulminadoId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleByLogCDRWebCulminadoIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalleReporte_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleReporte" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetCDRWebDetalleReporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCDRWebDetalleReporteResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetMontoFletePorZonaId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMontoFletePorZonaId" />
  </wsdl:message>
  <wsdl:message name="ICDRService_GetMontoFletePorZonaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMontoFletePorZonaIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICDRService_ValCUVEnProcesoReclamo_InputMessage">
    <wsdl:part name="parameters" element="tns:ValCUVEnProcesoReclamo" />
  </wsdl:message>
  <wsdl:message name="ICDRService_ValCUVEnProcesoReclamo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValCUVEnProcesoReclamoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICDRService">
    <wsdl:operation name="InsCDRWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/InsCDRWeb" message="tns:ICDRService_InsCDRWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebResponse" message="tns:ICDRService_InsCDRWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCDRWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/DelCDRWeb" message="tns:ICDRService_DelCDRWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebResponse" message="tns:ICDRService_DelCDRWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWeb" message="tns:ICDRService_GetCDRWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebResponse" message="tns:ICDRService_GetCDRWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebMobile" message="tns:ICDRService_GetCDRWebMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebMobileResponse" message="tns:ICDRService_GetCDRWebMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdEstadoCDRWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/UpdEstadoCDRWeb" message="tns:ICDRService_UpdEstadoCDRWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/UpdEstadoCDRWebResponse" message="tns:ICDRService_UpdEstadoCDRWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebDetalle" message="tns:ICDRService_InsCDRWebDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebDetalleResponse" message="tns:ICDRService_InsCDRWebDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebDetalle" message="tns:ICDRService_DelCDRWebDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebDetalleResponse" message="tns:ICDRService_DelCDRWebDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalle" message="tns:ICDRService_GetCDRWebDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleResponse" message="tns:ICDRService_GetCDRWebDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleLog" message="tns:ICDRService_GetCDRWebDetalleLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleLogResponse" message="tns:ICDRService_GetCDRWebDetalleLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebMotivoOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebMotivoOperacion" message="tns:ICDRService_InsCDRWebMotivoOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebMotivoOperacionResponse" message="tns:ICDRService_InsCDRWebMotivoOperacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebMotivoOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebMotivoOperacion" message="tns:ICDRService_DelCDRWebMotivoOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebMotivoOperacionResponse" message="tns:ICDRService_DelCDRWebMotivoOperacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebMotivoOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebMotivoOperacion" message="tns:ICDRService_GetCDRWebMotivoOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebMotivoOperacionResponse" message="tns:ICDRService_GetCDRWebMotivoOperacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebDescripcion" message="tns:ICDRService_InsCDRWebDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/InsCDRWebDescripcionResponse" message="tns:ICDRService_InsCDRWebDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebDescripcion" message="tns:ICDRService_DelCDRWebDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/DelCDRWebDescripcionResponse" message="tns:ICDRService_DelCDRWebDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDescripcion" message="tns:ICDRService_GetCDRWebDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDescripcionResponse" message="tns:ICDRService_GetCDRWebDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogCDRWebByLogCDRWebId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetLogCDRWebByLogCDRWebId" message="tns:ICDRService_GetLogCDRWebByLogCDRWebId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetLogCDRWebByLogCDRWebIdResponse" message="tns:ICDRService_GetLogCDRWebByLogCDRWebId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogCDRWebVisualizado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/UpdateLogCDRWebVisualizado" message="tns:ICDRService_UpdateLogCDRWebVisualizado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/UpdateLogCDRWebVisualizadoResponse" message="tns:ICDRService_UpdateLogCDRWebVisualizado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogCDRWebDetalleByLogCDRWebId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetLogCDRWebDetalleByLogCDRWebId" message="tns:ICDRService_GetLogCDRWebDetalleByLogCDRWebId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetLogCDRWebDetalleByLogCDRWebIdResponse" message="tns:ICDRService_GetLogCDRWebDetalleByLogCDRWebId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetalleActualizarObservado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/DetalleActualizarObservado" message="tns:ICDRService_DetalleActualizarObservado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/DetalleActualizarObservadoResponse" message="tns:ICDRService_DetalleActualizarObservado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRParametria">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRParametria" message="tns:ICDRService_GetCDRParametria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRParametriaResponse" message="tns:ICDRService_GetCDRParametria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDatos" message="tns:ICDRService_GetCDRWebDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDatosResponse" message="tns:ICDRService_GetCDRWebDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLogCDRWebCulminadoFromCDRWeb">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/CreateLogCDRWebCulminadoFromCDRWeb" message="tns:ICDRService_CreateLogCDRWebCulminadoFromCDRWeb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/CreateLogCDRWebCulminadoFromCDRWebResponse" message="tns:ICDRService_CreateLogCDRWebCulminadoFromCDRWeb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebByLogCDRWebCulminadoId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebByLogCDRWebCulminadoId" message="tns:ICDRService_GetCDRWebByLogCDRWebCulminadoId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebByLogCDRWebCulminadoIdResponse" message="tns:ICDRService_GetCDRWebByLogCDRWebCulminadoId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleByLogCDRWebCulminadoId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleByLogCDRWebCulminadoId" message="tns:ICDRService_GetCDRWebDetalleByLogCDRWebCulminadoId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleByLogCDRWebCulminadoIdResponse" message="tns:ICDRService_GetCDRWebDetalleByLogCDRWebCulminadoId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleReporte">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleReporte" message="tns:ICDRService_GetCDRWebDetalleReporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetCDRWebDetalleReporteResponse" message="tns:ICDRService_GetCDRWebDetalleReporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMontoFletePorZonaId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/GetMontoFletePorZonaId" message="tns:ICDRService_GetMontoFletePorZonaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/GetMontoFletePorZonaIdResponse" message="tns:ICDRService_GetMontoFletePorZonaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValCUVEnProcesoReclamo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDRService/ValCUVEnProcesoReclamo" message="tns:ICDRService_ValCUVEnProcesoReclamo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDRService/ValCUVEnProcesoReclamoResponse" message="tns:ICDRService_ValCUVEnProcesoReclamo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICDRService" type="tns:ICDRService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebMobile">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdEstadoCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/UpdEstadoCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebDetalle">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWebDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebDetalle">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWebDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalle">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleLog">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalleLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebMotivoOperacion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWebMotivoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebMotivoOperacion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWebMotivoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebMotivoOperacion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebMotivoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebDescripcion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWebDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebDescripcion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWebDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDescripcion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogCDRWebByLogCDRWebId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetLogCDRWebByLogCDRWebId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogCDRWebVisualizado">
      <soap:operation soapAction="http://tempuri.org/ICDRService/UpdateLogCDRWebVisualizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogCDRWebDetalleByLogCDRWebId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetLogCDRWebDetalleByLogCDRWebId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalleActualizarObservado">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DetalleActualizarObservado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRParametria">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRParametria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDatos">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLogCDRWebCulminadoFromCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/CreateLogCDRWebCulminadoFromCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebByLogCDRWebCulminadoId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebByLogCDRWebCulminadoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleByLogCDRWebCulminadoId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalleByLogCDRWebCulminadoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleReporte">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalleReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMontoFletePorZonaId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetMontoFletePorZonaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValCUVEnProcesoReclamo">
      <soap:operation soapAction="http://tempuri.org/ICDRService/ValCUVEnProcesoReclamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICDRService" type="tns:ICDRService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICDRService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebMobile">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdEstadoCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/UpdEstadoCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebDetalle">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWebDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebDetalle">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWebDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalle">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleLog">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalleLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebMotivoOperacion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWebMotivoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebMotivoOperacion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWebMotivoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebMotivoOperacion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebMotivoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCDRWebDescripcion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/InsCDRWebDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCDRWebDescripcion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DelCDRWebDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDescripcion">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogCDRWebByLogCDRWebId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetLogCDRWebByLogCDRWebId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogCDRWebVisualizado">
      <soap:operation soapAction="http://tempuri.org/ICDRService/UpdateLogCDRWebVisualizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogCDRWebDetalleByLogCDRWebId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetLogCDRWebDetalleByLogCDRWebId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetalleActualizarObservado">
      <soap:operation soapAction="http://tempuri.org/ICDRService/DetalleActualizarObservado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRParametria">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRParametria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDatos">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLogCDRWebCulminadoFromCDRWeb">
      <soap:operation soapAction="http://tempuri.org/ICDRService/CreateLogCDRWebCulminadoFromCDRWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebByLogCDRWebCulminadoId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebByLogCDRWebCulminadoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleByLogCDRWebCulminadoId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalleByLogCDRWebCulminadoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCDRWebDetalleReporte">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetCDRWebDetalleReporte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMontoFletePorZonaId">
      <soap:operation soapAction="http://tempuri.org/ICDRService/GetMontoFletePorZonaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValCUVEnProcesoReclamo">
      <soap:operation soapAction="http://tempuri.org/ICDRService/ValCUVEnProcesoReclamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDRService">
    <wsdl:port name="BasicHttpBinding_ICDRService" binding="tns:BasicHttpBinding_ICDRService">
      <soap:address location="http://localhost:41615/CDRService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICDRService" binding="tns:BasicHttpsBinding_ICDRService">
      <soap:address location="https://localhost:44392/CDRService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>