app/Portal.Consultoras.Web/Service References/ServiceComunidad/ComunidadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEUsuarioComunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CambioContrasenia" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoConsultoraSB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioSB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoActivoConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoEnviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoEnviadoConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCorreoActivo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCorreoActivoConsultora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisId" type="xs:int" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolAntiguo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudCambioContrasenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="UltimoCambioContrasenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioComunidad" nillable="true" type="tns:BEUsuarioComunidad" />
</xs:schema>