app/Portal.Consultoras.Web/Service References/ServiceComunidad/ComunidadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComunidadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23486/ComunidadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23486/ComunidadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23486/ComunidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComunidadService_GetUsuarioValidado_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioValidado" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioValidado_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioValidadoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_InsUsuarioRegistro_InputMessage">
    <wsdl:part name="parameters" element="tns:InsUsuarioRegistro" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_InsUsuarioRegistro_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsUsuarioRegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByCodigo" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdUsuarioCorreoActivo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdUsuarioCorreoActivo" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdUsuarioCorreoActivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdUsuarioCorreoActivoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdUsuarioCorreoEnviado_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdUsuarioCorreoEnviado" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdUsuarioCorreoEnviado_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdUsuarioCorreoEnviadoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioInformacion" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioByCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByCorreo" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioByCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioByConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByConsultora" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioByConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioInformacionByCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioInformacionByCorreo" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetUsuarioInformacionByCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioInformacionByCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdCambioContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdCambioContrasenia" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdCambioContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdCambioContraseniaResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetValidacionCambioContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionCambioContrasenia" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_GetValidacionCambioContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionCambioContraseniaResponse" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdCambiarUsuarioComunidad_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdCambiarUsuarioComunidad" />
  </wsdl:message>
  <wsdl:message name="IComunidadService_UpdCambiarUsuarioComunidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdCambiarUsuarioComunidadResponse" />
  </wsdl:message>
  <wsdl:portType name="IComunidadService">
    <wsdl:operation name="GetUsuarioValidado">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioValidado" message="tns:IComunidadService_GetUsuarioValidado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioValidadoResponse" message="tns:IComunidadService_GetUsuarioValidado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsUsuarioRegistro">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/InsUsuarioRegistro" message="tns:IComunidadService_InsUsuarioRegistro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/InsUsuarioRegistroResponse" message="tns:IComunidadService_InsUsuarioRegistro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioByCodigo" message="tns:IComunidadService_GetUsuarioByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioByCodigoResponse" message="tns:IComunidadService_GetUsuarioByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdUsuarioCorreoActivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/UpdUsuarioCorreoActivo" message="tns:IComunidadService_UpdUsuarioCorreoActivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/UpdUsuarioCorreoActivoResponse" message="tns:IComunidadService_UpdUsuarioCorreoActivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdUsuarioCorreoEnviado">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/UpdUsuarioCorreoEnviado" message="tns:IComunidadService_UpdUsuarioCorreoEnviado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/UpdUsuarioCorreoEnviadoResponse" message="tns:IComunidadService_UpdUsuarioCorreoEnviado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioInformacion" message="tns:IComunidadService_GetUsuarioInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioInformacionResponse" message="tns:IComunidadService_GetUsuarioInformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioByCorreo" message="tns:IComunidadService_GetUsuarioByCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioByCorreoResponse" message="tns:IComunidadService_GetUsuarioByCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioByConsultora" message="tns:IComunidadService_GetUsuarioByConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioByConsultoraResponse" message="tns:IComunidadService_GetUsuarioByConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioInformacionByCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioInformacionByCorreo" message="tns:IComunidadService_GetUsuarioInformacionByCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetUsuarioInformacionByCorreoResponse" message="tns:IComunidadService_GetUsuarioInformacionByCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdCambioContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/UpdCambioContrasenia" message="tns:IComunidadService_UpdCambioContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/UpdCambioContraseniaResponse" message="tns:IComunidadService_UpdCambioContrasenia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidacionCambioContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/GetValidacionCambioContrasenia" message="tns:IComunidadService_GetValidacionCambioContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/GetValidacionCambioContraseniaResponse" message="tns:IComunidadService_GetValidacionCambioContrasenia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdCambiarUsuarioComunidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunidadService/UpdCambiarUsuarioComunidad" message="tns:IComunidadService_UpdCambiarUsuarioComunidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunidadService/UpdCambiarUsuarioComunidadResponse" message="tns:IComunidadService_UpdCambiarUsuarioComunidad_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IComunidadService" type="tns:IComunidadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsuarioValidado">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetUsuarioValidado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsUsuarioRegistro">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/InsUsuarioRegistro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCodigo">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetUsuarioByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUsuarioCorreoActivo">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/UpdUsuarioCorreoActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdUsuarioCorreoEnviado">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/UpdUsuarioCorreoEnviado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioInformacion">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetUsuarioInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCorreo">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetUsuarioByCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByConsultora">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetUsuarioByConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioInformacionByCorreo">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetUsuarioInformacionByCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdCambioContrasenia">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/UpdCambioContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidacionCambioContrasenia">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/GetValidacionCambioContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdCambiarUsuarioComunidad">
      <soap:operation soapAction="http://tempuri.org/IComunidadService/UpdCambiarUsuarioComunidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComunidadService">
    <wsdl:port name="BasicHttpBinding_IComunidadService" binding="tns:BasicHttpBinding_IComunidadService">
      <soap:address location="http://localhost:23486/ComunidadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>