app/Portal.Consultoras.Web/Service References/ServiceComunidad/ComunidadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:23486/ComunidadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" />
  <xs:element name="GetUsuarioValidado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q1:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioValidadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsuarioValidadoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q2:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsUsuarioRegistroResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q3:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsuarioByCodigoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUsuarioCorreoActivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q4:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUsuarioCorreoActivoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUsuarioCorreoEnviado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q5:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdUsuarioCorreoEnviadoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioInformacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q6:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioInformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="GetUsuarioInformacionResult" nillable="true" type="q7:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q8:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsuarioByCorreoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q9:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsuarioByConsultoraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioInformacionByCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q10:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioInformacionByCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="GetUsuarioInformacionByCorreoResult" nillable="true" type="q11:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCambioContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q12:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCambioContraseniaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidacionCambioContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q13:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidacionCambioContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidacionCambioContraseniaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCambiarUsuarioComunidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="oBEUsuarioComunidad" nillable="true" type="q14:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCambiarUsuarioComunidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Consultoras.Comunidad.Entities" minOccurs="0" name="UpdCambiarUsuarioComunidadResult" nillable="true" type="q15:BEUsuarioComunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>