app/Portal.Consultoras.Web/Service References/ServiceSAC/SACService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/SACService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:41615/SACService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:41615/SACService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Comunicado" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
  <xs:complexType name="BEConfiguracionValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoUsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasAntes" type="xs:short" />
      <xs:element minOccurs="0" name="FlagNoValidados" type="xs:boolean" />
      <xs:element minOccurs="0" name="HabilitarRestriccionHoraria" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoraCierreNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraFin" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicio" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicioNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="ProcesoDA" type="xs:short" />
      <xs:element minOccurs="0" name="ProcesoDAPRD" type="xs:short" />
      <xs:element minOccurs="0" name="ProcesoRegular" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionValidacion" nillable="true" type="tns:BEConfiguracionValidacion" />
  <xs:complexType name="ArrayOfBEConfiguracionParametroCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionParametroCarga" nillable="true" type="tns:BEConfiguracionParametroCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionParametroCarga" nillable="true" type="tns:ArrayOfBEConfiguracionParametroCarga" />
  <xs:complexType name="BEConfiguracionParametroCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="DiasDuracionCronograma" type="xs:short" />
      <xs:element minOccurs="0" name="DiasParametroCarga" type="xs:short" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionActiva" type="xs:short" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionParametroCarga" nillable="true" type="tns:BEConfiguracionParametroCarga" />
  <xs:complexType name="ArrayOfBELogParametroDiasCargaPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogParametroDiasCargaPedido" nillable="true" type="tns:BELogParametroDiasCargaPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogParametroDiasCargaPedido" nillable="true" type="tns:ArrayOfBELogParametroDiasCargaPedido" />
  <xs:complexType name="BELogParametroDiasCargaPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosRegionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasParametroCargaActual" type="xs:short" />
      <xs:element minOccurs="0" name="DiasParametroCargaAnterior" type="xs:short" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogParametroDiasCargaPedido" nillable="true" type="tns:BELogParametroDiasCargaPedido" />
  <xs:complexType name="ArrayOfBEConfiguracionPortal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionPortal" nillable="true" type="tns:BEConfiguracionPortal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionPortal" nillable="true" type="tns:ArrayOfBEConfiguracionPortal" />
  <xs:complexType name="BEConfiguracionPortal">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsquemaDAConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoSimplificacionCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoProcesoCarga" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionPortal" nillable="true" type="tns:BEConfiguracionPortal" />
  <xs:complexType name="ArrayOfBEParticipantesDemandaAnticipada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEParticipantesDemandaAnticipada" nillable="true" type="tns:BEParticipantesDemandaAnticipada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEParticipantesDemandaAnticipada" nillable="true" type="tns:ArrayOfBEParticipantesDemandaAnticipada" />
  <xs:complexType name="BEParticipantesDemandaAnticipada">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptoParticipar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfiguracionConsultoraDAID" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFormato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificadaFormato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoConfiguracion" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEParticipantesDemandaAnticipada" nillable="true" type="tns:BEParticipantesDemandaAnticipada" />
  <xs:complexType name="BEServicioSegmentoZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerId" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="ConfiguracionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DesCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisId" type="xs:int" />
      <xs:element minOccurs="0" name="Segmento" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentoInternoID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEServicioSegmentoZona" nillable="true" type="tns:BEServicioSegmentoZona" />
  <xs:complexType name="ArrayOfBEServicioSegmentoZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEServicioSegmentoZona" nillable="true" type="tns:BEServicioSegmentoZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEServicioSegmentoZona" nillable="true" type="tns:ArrayOfBEServicioSegmentoZona" />
  <xs:complexType name="ArrayOfBETablaLogicaDatos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETablaLogicaDatos" nillable="true" type="tns:BETablaLogicaDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETablaLogicaDatos" nillable="true" type="tns:ArrayOfBETablaLogicaDatos" />
  <xs:complexType name="BETablaLogicaDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TablaLogicaDatosID" type="xs:short" />
      <xs:element minOccurs="0" name="TablaLogicaID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETablaLogicaDatos" nillable="true" type="tns:BETablaLogicaDatos" />
  <xs:complexType name="BEAfiliaClienteConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsAfiliado" type="xs:int" />
      <xs:element minOccurs="0" name="EsConsultoraLider" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEAfiliaClienteConsultora" nillable="true" type="tns:BEAfiliaClienteConsultora" />
  <xs:complexType name="BESolicitudCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="CorreoConsultoraAsginada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleSolicitud" nillable="true" type="tns:ArrayOfBESolicitudClienteDetalle" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailGZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnviadoGZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoSolicitudClienteId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Leido" type="xs:int" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="MarcaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeaCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeaGZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreConsultoraAsignada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGZ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumIteracion" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoWebID" type="xs:int" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudClienteID" type="xs:long" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDistribucion" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadGeografica1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BESolicitudCliente" nillable="true" type="tns:BESolicitudCliente" />
  <xs:complexType name="ArrayOfBESolicitudClienteDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BESolicitudClienteDetalle" nillable="true" type="tns:BESolicitudClienteDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBESolicitudClienteDetalle" nillable="true" type="tns:ArrayOfBESolicitudClienteDetalle" />
  <xs:complexType name="BESolicitudClienteDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="DescripcionMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoWebDetalleID" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoWebID" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="SolicitudClienteDetalleID" type="xs:long" />
      <xs:element minOccurs="0" name="SolicitudClienteID" type="xs:long" />
      <xs:element minOccurs="0" name="TipoAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="Tono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BESolicitudClienteDetalle" nillable="true" type="tns:BESolicitudClienteDetalle" />
  <xs:complexType name="BESolicitudNuevaConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BESolicitudNuevaConsultora" nillable="true" type="tns:BESolicitudNuevaConsultora" />
  <xs:complexType name="ArrayOfBEMotivoSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMotivoSolicitud" nillable="true" type="tns:BEMotivoSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMotivoSolicitud" nillable="true" type="tns:ArrayOfBEMotivoSolicitud" />
  <xs:complexType name="BEMotivoSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:short" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoSolicitudID" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMotivoSolicitud" nillable="true" type="tns:BEMotivoSolicitud" />
  <xs:complexType name="ArrayOfBESolicitudCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BESolicitudCliente" nillable="true" type="tns:BESolicitudCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBESolicitudCliente" nillable="true" type="tns:ArrayOfBESolicitudCliente" />
  <xs:complexType name="ArrayOfBEEstadoSolicitudCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEstadoSolicitudCliente" nillable="true" type="tns:BEEstadoSolicitudCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEstadoSolicitudCliente" nillable="true" type="tns:ArrayOfBEEstadoSolicitudCliente" />
  <xs:complexType name="BEEstadoSolicitudCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoSolicitudClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEstado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEstadoSolicitudCliente" nillable="true" type="tns:BEEstadoSolicitudCliente" />
  <xs:complexType name="ArrayOfBEReporteAfiliados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEReporteAfiliados" nillable="true" type="tns:BEReporteAfiliados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEReporteAfiliados" nillable="true" type="tns:ArrayOfBEReporteAfiliados" />
  <xs:complexType name="BEReporteAfiliados">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoCampanaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="EsAfiliado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCreacionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacionString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEReporteAfiliados" nillable="true" type="tns:BEReporteAfiliados" />
  <xs:complexType name="ArrayOfBEReportePedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEReportePedidos" nillable="true" type="tns:BEReportePedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEReportePedidos" nillable="true" type="tns:ArrayOfBEReportePedidos" />
  <xs:complexType name="BEReportePedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Leido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="TelefonoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFijoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovilConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEReportePedidos" nillable="true" type="tns:BEReportePedidos" />
  <xs:complexType name="BEPaisCampana">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoCampana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCampanias" type="xs:int" />
      <xs:element minOccurs="0" name="PrefijoPais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPaisCampana" nillable="true" type="tns:BEPaisCampana" />
  <xs:complexType name="ArrayOfBEProveedorDespachoCobranza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEProveedorDespachoCobranza" nillable="true" type="tns:BEProveedorDespachoCobranza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEProveedorDespachoCobranza" nillable="true" type="tns:ArrayOfBEProveedorDespachoCobranza" />
  <xs:complexType name="BEProveedorDespachoCobranza">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" type="xs:int" />
      <xs:element minOccurs="0" name="CampoId" type="xs:int" />
      <xs:element minOccurs="0" name="CorreosElectronicos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomicilioFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCampo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreEjecutivos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSocios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaginaElectronica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="ProveedorDespachoCobranzaID" type="xs:int" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepresentanteLegales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefonos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorAnterior" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProveedorDespachoCobranza" nillable="true" type="tns:BEProveedorDespachoCobranza" />
  <xs:complexType name="ArrayOfBEChatbotProactivaMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEChatbotProactivaMensaje" nillable="true" type="tns:BEChatbotProactivaMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEChatbotProactivaMensaje" nillable="true" type="tns:ArrayOfBEChatbotProactivaMensaje" />
  <xs:complexType name="BEChatbotProactivaMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMensaje" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Variables" nillable="true" type="q1:ArrayOfTupleOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEChatbotProactivaMensaje" nillable="true" type="tns:BEChatbotProactivaMensaje" />
  <xs:complexType name="ArrayOfBEPedidoFacturado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoFacturado" nillable="true" type="tns:BEPedidoFacturado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoFacturado" nillable="true" type="tns:ArrayOfBEPedidoFacturado" />
  <xs:complexType name="BEPedidoFacturado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campania" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ClienteID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTipoOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaUltimaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoFacturado" nillable="true" type="tns:BEPedidoFacturado" />
  <xs:complexType name="ArrayOfBEConfiguracionPais">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionPais" nillable="true" type="tns:ArrayOfBEConfiguracionPais" />
  <xs:complexType name="BEConfiguracionPais">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="BloqueoRevistaImpresa" type="xs:boolean" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesdeCampania" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopFondoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopLogoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopSubTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTituloMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:BEConfiguracionPaisDetalle" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
          <xs:element minOccurs="0" name="Excluyente" type="xs:boolean" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileFondoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileLogoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileOrden" type="xs:int" />
          <xs:element minOccurs="0" name="MobileOrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="MobileSubTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTituloMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orden" type="xs:int" />
          <xs:element minOccurs="0" name="OrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="TienePerfil" type="xs:boolean" />
          <xs:element minOccurs="0" name="UrlMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
  <xs:complexType name="BaseEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntidad" nillable="true" type="tns:BaseEntidad" />
  <xs:complexType name="BEConfiguracionPaisDetalle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPaisDetalleID" type="xs:int" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPaisDetalle" nillable="true" type="tns:BEConfiguracionPaisDetalle" />
  <xs:complexType name="ArrayOfBEConfiguracionOfertasHome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionOfertasHome" nillable="true" type="tns:BEConfiguracionOfertasHome" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionOfertasHome" nillable="true" type="tns:ArrayOfBEConfiguracionOfertasHome" />
  <xs:complexType name="BEConfiguracionOfertasHome">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="ConfiguracionOfertasHomeID" type="xs:int" />
          <xs:element minOccurs="0" name="ConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopActivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="DesktopCantidadProductos" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopColorFondo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopColorTexto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopImagenFondo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopOrden" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopOrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopSubTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTipoEstrategia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTipoPresentacion" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopUsarImagenFondo" type="xs:boolean" />
          <xs:element minOccurs="0" name="MobileActivo" type="xs:boolean" />
          <xs:element minOccurs="0" name="MobileCantidadProductos" type="xs:int" />
          <xs:element minOccurs="0" name="MobileColorFondo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileColorTexto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileImagenFondo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileOrden" type="xs:int" />
          <xs:element minOccurs="0" name="MobileOrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="MobileSubTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTipoEstrategia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTipoPresentacion" type="xs:int" />
          <xs:element minOccurs="0" name="MobileTitulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileUsarImagenFondo" type="xs:boolean" />
          <xs:element minOccurs="0" name="UrlSeccion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionOfertasHome" nillable="true" type="tns:BEConfiguracionOfertasHome" />
  <xs:complexType name="ArrayOfBEDescripcionEstrategia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEDescripcionEstrategia" nillable="true" type="tns:BEDescripcionEstrategia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEDescripcionEstrategia" nillable="true" type="tns:ArrayOfBEDescripcionEstrategia" />
  <xs:complexType name="BEDescripcionEstrategia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDescripcionEstrategia" nillable="true" type="tns:BEDescripcionEstrategia" />
  <xs:complexType name="BEFactorGanancia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Escala" type="xs:int" />
      <xs:element minOccurs="0" name="FactorGananciaID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:decimal" />
      <xs:element minOccurs="0" name="RangoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="RangoMinimo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEFactorGanancia" nillable="true" type="tns:BEFactorGanancia" />
  <xs:complexType name="ArrayOfBEConfiguracionValidacionZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionValidacionZona" nillable="true" type="tns:BEConfiguracionValidacionZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionValidacionZona" nillable="true" type="tns:ArrayOfBEConfiguracionValidacionZona" />
  <xs:complexType name="BEConfiguracionValidacionZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="DiasDuracionCronograma" type="xs:short" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidacionActiva" type="xs:short" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionValidacionZona" nillable="true" type="tns:BEConfiguracionValidacionZona" />
  <xs:complexType name="ArrayOfBELogModificacionCronograma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogModificacionCronograma" nillable="true" type="tns:BELogModificacionCronograma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogModificacionCronograma" nillable="true" type="tns:ArrayOfBELogModificacionCronograma" />
  <xs:complexType name="BELogModificacionCronograma">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosRegionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasDuracionCronogramaActual" type="xs:short" />
      <xs:element minOccurs="0" name="DiasDuracionCronogramaAnterior" type="xs:short" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogModificacionCronograma" nillable="true" type="tns:BELogModificacionCronograma" />
  <xs:complexType name="ArrayOfBELogConfiguracionCronograma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogConfiguracionCronograma" nillable="true" type="tns:BELogConfiguracionCronograma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogConfiguracionCronograma" nillable="true" type="tns:ArrayOfBELogConfiguracionCronograma" />
  <xs:complexType name="BELogConfiguracionCronograma">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRegion" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" type="xs:int" />
      <xs:element minOccurs="0" name="DiasDuracionActual" type="xs:short" />
      <xs:element minOccurs="0" name="DiasDuracionAnterior" type="xs:short" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogConfiguracionCronograma" nillable="true" type="tns:BELogConfiguracionCronograma" />
  <xs:complexType name="ArrayOfBELugarPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELugarPago" nillable="true" type="tns:BELugarPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELugarPago" nillable="true" type="tns:ArrayOfBELugarPago" />
  <xs:complexType name="BELugarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoInstructivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoLogoAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="LugarPagoID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posicion" type="xs:int" />
      <xs:element minOccurs="0" name="TextoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlSitio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELugarPago" nillable="true" type="tns:BELugarPago" />
  <xs:complexType name="ArrayOfBEIncentivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEIncentivo" nillable="true" type="tns:BEIncentivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEIncentivo" nillable="true" type="tns:ArrayOfBEIncentivo" />
  <xs:complexType name="BEIncentivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoPDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoPortada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoPortadaAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaIDFin" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaIDInicio" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="IncentivoID" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCortoFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCortoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subtitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEIncentivo" nillable="true" type="tns:BEIncentivo" />
  <xs:complexType name="ArrayOfBEBelcorpNoticia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBelcorpNoticia" nillable="true" type="tns:BEBelcorpNoticia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBelcorpNoticia" nillable="true" type="tns:ArrayOfBEBelcorpNoticia" />
  <xs:complexType name="BEBelcorpNoticia">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArchivoPortada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BelcorpNoticiaID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="NombreCorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlPDF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBelcorpNoticia" nillable="true" type="tns:BEBelcorpNoticia" />
  <xs:complexType name="ArrayOfBEFeErratas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEFeErratas" nillable="true" type="tns:BEFeErratas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEFeErratas" nillable="true" type="tns:ArrayOfBEFeErratas" />
  <xs:complexType name="BEFeErratas">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="DebeDecir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeErratasID" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagina" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEFeErratas" nillable="true" type="tns:BEFeErratas" />
  <xs:complexType name="ArrayOfBECUVAutomatico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECUVAutomatico" nillable="true" type="tns:BECUVAutomatico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECUVAutomatico" nillable="true" type="tns:ArrayOfBECUVAutomatico" />
  <xs:complexType name="BECUVAutomatico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BEPaging">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaisISO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BECUVAutomatico" nillable="true" type="tns:BECUVAutomatico" />
  <xs:complexType name="BEPaging">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RowsCount" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPaging" nillable="true" type="tns:BEPaging" />
  <xs:complexType name="ArrayOfBEOfertaFIC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEOfertaFIC" nillable="true" type="tns:BEOfertaFIC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEOfertaFIC" nillable="true" type="tns:ArrayOfBEOfertaFIC" />
  <xs:complexType name="BEOfertaFIC">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BEPaging">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImagenUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreImagen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaisISO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEOfertaFIC" nillable="true" type="tns:BEOfertaFIC" />
  <xs:complexType name="ArrayOfBEBannerPedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBannerPedido" nillable="true" type="tns:BEBannerPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBannerPedido" nillable="true" type="tns:ArrayOfBEBannerPedido" />
  <xs:complexType name="BEBannerPedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoPortada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArchivoPortadaAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerPedidoID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaIDFin" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaIDInicio" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="NombreCortoFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCortoInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Posicion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBannerPedido" nillable="true" type="tns:BEBannerPedido" />
  <xs:complexType name="BESolicitudCredito">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaternoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CelularNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultoraRecomienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoLote" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoOtrasMarcas" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPremio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FuenteIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Localidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoMeta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Municipio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NivelEducativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreConsultoraRecomienda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPreimpreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PoblacionVilla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombreAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombreAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudCreditoID" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoNoFamiliar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoContacto" type="xs:int" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumentoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoNacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVinculoAval" type="xs:int" />
      <xs:element minOccurs="0" name="TipoVinculoFamiliar" type="xs:int" />
      <xs:element minOccurs="0" name="TipoVinculoNoFamiliar" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BESolicitudCredito" nillable="true" type="tns:BESolicitudCredito" />
  <xs:complexType name="ArrayOfBESolicitudCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BESolicitudCredito" nillable="true" type="tns:BESolicitudCredito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBESolicitudCredito" nillable="true" type="tns:ArrayOfBESolicitudCredito" />
  <xs:complexType name="ArrayOfBECiudad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECiudad" nillable="true" type="tns:BECiudad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECiudad" nillable="true" type="tns:ArrayOfBECiudad" />
  <xs:complexType name="BECiudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="CiudadID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECiudad" nillable="true" type="tns:BECiudad" />
  <xs:complexType name="BEComunicado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComunicadoId" type="xs:long" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionAccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="UrlImagen" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Comunicado" minOccurs="0" name="Vistas" nillable="true" type="q2:ArrayOfBEComunicadoVista" />
      <xs:element minOccurs="0" name="Visualizo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEComunicado" nillable="true" type="tns:BEComunicado" />
  <xs:complexType name="ArrayOfBEComunicado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEComunicado" nillable="true" type="tns:BEComunicado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEComunicado" nillable="true" type="tns:ArrayOfBEComunicado" />
  <xs:complexType name="ArrayOfBEPopupPais">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPopupPais" nillable="true" type="tns:BEPopupPais" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPopupPais" nillable="true" type="tns:ArrayOfBEPopupPais" />
  <xs:complexType name="BEPopupPais">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoPopup" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PopupPaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPopupPais" nillable="true" type="tns:BEPopupPais" />
  <xs:complexType name="ArrayOfBEEstadoCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEstadoCuenta" nillable="true" type="tns:BEEstadoCuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEstadoCuenta" nillable="true" type="tns:ArrayOfBEEstadoCuenta" />
  <xs:complexType name="BEEstadoCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abono" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cargo" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOperacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MontoOperacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Movimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Pedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoOperacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEstadoCuenta" nillable="true" type="tns:BEEstadoCuenta" />
  <xs:complexType name="ArrayOfBEConfiguracionValidacionNuevoPROL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionValidacionNuevoPROL" nillable="true" type="tns:BEConfiguracionValidacionNuevoPROL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionValidacionNuevoPROL" nillable="true" type="tns:ArrayOfBEConfiguracionValidacionNuevoPROL" />
  <xs:complexType name="BEConfiguracionValidacionNuevoPROL">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasParametroCarga" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionValidacionNuevoPROL" nillable="true" type="tns:BEConfiguracionValidacionNuevoPROL" />
  <xs:complexType name="ArrayOfBEConfiguracionTipoProcesoCargaPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionTipoProcesoCargaPedidos" nillable="true" type="tns:BEConfiguracionTipoProcesoCargaPedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionTipoProcesoCargaPedidos" nillable="true" type="tns:ArrayOfBEConfiguracionTipoProcesoCargaPedidos" />
  <xs:complexType name="BEConfiguracionTipoProcesoCargaPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasParametroCarga" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionTipoProcesoCargaPedidos" nillable="true" type="tns:BEConfiguracionTipoProcesoCargaPedidos" />
  <xs:complexType name="ArrayOfBECronograma">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECronograma" nillable="true" type="tns:BECronograma" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECronograma" nillable="true" type="tns:ArrayOfBECronograma" />
  <xs:complexType name="BECronograma">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFinDD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinWeb" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioDD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioWeb" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoCronogramaID" type="xs:short" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECronograma" nillable="true" type="tns:BECronograma" />
  <xs:complexType name="BEConfiguracionConsultoraDA">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfiguracionConsultoraDAID" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoConfiguracion" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionConsultoraDA" nillable="true" type="tns:BEConfiguracionConsultoraDA" />
  <xs:complexType name="ArrayOfBEProductoFaltante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEProductoFaltante" nillable="true" type="tns:BEProductoFaltante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEProductoFaltante" nillable="true" type="tns:ArrayOfBEProductoFaltante" />
  <xs:complexType name="BEProductoFaltante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BEPaging">
        <xs:sequence>
          <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="Catalogo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" type="xs:int" />
          <xs:element minOccurs="0" name="FaltanteUltimoMinuto" type="xs:boolean" />
          <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroPagina" type="xs:int" />
          <xs:element minOccurs="0" name="PaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
          <xs:element minOccurs="0" name="rowID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEProductoFaltante" nillable="true" type="tns:BEProductoFaltante" />
  <xs:complexType name="ArrayOfBEConfiguracionValidacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionValidacion" nillable="true" type="tns:BEConfiguracionValidacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionValidacion" nillable="true" type="tns:ArrayOfBEConfiguracionValidacion" />
  <xs:complexType name="ArrayOfBEProductoDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEProductoDescripcion" nillable="true" type="tns:BEProductoDescripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEProductoDescripcion" nillable="true" type="tns:ArrayOfBEProductoDescripcion" />
  <xs:complexType name="BEProductoDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCatalogo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTipoOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactorRepeticion" type="xs:int" />
      <xs:element minOccurs="0" name="IdMatrizComercial" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorActivo" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorDigitable" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorFaltanteAnunciado" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="RegaloDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegaloImagenUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProductoDescripcion" nillable="true" type="tns:BEProductoDescripcion" />
  <xs:complexType name="ArrayOfBEOfertaWeb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEOfertaWeb" nillable="true" type="tns:BEOfertaWeb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEOfertaWeb" nillable="true" type="tns:ArrayOfBEOfertaWeb" />
  <xs:complexType name="BEOfertaWeb">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="NombreImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioOferta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Prioridad" type="xs:int" />
      <xs:element minOccurs="0" name="StockActual" type="xs:int" />
      <xs:element minOccurs="0" name="StockInicial" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOfertaWeb" nillable="true" type="tns:BEOfertaWeb" />
  <xs:complexType name="BEConsultoraFicticia">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualizarClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultoraFicticia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmarClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraFicticia" nillable="true" type="tns:BEConsultoraFicticia" />
  <xs:complexType name="ArrayOfBEConsultoraFicticia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultoraFicticia" nillable="true" type="tns:BEConsultoraFicticia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultoraFicticia" nillable="true" type="tns:ArrayOfBEConsultoraFicticia" />
  <xs:complexType name="ArrayOfBEDatosBelcorp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEDatosBelcorp" nillable="true" type="tns:BEDatosBelcorp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEDatosBelcorp" nillable="true" type="tns:ArrayOfBEDatosBelcorp" />
  <xs:complexType name="BEDatosBelcorp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDatosBelcorp" nillable="true" type="tns:BEDatosBelcorp" />
  <xs:complexType name="ArrayOfBELogActualizacionFacturacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogActualizacionFacturacion" nillable="true" type="tns:BELogActualizacionFacturacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogActualizacionFacturacion" nillable="true" type="tns:ArrayOfBELogActualizacionFacturacion" />
  <xs:complexType name="BELogActualizacionFacturacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosZonaRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosZonaRegionIncompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFinFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRefacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogActualizacionFacturacion" nillable="true" type="tns:BELogActualizacionFacturacion" />
  <xs:complexType name="ArrayOfBEServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEServicio" nillable="true" type="tns:BEServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEServicio" nillable="true" type="tns:ArrayOfBEServicio" />
  <xs:complexType name="BEServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaginaNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaginaNuevaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioId" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEServicio" nillable="true" type="tns:BEServicio" />
  <xs:complexType name="ArrayOfBEServicioCampania">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEServicioCampania" nillable="true" type="tns:BEServicioCampania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEServicioCampania" nillable="true" type="tns:ArrayOfBEServicioCampania" />
  <xs:complexType name="BEServicioCampania">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfiguracionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioId" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEServicioCampania" nillable="true" type="tns:BEServicioCampania" />
  <xs:complexType name="ArrayOfBEEstadoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEstadoServicio" nillable="true" type="tns:BEEstadoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEstadoServicio" nillable="true" type="tns:ArrayOfBEEstadoServicio" />
  <xs:complexType name="BEEstadoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="AR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaFinalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaInicialId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServicioId" type="xs:int" />
      <xs:element minOccurs="0" name="VE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEstadoServicio" nillable="true" type="tns:BEEstadoServicio" />
  <xs:complexType name="ArrayOfBEServicioParametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEServicioParametro" nillable="true" type="tns:BEServicioParametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEServicioParametro" nillable="true" type="tns:ArrayOfBEServicioParametro" />
  <xs:complexType name="BEServicioParametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correlativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametroId" type="xs:int" />
      <xs:element minOccurs="0" name="ServicioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEServicioParametro" nillable="true" type="tns:BEServicioParametro" />
  <xs:complexType name="ArrayOfBEParametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEParametro" nillable="true" type="tns:BEParametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEParametro" nillable="true" type="tns:ArrayOfBEParametro" />
  <xs:complexType name="BEParametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEParametro" nillable="true" type="tns:BEParametro" />
  <xs:complexType name="ArrayOfBEFactorGanancia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEFactorGanancia" nillable="true" type="tns:BEFactorGanancia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEFactorGanancia" nillable="true" type="tns:ArrayOfBEFactorGanancia" />
  <xs:complexType name="ArrayOfBEPedidoWebDetalleDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPedidoWebDetalleDescuento" nillable="true" type="tns:BEPedidoWebDetalleDescuento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPedidoWebDetalleDescuento" nillable="true" type="tns:ArrayOfBEPedidoWebDetalleDescuento" />
  <xs:complexType name="BEPedidoWebDetalleDescuento">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorDscto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoDscto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioCatalogo2" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPedidoWebDetalleDescuento" nillable="true" type="tns:BEPedidoWebDetalleDescuento" />
</xs:schema>