app/Portal.Consultoras.Web/Service References/ServiceSAC/SACService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Estrategia" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Estrategia" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/SACService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:complexType name="ArrayOfUpSelling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpSelling" nillable="true" type="tns:UpSelling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpSelling" nillable="true" type="tns:ArrayOfUpSelling" />
  <xs:complexType name="UpSelling">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" base="q1:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="CodigoCampana" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MontoMeta" type="xs:decimal" />
          <xs:element minOccurs="0" name="Regalos" nillable="true" type="tns:ArrayOfUpSellingDetalle" />
          <xs:element minOccurs="0" name="TextoGanaste" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextoGanasteSecundario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextoMeta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextoMetaSecundario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UpSellingId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpSelling" nillable="true" type="tns:UpSelling" />
  <xs:complexType name="ArrayOfUpSellingDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpSellingDetalle" nillable="true" type="tns:UpSellingDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpSellingDetalle" nillable="true" type="tns:ArrayOfUpSellingDetalle" />
  <xs:complexType name="UpSellingDetalle">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" base="q2:Auditoria">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orden" type="xs:int" />
          <xs:element minOccurs="0" name="Stock" type="xs:int" />
          <xs:element minOccurs="0" name="StockActual" type="xs:int" />
          <xs:element minOccurs="0" name="UpSellingDetalleId" type="xs:int" />
          <xs:element minOccurs="0" name="UpSellingId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpSellingDetalle" nillable="true" type="tns:UpSellingDetalle" />
  <xs:complexType name="UpSellingRegalo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraId" type="xs:int" />
      <xs:element minOccurs="0" name="GapAgregar" type="xs:decimal" />
      <xs:element minOccurs="0" name="GapMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="GapMinimo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMeta" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoRango" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpSellingRegalo" nillable="true" type="tns:UpSellingRegalo" />
</xs:schema>