app/Portal.Consultoras.Web/Service References/ServiceSAC/SACService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Mobile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Mobile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEApp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEApp" nillable="true" type="tns:BEApp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEApp" nillable="true" type="tns:ArrayOfBEApp" />
  <xs:complexType name="BEApp">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicacionNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaActualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLanzamiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MinimaVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiereActualizacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="SistemaOperativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDescarga" type="xs:short" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEApp" nillable="true" type="tns:BEApp" />
</xs:schema>