app/Portal.Consultoras.Web/Service References/ServiceZonificacion/ZonificacionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEZona" nillable="true" type="tns:BEZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEZona" nillable="true" type="tns:ArrayOfBEZona" />
  <xs:complexType name="BEZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadDias" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGerenteZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEZona" nillable="true" type="tns:BEZona" />
  <xs:complexType name="ArrayOfBEPais">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPais" nillable="true" type="tns:BEPais" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPais" nillable="true" type="tns:ArrayOfBEPais" />
  <xs:complexType name="BEPais">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISOProd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaEnfoque" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPais" nillable="true" type="tns:BEPais" />
  <xs:complexType name="ArrayOfBECampania">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECampania" nillable="true" type="tns:BECampania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECampania" nillable="true" type="tns:ArrayOfBECampania" />
  <xs:complexType name="BECampania">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Anio" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCorto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECampania" nillable="true" type="tns:BECampania" />
  <xs:complexType name="ArrayOfBERegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BERegion" nillable="true" type="tns:BERegion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBERegion" nillable="true" type="tns:ArrayOfBERegion" />
  <xs:complexType name="BERegion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BERegion" nillable="true" type="tns:BERegion" />
  <xs:complexType name="ArrayOfBEGetRegionByPaisParametroCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEGetRegionByPaisParametroCarga" nillable="true" type="tns:BEGetRegionByPaisParametroCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEGetRegionByPaisParametroCarga" nillable="true" type="tns:ArrayOfBEGetRegionByPaisParametroCarga" />
  <xs:complexType name="BEGetRegionByPaisParametroCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGetRegionByPaisParametroCarga" nillable="true" type="tns:BEGetRegionByPaisParametroCarga" />
  <xs:complexType name="ArrayOfBEGetZonaByPaisParametroCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEGetZonaByPaisParametroCarga" nillable="true" type="tns:BEGetZonaByPaisParametroCarga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEGetZonaByPaisParametroCarga" nillable="true" type="tns:ArrayOfBEGetZonaByPaisParametroCarga" />
  <xs:complexType name="BEGetZonaByPaisParametroCarga">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadDias" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGetZonaByPaisParametroCarga" nillable="true" type="tns:BEGetZonaByPaisParametroCarga" />
  <xs:complexType name="ArrayOfBETerritorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETerritorio" nillable="true" type="tns:BETerritorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETerritorio" nillable="true" type="tns:ArrayOfBETerritorio" />
  <xs:complexType name="BETerritorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="SeccionID" type="xs:int" />
      <xs:element minOccurs="0" name="TerritorioID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETerritorio" nillable="true" type="tns:BETerritorio" />
  <xs:complexType name="ArrayOfBECronogramaFIC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BECronogramaFIC" nillable="true" type="tns:BECronogramaFIC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBECronogramaFIC" nillable="true" type="tns:ArrayOfBECronogramaFIC" />
  <xs:complexType name="BECronogramaFIC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BECronogramaFIC" nillable="true" type="tns:BECronogramaFIC" />
  <xs:complexType name="ArrayOfBESegmentoBanner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BESegmentoBanner" nillable="true" type="tns:BESegmentoBanner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBESegmentoBanner" nillable="true" type="tns:ArrayOfBESegmentoBanner" />
  <xs:complexType name="BESegmentoBanner">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerSegmentoDes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerSegmentoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BESegmentoBanner" nillable="true" type="tns:BESegmentoBanner" />
  <xs:complexType name="ArrayOfBEZonificacionJerarquia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEZonificacionJerarquia" nillable="true" type="tns:BEZonificacionJerarquia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEZonificacionJerarquia" nillable="true" type="tns:ArrayOfBEZonificacionJerarquia" />
  <xs:complexType name="BEZonificacionJerarquia">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegionCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" name="RegionNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaId" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEZonificacionJerarquia" nillable="true" type="tns:BEZonificacionJerarquia" />
  <xs:complexType name="ArrayOfBEContenidoAppDetaAct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEContenidoAppDetaAct" nillable="true" type="tns:BEContenidoAppDetaAct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEContenidoAppDetaAct" nillable="true" type="tns:ArrayOfBEContenidoAppDetaAct" />
  <xs:complexType name="BEContenidoAppDetaAct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdContenidoAct" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Parent" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEContenidoAppDetaAct" nillable="true" type="tns:BEContenidoAppDetaAct" />
</xs:schema>