app/Portal.Consultoras.Web/Service References/ServiceZonificacion/ZonificacionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ZonificacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:element name="SelectZonaByCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonaByCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectZonaByCodigoResult" nillable="true" type="q1:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonaById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonaByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectZonaByIdResult" nillable="true" type="q2:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectPaisesResult" nillable="true" type="q3:ArrayOfBEPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisNumeroCampaniasByPaisID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisNumeroCampaniasByPaisIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPaisNumeroCampaniasByPaisIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCampanias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCampaniasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectCampaniasResult" nillable="true" type="q4:ArrayOfBECampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllZonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectAllZonasResult" nillable="true" type="q5:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRegiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRegionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectAllRegionesResult" nillable="true" type="q6:ArrayOfBERegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByPaisParametroCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByPaisParametroCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetRegionByPaisParametroCargaResult" nillable="true" type="q7:ArrayOfBEGetRegionByPaisParametroCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonaByPaisParametroCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonaByPaisParametroCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetZonaByPaisParametroCargaResult" nillable="true" type="q8:ArrayOfBEGetZonaByPaisParametroCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllTerritorios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllTerritoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectAllTerritoriosResult" nillable="true" type="q9:ArrayOfBETerritorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTerritorioByCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTerritorioByCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectTerritorioByCodigoResult" nillable="true" type="q10:ArrayOfBETerritorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectPaisResult" nillable="true" type="q11:BEPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetAllPaisesResult" nillable="true" type="q12:ArrayOfBEPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonasActivasFIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonasActivasFICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectZonasActivasFICResult" nillable="true" type="q13:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonasInactivasFIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectZonasInactivasFICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectZonasInactivasFICResult" nillable="true" type="q14:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsInsCronogramaFIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsInsCronogramaFICResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCronogramaFIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCronogramaFICResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCronogramaFICMasivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="cronogramaFIC" nillable="true" type="q15:ArrayOfBECronogramaFIC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsCronogramaFICMasivoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCronogramaFICByCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoCampania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCronogramaFICByCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetCronogramaFICByCampaniaResult" nillable="true" type="q16:ArrayOfBECronogramaFIC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCronogramaFIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCronogramaFICResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCronogramaFICByZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZonaCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCronogramaFICByZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetCronogramaFICByZonaResult" nillable="true" type="q17:ArrayOfBECronogramaFIC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCronogramaFICConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCronogramaFICConsultoraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectApeZonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoBusqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectApeZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectApeZonasResult" nillable="true" type="q18:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApeZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="zonaID" type="xs:int" />
        <xs:element minOccurs="0" name="cantidadDias" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApeZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaisesDD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaisesDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectPaisesDDResult" nillable="true" type="q19:ArrayOfBEPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTerritoriosByZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoTerritorio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTerritoriosByZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SearchTerritoriosByZonaResult" nillable="true" type="q20:ArrayOfBETerritorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentoBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentoBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetSegmentoBannerResult" nillable="true" type="q21:ArrayOfBESegmentoBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonificacionJerarquia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonificacionJerarquiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetZonificacionJerarquiaResult" nillable="true" type="q22:ArrayOfBEZonificacionJerarquia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentoInternoBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSegmentoInternoBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetSegmentoInternoBannerResult" nillable="true" type="q23:ArrayOfBESegmentoBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasByRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasByRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetZonasByRegionResult" nillable="true" type="q24:ArrayOfBEZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByPaisZonaActivas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionByPaisZonaActivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetRegionByPaisZonaActivasResult" nillable="true" type="q25:ArrayOfBERegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>