app/Portal.Consultoras.Web/Service References/ServiceZonificacion/ZonificacionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZonificacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IZonificacionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/ZonificacionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/ZonificacionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/ZonificacionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZonificacionService_SelectZonaByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonaByCodigo" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonaByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonaByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonaById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonaById" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonaById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonaByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaises" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetPaisNumeroCampaniasByPaisID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaisNumeroCampaniasByPaisID" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetPaisNumeroCampaniasByPaisID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaisNumeroCampaniasByPaisIDResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectCampanias_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCampanias" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectCampanias_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCampaniasResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectAllZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllZonas" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectAllZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectAllRegiones_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllRegiones" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectAllRegiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllRegionesResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetRegionByPaisParametroCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionByPaisParametroCarga" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetRegionByPaisParametroCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegionByPaisParametroCargaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetZonaByPaisParametroCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZonaByPaisParametroCarga" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetZonaByPaisParametroCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZonaByPaisParametroCargaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectAllTerritorios_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllTerritorios" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectAllTerritorios_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllTerritoriosResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectTerritorioByCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTerritorioByCodigo" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectTerritorioByCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTerritorioByCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectPais_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPais" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetAllPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPaises" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetAllPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonasActivasFIC_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonasActivasFIC" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonasActivasFIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonasActivasFICResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonasInactivasFIC_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonasInactivasFIC" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectZonasInactivasFIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectZonasInactivasFICResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_InsInsCronogramaFIC_InputMessage">
    <wsdl:part name="parameters" element="tns:InsInsCronogramaFIC" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_InsInsCronogramaFIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsInsCronogramaFICResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_DelCronogramaFIC_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCronogramaFIC" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_DelCronogramaFIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCronogramaFICResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_InsCronogramaFICMasivo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsCronogramaFICMasivo" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_InsCronogramaFICMasivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsCronogramaFICMasivoResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetCronogramaFICByCampania_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCronogramaFICByCampania" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetCronogramaFICByCampania_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCronogramaFICByCampaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_UpdCronogramaFIC_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdCronogramaFIC" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_UpdCronogramaFIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdCronogramaFICResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetCronogramaFICByZona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCronogramaFICByZona" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetCronogramaFICByZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCronogramaFICByZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_DelCronogramaFICConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCronogramaFICConsultora" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_DelCronogramaFICConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCronogramaFICConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectApeZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectApeZonas" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectApeZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectApeZonasResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_UpdateApeZona_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApeZona" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_UpdateApeZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateApeZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectPaisesDD_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaisesDD" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SelectPaisesDD_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPaisesDDResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SearchTerritoriosByZona_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTerritoriosByZona" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_SearchTerritoriosByZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchTerritoriosByZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetSegmentoBanner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSegmentoBanner" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetSegmentoBanner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSegmentoBannerResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetZonificacionJerarquia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZonificacionJerarquia" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetZonificacionJerarquia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZonificacionJerarquiaResponse" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetSegmentoInternoBanner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSegmentoInternoBanner" />
  </wsdl:message>
  <wsdl:message name="IZonificacionService_GetSegmentoInternoBanner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSegmentoInternoBannerResponse" />
  </wsdl:message>
  <wsdl:portType name="IZonificacionService">
    <wsdl:operation name="SelectZonaByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonaByCodigo" message="tns:IZonificacionService_SelectZonaByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonaByCodigoResponse" message="tns:IZonificacionService_SelectZonaByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectZonaById">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonaById" message="tns:IZonificacionService_SelectZonaById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonaByIdResponse" message="tns:IZonificacionService_SelectZonaById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectPaises" message="tns:IZonificacionService_SelectPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectPaisesResponse" message="tns:IZonificacionService_SelectPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaisNumeroCampaniasByPaisID">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetPaisNumeroCampaniasByPaisID" message="tns:IZonificacionService_GetPaisNumeroCampaniasByPaisID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetPaisNumeroCampaniasByPaisIDResponse" message="tns:IZonificacionService_GetPaisNumeroCampaniasByPaisID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectCampanias">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectCampanias" message="tns:IZonificacionService_SelectCampanias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectCampaniasResponse" message="tns:IZonificacionService_SelectCampanias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectAllZonas" message="tns:IZonificacionService_SelectAllZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectAllZonasResponse" message="tns:IZonificacionService_SelectAllZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllRegiones">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectAllRegiones" message="tns:IZonificacionService_SelectAllRegiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectAllRegionesResponse" message="tns:IZonificacionService_SelectAllRegiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionByPaisParametroCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetRegionByPaisParametroCarga" message="tns:IZonificacionService_GetRegionByPaisParametroCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetRegionByPaisParametroCargaResponse" message="tns:IZonificacionService_GetRegionByPaisParametroCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZonaByPaisParametroCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetZonaByPaisParametroCarga" message="tns:IZonificacionService_GetZonaByPaisParametroCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetZonaByPaisParametroCargaResponse" message="tns:IZonificacionService_GetZonaByPaisParametroCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllTerritorios">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectAllTerritorios" message="tns:IZonificacionService_SelectAllTerritorios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectAllTerritoriosResponse" message="tns:IZonificacionService_SelectAllTerritorios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTerritorioByCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectTerritorioByCodigo" message="tns:IZonificacionService_SelectTerritorioByCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectTerritorioByCodigoResponse" message="tns:IZonificacionService_SelectTerritorioByCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectPais" message="tns:IZonificacionService_SelectPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectPaisResponse" message="tns:IZonificacionService_SelectPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetAllPaises" message="tns:IZonificacionService_GetAllPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetAllPaisesResponse" message="tns:IZonificacionService_GetAllPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectZonasActivasFIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonasActivasFIC" message="tns:IZonificacionService_SelectZonasActivasFIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonasActivasFICResponse" message="tns:IZonificacionService_SelectZonasActivasFIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectZonasInactivasFIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonasInactivasFIC" message="tns:IZonificacionService_SelectZonasInactivasFIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectZonasInactivasFICResponse" message="tns:IZonificacionService_SelectZonasInactivasFIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsInsCronogramaFIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/InsInsCronogramaFIC" message="tns:IZonificacionService_InsInsCronogramaFIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/InsInsCronogramaFICResponse" message="tns:IZonificacionService_InsInsCronogramaFIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCronogramaFIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/DelCronogramaFIC" message="tns:IZonificacionService_DelCronogramaFIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/DelCronogramaFICResponse" message="tns:IZonificacionService_DelCronogramaFIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsCronogramaFICMasivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/InsCronogramaFICMasivo" message="tns:IZonificacionService_InsCronogramaFICMasivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/InsCronogramaFICMasivoResponse" message="tns:IZonificacionService_InsCronogramaFICMasivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCronogramaFICByCampania">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetCronogramaFICByCampania" message="tns:IZonificacionService_GetCronogramaFICByCampania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetCronogramaFICByCampaniaResponse" message="tns:IZonificacionService_GetCronogramaFICByCampania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdCronogramaFIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/UpdCronogramaFIC" message="tns:IZonificacionService_UpdCronogramaFIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/UpdCronogramaFICResponse" message="tns:IZonificacionService_UpdCronogramaFIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCronogramaFICByZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetCronogramaFICByZona" message="tns:IZonificacionService_GetCronogramaFICByZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetCronogramaFICByZonaResponse" message="tns:IZonificacionService_GetCronogramaFICByZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCronogramaFICConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/DelCronogramaFICConsultora" message="tns:IZonificacionService_DelCronogramaFICConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/DelCronogramaFICConsultoraResponse" message="tns:IZonificacionService_DelCronogramaFICConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectApeZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectApeZonas" message="tns:IZonificacionService_SelectApeZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectApeZonasResponse" message="tns:IZonificacionService_SelectApeZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateApeZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/UpdateApeZona" message="tns:IZonificacionService_UpdateApeZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/UpdateApeZonaResponse" message="tns:IZonificacionService_UpdateApeZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPaisesDD">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SelectPaisesDD" message="tns:IZonificacionService_SelectPaisesDD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SelectPaisesDDResponse" message="tns:IZonificacionService_SelectPaisesDD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchTerritoriosByZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/SearchTerritoriosByZona" message="tns:IZonificacionService_SearchTerritoriosByZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/SearchTerritoriosByZonaResponse" message="tns:IZonificacionService_SearchTerritoriosByZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSegmentoBanner">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetSegmentoBanner" message="tns:IZonificacionService_GetSegmentoBanner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetSegmentoBannerResponse" message="tns:IZonificacionService_GetSegmentoBanner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZonificacionJerarquia">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetZonificacionJerarquia" message="tns:IZonificacionService_GetZonificacionJerarquia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetZonificacionJerarquiaResponse" message="tns:IZonificacionService_GetZonificacionJerarquia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSegmentoInternoBanner">
      <wsdl:input wsaw:Action="http://tempuri.org/IZonificacionService/GetSegmentoInternoBanner" message="tns:IZonificacionService_GetSegmentoInternoBanner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZonificacionService/GetSegmentoInternoBannerResponse" message="tns:IZonificacionService_GetSegmentoInternoBanner_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZonificacionService" type="tns:IZonificacionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectZonaByCodigo">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonaByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonaById">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaises">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaisNumeroCampaniasByPaisID">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetPaisNumeroCampaniasByPaisID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCampanias">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectCampanias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllZonas">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectAllZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllRegiones">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectAllRegiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionByPaisParametroCarga">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetRegionByPaisParametroCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZonaByPaisParametroCarga">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetZonaByPaisParametroCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllTerritorios">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectAllTerritorios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTerritorioByCodigo">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectTerritorioByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPais">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaises">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetAllPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonasActivasFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonasActivasFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonasInactivasFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonasInactivasFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsInsCronogramaFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/InsInsCronogramaFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCronogramaFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/DelCronogramaFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCronogramaFICMasivo">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/InsCronogramaFICMasivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCronogramaFICByCampania">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetCronogramaFICByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdCronogramaFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/UpdCronogramaFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCronogramaFICByZona">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetCronogramaFICByZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCronogramaFICConsultora">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/DelCronogramaFICConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectApeZonas">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectApeZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApeZona">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/UpdateApeZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaisesDD">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectPaisesDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTerritoriosByZona">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SearchTerritoriosByZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentoBanner">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetSegmentoBanner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZonificacionJerarquia">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetZonificacionJerarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentoInternoBanner">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetSegmentoInternoBanner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IZonificacionService" type="tns:IZonificacionService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IZonificacionService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectZonaByCodigo">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonaByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonaById">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaises">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaisNumeroCampaniasByPaisID">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetPaisNumeroCampaniasByPaisID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCampanias">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectCampanias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllZonas">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectAllZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllRegiones">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectAllRegiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionByPaisParametroCarga">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetRegionByPaisParametroCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZonaByPaisParametroCarga">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetZonaByPaisParametroCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllTerritorios">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectAllTerritorios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTerritorioByCodigo">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectTerritorioByCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPais">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaises">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetAllPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonasActivasFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonasActivasFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonasInactivasFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectZonasInactivasFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsInsCronogramaFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/InsInsCronogramaFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCronogramaFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/DelCronogramaFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsCronogramaFICMasivo">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/InsCronogramaFICMasivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCronogramaFICByCampania">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetCronogramaFICByCampania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdCronogramaFIC">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/UpdCronogramaFIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCronogramaFICByZona">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetCronogramaFICByZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCronogramaFICConsultora">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/DelCronogramaFICConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectApeZonas">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectApeZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApeZona">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/UpdateApeZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPaisesDD">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SelectPaisesDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTerritoriosByZona">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/SearchTerritoriosByZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentoBanner">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetSegmentoBanner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZonificacionJerarquia">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetZonificacionJerarquia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSegmentoInternoBanner">
      <soap:operation soapAction="http://tempuri.org/IZonificacionService/GetSegmentoInternoBanner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZonificacionService">
    <wsdl:port name="BasicHttpBinding_IZonificacionService" binding="tns:BasicHttpBinding_IZonificacionService">
      <soap:address location="http://localhost:41615/ZonificacionService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IZonificacionService" binding="tns:BasicHttpsBinding_IZonificacionService">
      <soap:address location="https://localhost:44392/ZonificacionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>