app/Portal.Consultoras.Web/Service References/ServiceEvaluacionCrediticia/EvaluacionCrediticiaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
  <xs:complexType name="EvaluacionCrediticiaBE">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="EnumEstadoCrediticio" type="q1:Enums.EstadoBurocrediticio" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiereAprobacionSAC" type="xs:boolean" />
      <xs:element minOccurs="0" name="RespuestaEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaServicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluacionCrediticiaBE" nillable="true" type="tns:EvaluacionCrediticiaBE" />
  <xs:complexType name="EvaluacionCrediticiaDatosBE">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="EnumEstadoCrediticio" type="q2:Enums.EstadoBurocrediticio" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequiereAprobacionSAC" type="xs:boolean" />
      <xs:element minOccurs="0" name="RespuestaEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespuestaServicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluacionCrediticiaDatosBE" nillable="true" type="tns:EvaluacionCrediticiaDatosBE" />
</xs:schema>