app/Portal.Consultoras.Web/Service References/ServiceEvaluacionCrediticia/EvaluacionCrediticiaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvaluacionCrediticiaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticio_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticio" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCO" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCOResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeru_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioPeru" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeru_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioPeruResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeruZona_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioPeruZona" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeruZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioPeruZonaResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCam_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCam" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCamResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCaribe_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCaribe" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCaribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCaribeResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioBO_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioBO" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioBO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioBOResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioEcuador_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioEcuador" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioEcuador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioEcuadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvaluacionCrediticiaService">
    <wsdl:operation name="ConsultarServicioCrediticio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticio" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCO">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCO" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCOResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioPeru">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioPeru" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeru_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioPeruResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeru_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioPeruZona">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioPeruZona" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeruZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioPeruZonaResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioPeruZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCam">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCam" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCamResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCaribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCaribe" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCaribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCaribeResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCaribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioBO">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioBO" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioBO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioBOResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioBO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioEcuador">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioEcuador" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioEcuador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioEcuadorResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioEcuador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvaluacionCrediticiaService" type="tns:IEvaluacionCrediticiaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarServicioCrediticio">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCO">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioPeru">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioPeru" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioPeruZona">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioPeruZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCam">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCaribe">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCaribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioBO">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioEcuador">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioEcuador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvaluacionCrediticiaService">
    <wsdl:port name="BasicHttpBinding_IEvaluacionCrediticiaService" binding="tns:BasicHttpBinding_IEvaluacionCrediticiaService">
      <soap:address location="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/EvaluacionCrediticiaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>