app/Portal.Consultoras.Web/Service References/ServiceEvaluacionCrediticia/EvaluacionCrediticiaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvaluacionCrediticiaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27067/EvaluacionCrediticiaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27067/EvaluacionCrediticiaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27067/EvaluacionCrediticiaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
      <xsd:import schemaLocation="http://localhost:27067/EvaluacionCrediticiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticio_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticio" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticio_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioResponse" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCO" />
  </wsdl:message>
  <wsdl:message name="IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarServicioCrediticioCOResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvaluacionCrediticiaService">
    <wsdl:operation name="ConsultarServicioCrediticio">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticio" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCO">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCO" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCOResponse" message="tns:IEvaluacionCrediticiaService_ConsultarServicioCrediticioCO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvaluacionCrediticiaService" type="tns:IEvaluacionCrediticiaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarServicioCrediticio">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarServicioCrediticioCO">
      <soap:operation soapAction="http://tempuri.org/IEvaluacionCrediticiaService/ConsultarServicioCrediticioCO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvaluacionCrediticiaService">
    <wsdl:port name="BasicHttpBinding_IEvaluacionCrediticiaService" binding="tns:BasicHttpBinding_IEvaluacionCrediticiaService">
      <soap:address location="http://localhost:27067/EvaluacionCrediticiaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>