app/Portal.Consultoras.Web/Web References/ServiceCatalogosIssuu/MulticatalogoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Belcorp.WebServices/MulticatalogoService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Belcorp.WebServices/MulticatalogoService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Belcorp.WebServices/MulticatalogoService">
      <s:element name="GetCatalogosPublicados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCatalogosPublicadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCatalogosPublicadosResult" type="tns:ArrayOfCatalogo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCatalogo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Catalogo" nillable="true" type="tns:Catalogo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Catalogo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idCatalogo" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPais" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdFuente" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoCampana" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionCatalogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="orden" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdMarcaCatalogo" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionFuente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="marcaCatalogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionMarcaCatalogo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SkinURL" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNumeroPedidosPendientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPerfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumeroPedidosPendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetNumeroPedidosPendientesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoPendiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPerfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoPendienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPedidoPendienteResult" type="tns:ArrayOfPedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pedido" nillable="true" type="tns:Pedido" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pedido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idPedido" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaPedido" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoCampana" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="montoConsolidado" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoConsolidadoAprobado" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidadProductosSolicitados" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadProductosAprobados" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="codClientePortal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPedidoPendienteDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPedido" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoPendienteDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPedidoPendienteDetalleResult" type="tns:ArrayOfPedidoDetalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPedidoDetalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PedidoDetalle" nillable="true" type="tns:PedidoDetalle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PedidoDetalle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedidoDetalle" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMarcaCatalogo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadGuardada" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadSolicitada" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadAprobada" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSolicitada" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalAprobada" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalGuardada" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoPedido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoVenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescripcionProducto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioUnitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FactorRepeticion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPedidoPendienteConsolidado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPerfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoPendienteConsolidadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPedidoPendienteConsolidadoResult" type="tns:ArrayOfPedidoDetalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdPedidoPendiente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pedidoDetalle" type="tns:ArrayOfPedidoDetalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdPedidoPendienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdPedidoPendienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoEnviado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPerfil" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoEnviadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPedidoEnviadoResult" type="tns:ArrayOfPedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoEnviadoDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFuente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefijoISOPais" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPedido" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPedidoEnviadoDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPedidoEnviadoDetalleResult" type="tns:ArrayOfPedidoDetalle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfCatalogo" nillable="true" type="tns:ArrayOfCatalogo" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfPedido" nillable="true" type="tns:ArrayOfPedido" />
      <s:element name="ArrayOfPedidoDetalle" nillable="true" type="tns:ArrayOfPedidoDetalle" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCatalogosPublicadosSoapIn">
    <wsdl:part name="parameters" element="tns:GetCatalogosPublicados" />
  </wsdl:message>
  <wsdl:message name="GetCatalogosPublicadosSoapOut">
    <wsdl:part name="parameters" element="tns:GetCatalogosPublicadosResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumeroPedidosPendientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetNumeroPedidosPendientes" />
  </wsdl:message>
  <wsdl:message name="GetNumeroPedidosPendientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumeroPedidosPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteSoapIn">
    <wsdl:part name="parameters" element="tns:GetPedidoPendiente" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteSoapOut">
    <wsdl:part name="parameters" element="tns:GetPedidoPendienteResponse" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:GetPedidoPendienteDetalle" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:GetPedidoPendienteDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteConsolidadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPedidoPendienteConsolidado" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteConsolidadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPedidoPendienteConsolidadoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdPedidoPendienteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdPedidoPendiente" />
  </wsdl:message>
  <wsdl:message name="UpdPedidoPendienteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdPedidoPendienteResponse" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPedidoEnviado" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPedidoEnviadoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:GetPedidoEnviadoDetalle" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:GetPedidoEnviadoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="GetCatalogosPublicadosHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCatalogosPublicadosHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCatalogo" />
  </wsdl:message>
  <wsdl:message name="GetNumeroPedidosPendientesHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumeroPedidosPendientesHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedido" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteDetalleHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="idPedido" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteDetalleHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteConsolidadoHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteConsolidadoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedido" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoDetalleHttpGetIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="idPedido" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoDetalleHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="GetCatalogosPublicadosHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCatalogosPublicadosHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCatalogo" />
  </wsdl:message>
  <wsdl:message name="GetNumeroPedidosPendientesHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumeroPedidosPendientesHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedido" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteDetalleHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="idPedido" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteDetalleHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteConsolidadoHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoPendienteConsolidadoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidoDetalle" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="codigoPerfil" type="s:string" />
    <wsdl:part name="codigo" type="s:string" />
    <wsdl:part name="anoCampana" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedido" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoDetalleHttpPostIn">
    <wsdl:part name="codigoFuente" type="s:string" />
    <wsdl:part name="prefijoISOPais" type="s:string" />
    <wsdl:part name="idPedido" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPedidoEnviadoDetalleHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPedidoDetalle" />
  </wsdl:message>
  <wsdl:portType name="MulticatalogoWebServiceSoap">
    <wsdl:operation name="GetCatalogosPublicados">
      <wsdl:input message="tns:GetCatalogosPublicadosSoapIn" />
      <wsdl:output message="tns:GetCatalogosPublicadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <wsdl:input message="tns:GetNumeroPedidosPendientesSoapIn" />
      <wsdl:output message="tns:GetNumeroPedidosPendientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <wsdl:input message="tns:GetPedidoPendienteSoapIn" />
      <wsdl:output message="tns:GetPedidoPendienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <wsdl:input message="tns:GetPedidoPendienteDetalleSoapIn" />
      <wsdl:output message="tns:GetPedidoPendienteDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <wsdl:input message="tns:GetPedidoPendienteConsolidadoSoapIn" />
      <wsdl:output message="tns:GetPedidoPendienteConsolidadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdPedidoPendiente">
      <wsdl:input message="tns:UpdPedidoPendienteSoapIn" />
      <wsdl:output message="tns:UpdPedidoPendienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <wsdl:input message="tns:GetPedidoEnviadoSoapIn" />
      <wsdl:output message="tns:GetPedidoEnviadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <wsdl:input message="tns:GetPedidoEnviadoDetalleSoapIn" />
      <wsdl:output message="tns:GetPedidoEnviadoDetalleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MulticatalogoWebServiceHttpGet">
    <wsdl:operation name="GetCatalogosPublicados">
      <wsdl:input message="tns:GetCatalogosPublicadosHttpGetIn" />
      <wsdl:output message="tns:GetCatalogosPublicadosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <wsdl:input message="tns:GetNumeroPedidosPendientesHttpGetIn" />
      <wsdl:output message="tns:GetNumeroPedidosPendientesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <wsdl:input message="tns:GetPedidoPendienteHttpGetIn" />
      <wsdl:output message="tns:GetPedidoPendienteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <wsdl:input message="tns:GetPedidoPendienteDetalleHttpGetIn" />
      <wsdl:output message="tns:GetPedidoPendienteDetalleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <wsdl:input message="tns:GetPedidoPendienteConsolidadoHttpGetIn" />
      <wsdl:output message="tns:GetPedidoPendienteConsolidadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <wsdl:input message="tns:GetPedidoEnviadoHttpGetIn" />
      <wsdl:output message="tns:GetPedidoEnviadoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <wsdl:input message="tns:GetPedidoEnviadoDetalleHttpGetIn" />
      <wsdl:output message="tns:GetPedidoEnviadoDetalleHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MulticatalogoWebServiceHttpPost">
    <wsdl:operation name="GetCatalogosPublicados">
      <wsdl:input message="tns:GetCatalogosPublicadosHttpPostIn" />
      <wsdl:output message="tns:GetCatalogosPublicadosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <wsdl:input message="tns:GetNumeroPedidosPendientesHttpPostIn" />
      <wsdl:output message="tns:GetNumeroPedidosPendientesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <wsdl:input message="tns:GetPedidoPendienteHttpPostIn" />
      <wsdl:output message="tns:GetPedidoPendienteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <wsdl:input message="tns:GetPedidoPendienteDetalleHttpPostIn" />
      <wsdl:output message="tns:GetPedidoPendienteDetalleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <wsdl:input message="tns:GetPedidoPendienteConsolidadoHttpPostIn" />
      <wsdl:output message="tns:GetPedidoPendienteConsolidadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <wsdl:input message="tns:GetPedidoEnviadoHttpPostIn" />
      <wsdl:output message="tns:GetPedidoEnviadoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <wsdl:input message="tns:GetPedidoEnviadoDetalleHttpPostIn" />
      <wsdl:output message="tns:GetPedidoEnviadoDetalleHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MulticatalogoWebServiceSoap" type="tns:MulticatalogoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCatalogosPublicados">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetCatalogosPublicados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetNumeroPedidosPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoPendiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoPendienteDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoPendienteConsolidado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdPedidoPendiente">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/UpdPedidoPendiente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoEnviado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <soap:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoEnviadoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MulticatalogoWebServiceSoap12" type="tns:MulticatalogoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCatalogosPublicados">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetCatalogosPublicados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetNumeroPedidosPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoPendiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoPendienteDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoPendienteConsolidado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdPedidoPendiente">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/UpdPedidoPendiente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoEnviado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <soap12:operation soapAction="http://Belcorp.WebServices/MulticatalogoService/GetPedidoEnviadoDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MulticatalogoWebServiceHttpGet" type="tns:MulticatalogoWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCatalogosPublicados">
      <http:operation location="/GetCatalogosPublicados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <http:operation location="/GetNumeroPedidosPendientes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <http:operation location="/GetPedidoPendiente" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <http:operation location="/GetPedidoPendienteDetalle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <http:operation location="/GetPedidoPendienteConsolidado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <http:operation location="/GetPedidoEnviado" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <http:operation location="/GetPedidoEnviadoDetalle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MulticatalogoWebServiceHttpPost" type="tns:MulticatalogoWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCatalogosPublicados">
      <http:operation location="/GetCatalogosPublicados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumeroPedidosPendientes">
      <http:operation location="/GetNumeroPedidosPendientes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendiente">
      <http:operation location="/GetPedidoPendiente" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteDetalle">
      <http:operation location="/GetPedidoPendienteDetalle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoPendienteConsolidado">
      <http:operation location="/GetPedidoPendienteConsolidado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviado">
      <http:operation location="/GetPedidoEnviado" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPedidoEnviadoDetalle">
      <http:operation location="/GetPedidoEnviadoDetalle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MulticatalogoWebService">
    <wsdl:port name="MulticatalogoWebServiceSoap" binding="tns:MulticatalogoWebServiceSoap">
      <soap:address location="http://www.catalogosbelcorp.com/Web/MulticatalogoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MulticatalogoWebServiceSoap12" binding="tns:MulticatalogoWebServiceSoap12">
      <soap12:address location="http://www.catalogosbelcorp.com/Web/MulticatalogoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MulticatalogoWebServiceHttpGet" binding="tns:MulticatalogoWebServiceHttpGet">
      <http:address location="http://www.catalogosbelcorp.com/Web/MulticatalogoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MulticatalogoWebServiceHttpPost" binding="tns:MulticatalogoWebServiceHttpPost">
      <http:address location="http://www.catalogosbelcorp.com/Web/MulticatalogoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>