app/Portal.Consultoras.Web/Service References/ServiceSeguridad/SeguridadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/SeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:element name="InsRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="rol" nillable="true" type="q1:BERol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="BEUsuarioRol" nillable="true" type="q2:BEUsuarioRol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsUsuarioRolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="rol" nillable="true" type="q3:BERol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="RolID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyRolByDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="rol" nillable="true" type="q4:BERol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyRolByDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyRolByDescripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetRolesResult" nillable="true" type="q5:ArrayOfBERol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesBySistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="sistema" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesBySistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetRolesBySistemaResult" nillable="true" type="q6:ArrayOfBERol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosByRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="rolID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosByRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPermisosByRolResult" nillable="true" type="q7:ArrayOfBEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosByRolAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="rolID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosByRolAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPermisosByRolAdministradorResult" nillable="true" type="q8:ArrayOfBEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPermisosCheckByRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="rolID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPermisosCheckByRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetAllPermisosCheckByRolResult" nillable="true" type="q9:ArrayOfBEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsPermisosByRolMasiv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="RolID" type="xs:int" />
        <xs:element minOccurs="0" name="Permisos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsPermisosByRolMasivResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsPermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q10:BEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsPermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q11:BEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePermiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="permisoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosByRolConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="rolID" type="xs:int" />
        <xs:element minOccurs="0" name="posicion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosByRolConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPermisosByRolConsultaResult" nillable="true" type="q12:ArrayOfBEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosPadreBySistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="sistema" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermisosPadreBySistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPermisosPadreBySistemaResult" nillable="true" type="q13:ArrayOfBEPermiso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsMenuMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsMenuMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetItemsMenuMobileResult" nillable="true" type="q14:ArrayOfBEMenuMobile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="menuApp" nillable="true" type="q15:BEMenuApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetMenuAppResult" nillable="true" type="q16:ArrayOfBEMenuApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>