app/Portal.Consultoras.Web/Service References/ServiceSeguridad/SeguridadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BERol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PermisoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RolID" type="xs:int" />
      <xs:element minOccurs="0" name="Sistema" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BERol" nillable="true" type="tns:BERol" />
  <xs:complexType name="BEUsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioRol" nillable="true" type="tns:BEUsuarioRol" />
  <xs:complexType name="ArrayOfBERol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BERol" nillable="true" type="tns:BERol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBERol" nillable="true" type="tns:ArrayOfBERol" />
  <xs:complexType name="ArrayOfBEPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPermiso" nillable="true" type="tns:BEPermiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPermiso" nillable="true" type="tns:ArrayOfBEPermiso" />
  <xs:complexType name="BEPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionPadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionPaginaNueva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsMenuEspecial" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsServicios" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsSoloImagen" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdPadre" type="xs:int" />
      <xs:element minOccurs="0" name="Mostrar" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrdenItem" type="xs:int" />
      <xs:element minOccurs="0" name="PaginaNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PermisoID" type="xs:int" />
      <xs:element minOccurs="0" name="Posicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolId" type="xs:int" />
      <xs:element minOccurs="0" name="UrlImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlItem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPermiso" nillable="true" type="tns:BEPermiso" />
  <xs:complexType name="ArrayOfBEMenuMobile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMenuMobile" nillable="true" type="tns:BEMenuMobile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMenuMobile" nillable="true" type="tns:ArrayOfBEMenuMobile" />
  <xs:complexType name="BEMenuMobile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuMobileID" type="xs:int" />
      <xs:element minOccurs="0" name="MenuPadreID" type="xs:int" />
      <xs:element minOccurs="0" name="OrdenItem" type="xs:int" />
      <xs:element minOccurs="0" name="PaginaNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="Posicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMenuMobile" nillable="true" type="tns:BEMenuMobile" />
  <xs:complexType name="BEMenuApp">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMenuPadre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuAppId" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Posicion" type="xs:int" />
      <xs:element minOccurs="0" name="RevistaDigitalSuscripcion" type="xs:short" />
      <xs:element minOccurs="0" name="SubMenus" nillable="true" type="tns:ArrayOfBEMenuApp" />
      <xs:element minOccurs="0" name="VersionMenu" type="xs:short" />
      <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="paisId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMenuApp" nillable="true" type="tns:BEMenuApp" />
  <xs:complexType name="ArrayOfBEMenuApp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMenuApp" nillable="true" type="tns:BEMenuApp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMenuApp" nillable="true" type="tns:ArrayOfBEMenuApp" />
</xs:schema>