app/Portal.Consultoras.Web/Service References/ServiceSeguridad/SeguridadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeguridadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISeguridadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/SeguridadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/SeguridadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/SeguridadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridadService_InsRol_InputMessage">
    <wsdl:part name="parameters" element="tns:InsRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsUsuarioRol_InputMessage">
    <wsdl:part name="parameters" element="tns:InsUsuarioRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsUsuarioRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsUsuarioRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_UpdRol_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_UpdRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_DelRol_InputMessage">
    <wsdl:part name="parameters" element="tns:DelRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_DelRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_VerifyRolByDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyRolByDescripcion" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_VerifyRolByDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyRolByDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetRolesBySistema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesBySistema" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetRolesBySistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesBySistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosByRol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosByRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosByRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosByRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosByRolAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosByRolAdministrador" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosByRolAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosByRolAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetAllPermisosCheckByRol_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPermisosCheckByRol" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetAllPermisosCheckByRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPermisosCheckByRolResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsPermisosByRolMasiv_InputMessage">
    <wsdl:part name="parameters" element="tns:InsPermisosByRolMasiv" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsPermisosByRolMasiv_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsPermisosByRolMasivResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:InsPermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_InsPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_UpdatePermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_UpdatePermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_DeletePermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePermiso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_DeletePermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosByRolConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosByRolConsulta" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosByRolConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosByRolConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosPadreBySistema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosPadreBySistema" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetPermisosPadreBySistema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermisosPadreBySistemaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetItemsMenuMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsMenuMobile" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetItemsMenuMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsMenuMobileResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetMenuApp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuApp" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_GetMenuApp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuAppResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadService">
    <wsdl:operation name="InsRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/InsRol" message="tns:ISeguridadService_InsRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/InsRolResponse" message="tns:ISeguridadService_InsRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsUsuarioRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/InsUsuarioRol" message="tns:ISeguridadService_InsUsuarioRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/InsUsuarioRolResponse" message="tns:ISeguridadService_InsUsuarioRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/UpdRol" message="tns:ISeguridadService_UpdRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/UpdRolResponse" message="tns:ISeguridadService_UpdRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/DelRol" message="tns:ISeguridadService_DelRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/DelRolResponse" message="tns:ISeguridadService_DelRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyRolByDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/VerifyRolByDescripcion" message="tns:ISeguridadService_VerifyRolByDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/VerifyRolByDescripcionResponse" message="tns:ISeguridadService_VerifyRolByDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetRoles" message="tns:ISeguridadService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetRolesResponse" message="tns:ISeguridadService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesBySistema">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetRolesBySistema" message="tns:ISeguridadService_GetRolesBySistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetRolesBySistemaResponse" message="tns:ISeguridadService_GetRolesBySistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosByRol" message="tns:ISeguridadService_GetPermisosByRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosByRolResponse" message="tns:ISeguridadService_GetPermisosByRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRolAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosByRolAdministrador" message="tns:ISeguridadService_GetPermisosByRolAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosByRolAdministradorResponse" message="tns:ISeguridadService_GetPermisosByRolAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPermisosCheckByRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetAllPermisosCheckByRol" message="tns:ISeguridadService_GetAllPermisosCheckByRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetAllPermisosCheckByRolResponse" message="tns:ISeguridadService_GetAllPermisosCheckByRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsPermisosByRolMasiv">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/InsPermisosByRolMasiv" message="tns:ISeguridadService_InsPermisosByRolMasiv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/InsPermisosByRolMasivResponse" message="tns:ISeguridadService_InsPermisosByRolMasiv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/InsPermiso" message="tns:ISeguridadService_InsPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/InsPermisoResponse" message="tns:ISeguridadService_InsPermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/UpdatePermiso" message="tns:ISeguridadService_UpdatePermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/UpdatePermisoResponse" message="tns:ISeguridadService_UpdatePermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/DeletePermiso" message="tns:ISeguridadService_DeletePermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/DeletePermisoResponse" message="tns:ISeguridadService_DeletePermiso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRolConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosByRolConsulta" message="tns:ISeguridadService_GetPermisosByRolConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosByRolConsultaResponse" message="tns:ISeguridadService_GetPermisosByRolConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermisosPadreBySistema">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosPadreBySistema" message="tns:ISeguridadService_GetPermisosPadreBySistema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetPermisosPadreBySistemaResponse" message="tns:ISeguridadService_GetPermisosPadreBySistema_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemsMenuMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetItemsMenuMobile" message="tns:ISeguridadService_GetItemsMenuMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetItemsMenuMobileResponse" message="tns:ISeguridadService_GetItemsMenuMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuApp">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/GetMenuApp" message="tns:ISeguridadService_GetMenuApp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/GetMenuAppResponse" message="tns:ISeguridadService_GetMenuApp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISeguridadService" type="tns:ISeguridadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsUsuarioRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsUsuarioRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/UpdRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/DelRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyRolByDescripcion">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/VerifyRolByDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesBySistema">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetRolesBySistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosByRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRolAdministrador">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosByRolAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPermisosCheckByRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetAllPermisosCheckByRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsPermisosByRolMasiv">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsPermisosByRolMasiv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsPermiso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePermiso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/UpdatePermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePermiso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/DeletePermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRolConsulta">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosByRolConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosPadreBySistema">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosPadreBySistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsMenuMobile">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetItemsMenuMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuApp">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetMenuApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISeguridadService" type="tns:ISeguridadService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISeguridadService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsUsuarioRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsUsuarioRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/UpdRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/DelRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyRolByDescripcion">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/VerifyRolByDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesBySistema">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetRolesBySistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosByRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRolAdministrador">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosByRolAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPermisosCheckByRol">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetAllPermisosCheckByRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsPermisosByRolMasiv">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsPermisosByRolMasiv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsPermiso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/InsPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePermiso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/UpdatePermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePermiso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/DeletePermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosByRolConsulta">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosByRolConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermisosPadreBySistema">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetPermisosPadreBySistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsMenuMobile">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetItemsMenuMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuApp">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/GetMenuApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeguridadService">
    <wsdl:port name="BasicHttpBinding_ISeguridadService" binding="tns:BasicHttpBinding_ISeguridadService">
      <soap:address location="http://localhost:41615/SeguridadService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISeguridadService" binding="tns:BasicHttpsBinding_ISeguridadService">
      <soap:address location="https://localhost:44392/SeguridadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>