app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:41615/UsuarioService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
  <xs:import schemaLocation="http://localhost:41615/UsuarioService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" />
  <xs:complexType name="BEValidaLoginSB2">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEValidaLoginSB2" nillable="true" type="tns:BEValidaLoginSB2" />
  <xs:complexType name="BEUsuarioExternoPais">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioExternoPais" nillable="true" type="tns:BEUsuarioExternoPais" />
  <xs:simpleType name="EAplicacionOrigen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BienvenidaConsultora">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MisDatosConsultora">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ActualizarClaveSAC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RecuperarClave">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConsultoraFicticia">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EAplicacionOrigen" nillable="true" type="tns:EAplicacionOrigen" />
  <xs:complexType name="BEConfiguracionPais">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="BloqueoRevistaImpresa" type="xs:boolean" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesdeCampania" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopFondoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopLogoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopSubTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTituloMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:BEConfiguracionPaisDetalle" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
          <xs:element minOccurs="0" name="Excluyente" type="xs:boolean" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileFondoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileLogoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileOrden" type="xs:int" />
          <xs:element minOccurs="0" name="MobileOrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="MobileSubTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTituloMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orden" type="xs:int" />
          <xs:element minOccurs="0" name="OrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="TienePerfil" type="xs:boolean" />
          <xs:element minOccurs="0" name="UrlMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
  <xs:complexType name="BaseEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntidad" nillable="true" type="tns:BaseEntidad" />
  <xs:complexType name="BEConfiguracionPaisDetalle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPaisDetalleID" type="xs:int" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPaisDetalle" nillable="true" type="tns:BEConfiguracionPaisDetalle" />
  <xs:complexType name="ArrayOfBEConfiguracionPais">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionPais" nillable="true" type="tns:ArrayOfBEConfiguracionPais" />
  <xs:complexType name="BEConfiguracionPaisDatos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Componente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
          <xs:element minOccurs="0" name="Valor1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valor2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valor3" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPaisDatos" nillable="true" type="tns:BEConfiguracionPaisDatos" />
  <xs:complexType name="ArrayOfBEConfiguracionPaisDatos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionPaisDatos" nillable="true" type="tns:BEConfiguracionPaisDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionPaisDatos" nillable="true" type="tns:ArrayOfBEConfiguracionPaisDatos" />
  <xs:complexType name="BEUsuarioPostulante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnvioCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:short" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdPostulante" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeDesktop" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeMobile" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioReal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioPostulante" nillable="true" type="tns:BEUsuarioPostulante" />
  <xs:complexType name="BEUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptaPoliticaPrivacidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="AceptaTerminosCondiciones" type="xs:boolean" />
      <xs:element minOccurs="0" name="AceptacionConsultoraDA" type="xs:int" />
      <xs:element minOccurs="0" name="AceptoContrato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActualizarClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniosPermanencia" type="xs:int" />
      <xs:element minOccurs="0" name="AnoCampaniaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BanderaImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CambioClave" type="xs:boolean" />
      <xs:element minOccurs="0" name="CampanaInvitada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaInicioLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogoPersonalizado" type="xs:int" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveSecreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoFuente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigorRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosConcursos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosProgramaNuevas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosRevistaImpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompartirDatos" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompraKitDupla" type="xs:int" />
      <xs:element minOccurs="0" name="CompraOfertaDupla" type="xs:int" />
      <xs:element minOccurs="0" name="CompraOfertaEspecial" type="xs:int" />
      <xs:element minOccurs="0" name="CompraVDirecta" type="xs:double" />
      <xs:element minOccurs="0" name="ConfirmarClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsecutivoNueva" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraAsociada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraAsociadaID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraNueva" type="xs:int" />
      <xs:element minOccurs="0" name="CuponEstado" type="xs:int" />
      <xs:element minOccurs="0" name="CuponMontoMaxDscto" type="xs:decimal" />
      <xs:element minOccurs="0" name="CuponPctDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="CuponTipoCondicion" type="xs:short" />
      <xs:element minOccurs="0" name="DescripcionNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinatariosFeedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasAntes" type="xs:int" />
      <xs:element minOccurs="0" name="DiasCierre" type="xs:int" />
      <xs:element minOccurs="0" name="DiasDuracionCronograma" type="xs:int" />
      <xs:element minOccurs="0" name="DigitoVerificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsAniversario" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsCDRWebZonaValida" type="xs:int" />
      <xs:element minOccurs="0" name="EsCatalogoPersonalizadoZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsecutivoNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsultoraNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsultoraOficina" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsCumpleanio" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsJoven" type="xs:int" />
      <xs:element minOccurs="0" name="EsOFGanaMasZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsOfertaFinalZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsShowRoom" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsZonaDemAnti" type="xs:int" />
      <xs:element minOccurs="0" name="EsquemaDAConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoSimplificacionCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaActivacionSuscripcion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaActualPais" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaActualizacionEmail" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCancelacionSuscripcion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinFIC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLimPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagActivacionSuscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoOriginalSinModificar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoPerfilAncha" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPRBannerMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPRBannerTitulo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" minOccurs="0" name="GPRBannerUrl" type="q1:Enumeradores.RechazoBannerUrl" />
      <xs:element minOccurs="0" name="GPRMostrarBannerRechazo" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPRTextovinculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuiaNegocio" nillable="true" type="tns:BEGuiaNegocio" />
      <xs:element minOccurs="0" name="HabilitarRestriccionHoraria" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoraCierreNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaDemAnti" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaDemAntiCierre" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaNormal" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraFin" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicio" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicioNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HorasDuracionRestriccion" type="xs:int" />
      <xs:element minOccurs="0" name="IVACompraVDirecta" type="xs:double" />
      <xs:element minOccurs="0" name="IVARetail" type="xs:double" />
      <xs:element minOccurs="0" name="ImagenURLOfertaFIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorBloqueoCDR" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorConsultoraDigital" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorContrato" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorDupla" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorFlexiPago" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorGPRSB" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorMeta" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorOfertaFIC" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorPermisoFIC" type="xs:int" />
      <xs:element minOccurs="0" name="InscritaFlexipago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvitacionRechazada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IvaTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Lider" type="xs:int" />
      <xs:element minOccurs="0" name="LogoLideres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajePedidoDesktop" type="xs:int" />
      <xs:element minOccurs="0" name="MensajePedidoMobile" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeValidacionInteractiva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoDeuda" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMaximoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoFlexipago" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MostrarAyudaWebTraking" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostrarBotonValidar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NivelEducacion" type="xs:int" />
      <xs:element minOccurs="0" name="NivelLider" type="xs:int" />
      <xs:element minOccurs="0" name="NivelProyectado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGerenteZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCampanias" type="xs:int" />
      <xs:element minOccurs="0" name="NuevoPROL" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfertaDelDia" type="xs:boolean" />
      <xs:element minOccurs="0" name="OfertaDelDiaModel" nillable="true" type="tns:BEOfertaDelDia" />
      <xs:element minOccurs="0" name="OfertaFinal" type="xs:int" />
      <xs:element minOccurs="0" name="OfertaFinalGanaMas" type="xs:int" />
      <xs:element minOccurs="0" name="OptBloqueoProductoDigital" type="xs:boolean" />
      <xs:element minOccurs="0" name="PROLSinStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PasePedidoWeb" type="xs:int" />
      <xs:element minOccurs="0" name="PasoSextoPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoFICActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortalLideres" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramaReconocimiento" type="xs:int" />
      <xs:element minOccurs="0" name="PromedioVenta" type="xs:double" />
      <xs:element minOccurs="0" name="PuedeActualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuedeEnviarSMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="Retail" type="xs:double" />
      <xs:element minOccurs="0" name="RevistaDigital" nillable="true" type="tns:BERevistaDigital" />
      <xs:element minOccurs="0" name="RevistaDigitalSuscripcion" type="xs:short" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolID" type="xs:short" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionAnalytics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionGestionLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoAbreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoConstancia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoID" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentoInternoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sobrenombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoTrabajo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritorioID" type="xs:int" />
      <xs:element minOccurs="0" name="TieneAsesoraOnline" type="xs:int" />
      <xs:element minOccurs="0" name="TieneCDR" type="xs:int" />
      <xs:element minOccurs="0" name="TieneCDRExpress" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneCupon" type="xs:int" />
      <xs:element minOccurs="0" name="TieneGND" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneHana" type="xs:int" />
      <xs:element minOccurs="0" name="TieneLoginExterno" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneMasVendidos" type="xs:int" />
      <xs:element minOccurs="0" name="TieneOfertaLog" type="xs:int" />
      <xs:element minOccurs="0" name="TieneValidacionMontoMaximo" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoOferta2" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="TotalCompra" type="xs:double" />
      <xs:element minOccurs="0" name="UrlBannerGanaMas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioPrueba" type="xs:int" />
      <xs:element minOccurs="0" name="ValidacionAbierta" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidacionInteractiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="VioTutorial" type="xs:int" />
      <xs:element minOccurs="0" name="VioTutorialDesktop" type="xs:int" />
      <xs:element minOccurs="0" name="VioTutorialSalvavidas" type="xs:int" />
      <xs:element minOccurs="0" name="VioVideo" type="xs:int" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaHoraria" type="xs:double" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNuevoPROL" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="beOfertaFinal" nillable="true" type="tns:BEOfertaFinal" />
      <xs:element minOccurs="0" name="esConsultoraLider" type="xs:boolean" />
      <xs:element minOccurs="0" name="mdFechaEncuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="msCampaniaEncuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msCampaniaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msSeccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuario" nillable="true" type="tns:BEUsuario" />
  <xs:complexType name="BEGuiaNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloqueoProductoDigital" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConfiguracionPaisDatos" nillable="true" type="tns:ArrayOfBEConfiguracionPaisDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGuiaNegocio" nillable="true" type="tns:BEGuiaNegocio" />
  <xs:complexType name="BEOfertaDelDia">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloqueoProductoDigital" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOfertaDelDia" nillable="true" type="tns:BEOfertaDelDia" />
  <xs:complexType name="BERevistaDigital">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivoMdo" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearRevistaImpresaGeneral" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BloqueoProductoDigital" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloqueoRevistaImpresa" type="xs:boolean" />
      <xs:element minOccurs="0" name="CantidadCampaniaEfectiva" type="xs:int" />
      <xs:element minOccurs="0" name="EsActiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsSuscrita" type="xs:boolean" />
      <xs:element minOccurs="0" name="SociaEmpresariaExperienciaGanaMas" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="SuscripcionEfectiva" nillable="true" type="q2:BERevistaDigitalSuscripcion" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="SuscripcionModel" nillable="true" type="q3:BERevistaDigitalSuscripcion" />
      <xs:element minOccurs="0" name="TieneRDC" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneRDCR" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BERevistaDigital" nillable="true" type="tns:BERevistaDigital" />
  <xs:complexType name="BEOfertaFinal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Algoritmo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOfertaFinal" nillable="true" type="tns:BEOfertaFinal" />
  <xs:complexType name="BERespuestaServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Succcess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BERespuestaServicio" nillable="true" type="tns:BERespuestaServicio" />
  <xs:complexType name="BEUsuarioExterno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FotoPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioFotoPerfil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioExterno" nillable="true" type="tns:BEUsuarioExterno" />
  <xs:complexType name="ArrayOfBEUsuarioExterno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEUsuarioExterno" nillable="true" type="tns:BEUsuarioExterno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEUsuarioExterno" nillable="true" type="tns:ArrayOfBEUsuarioExterno" />
  <xs:complexType name="BEUsuarioConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigorRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraAsociada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraAsociadoID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraNueva" type="xs:int" />
      <xs:element minOccurs="0" name="DiasAntes" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsZonaDemAnti" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoSimplificacionCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaFinFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HabilitarRestriccionHoraria" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoraCierreNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaDemAnti" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaNormal" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraFin" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicio" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicioNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HorasDuracionRestriccion" type="xs:int" />
      <xs:element minOccurs="0" name="MontoMaximoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NuevoPROL" type="xs:boolean" />
      <xs:element minOccurs="0" name="PROLSinStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneHana" type="xs:int" />
      <xs:element minOccurs="0" name="TieneOfertaDelDia" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="UsuarioPrueba" type="xs:int" />
      <xs:element minOccurs="0" name="ValidacionInteractiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaHoraria" type="xs:double" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNuevoPROL" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaValida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioConfiguracion" nillable="true" type="tns:BEUsuarioConfiguracion" />
  <xs:complexType name="BEUsuarioChatEmtelco">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoAbreviatura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioChatEmtelco" nillable="true" type="tns:BEUsuarioChatEmtelco" />
  <xs:complexType name="BETerminosCondiciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aceptado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETerminosCondiciones" nillable="true" type="tns:BETerminosCondiciones" />
  <xs:complexType name="ArrayOfBETerminosCondiciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETerminosCondiciones" nillable="true" type="tns:BETerminosCondiciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETerminosCondiciones" nillable="true" type="tns:ArrayOfBETerminosCondiciones" />
  <xs:complexType name="ArrayOfBEEventoFestivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEventoFestivo" nillable="true" type="tns:BEEventoFestivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEventoFestivo" nillable="true" type="tns:ArrayOfBEEventoFestivo" />
  <xs:complexType name="BEEventoFestivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alcance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Inicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personalizacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEventoFestivo" nillable="true" type="tns:BEEventoFestivo" />
  <xs:complexType name="BEConsultoraDatos">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigorRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompraKitDupla" type="xs:int" />
      <xs:element minOccurs="0" name="CompraOfertaDupla" type="xs:int" />
      <xs:element minOccurs="0" name="CompraOfertaEspecial" type="xs:int" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoActividad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstadoActividad" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorDupla" type="xs:int" />
      <xs:element minOccurs="0" name="KtiNueva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoFlexipago" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMaximoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoSaldoActual" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoUltimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasePedidoWeb" type="xs:int" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOferta2" type="xs:int" />
      <xs:element minOccurs="0" name="UltimaCampanaFacturada" type="xs:int" />
      <xs:element minOccurs="0" name="segmentoid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraDatos" nillable="true" type="tns:BEConsultoraDatos" />
  <xs:complexType name="ArrayOfBEUsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEUsuarioRol" nillable="true" type="tns:BEUsuarioRol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEUsuarioRol" nillable="true" type="tns:ArrayOfBEUsuarioRol" />
  <xs:complexType name="BEUsuarioRol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioRol" nillable="true" type="tns:BEUsuarioRol" />
  <xs:complexType name="ArrayOfBEUsuarioCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEUsuarioCorreo" nillable="true" type="tns:BEUsuarioCorreo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEUsuarioCorreo" nillable="true" type="tns:ArrayOfBEUsuarioCorreo" />
  <xs:complexType name="BEUsuarioCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionHorario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoActividad" type="xs:int" />
      <xs:element minOccurs="0" name="MostrarOpcion" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoCentral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneAutenticacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioCorreo" nillable="true" type="tns:BEUsuarioCorreo" />
  <xs:complexType name="ArrayOfBEUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEUsuario" nillable="true" type="tns:BEUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEUsuario" nillable="true" type="tns:ArrayOfBEUsuario" />
  <xs:complexType name="BEDupla">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sobrenombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eMail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDupla" nillable="true" type="tns:BEDupla" />
  <xs:complexType name="BERespuestaActivarEmail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BERespuestaServicio">
        <xs:sequence>
          <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:BEUsuario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BERespuestaActivarEmail" nillable="true" type="tns:BERespuestaActivarEmail" />
  <xs:complexType name="ArrayOfBEKitNueva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEKitNueva" nillable="true" type="tns:BEKitNueva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEKitNueva" nillable="true" type="tns:ArrayOfBEKitNueva" />
  <xs:complexType name="BEKitNueva">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoProceso" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEKitNueva" nillable="true" type="tns:BEKitNueva" />
  <xs:complexType name="ArrayOfBENotificaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENotificaciones" nillable="true" type="tns:BENotificaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENotificaciones" nillable="true" type="tns:ArrayOfBENotificaciones" />
  <xs:complexType name="BENotificaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="EnvioCorreo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsMontoMinimo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoPROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacturaHoy" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHoraValidación" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlagProcedencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proceso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcesoId" type="xs:long" />
      <xs:element minOccurs="0" name="Visualizado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENotificaciones" nillable="true" type="tns:BENotificaciones" />
  <xs:complexType name="ArrayOfBENotificacionesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENotificacionesDetalle" nillable="true" type="tns:BENotificacionesDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENotificacionesDetalle" nillable="true" type="tns:ArrayOfBENotificacionesDetalle" />
  <xs:complexType name="BENotificacionesDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoObservacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajePROL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENotificacionesDetalle" nillable="true" type="tns:BENotificacionesDetalle" />
  <xs:complexType name="ArrayOfBENotificacionesDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENotificacionesDetallePedido" nillable="true" type="tns:BENotificacionesDetallePedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENotificacionesDetallePedido" nillable="true" type="tns:ArrayOfBENotificacionesDetallePedido" />
  <xs:complexType name="BENotificacionesDetallePedido">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescuentoProl" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotalPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="IndicadorOferta" type="xs:int" />
      <xs:element minOccurs="0" name="MontoAhorroCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoAhorroRevista" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotalProl" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservacionPROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioUnidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockDisponible" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENotificacionesDetallePedido" nillable="true" type="tns:BENotificacionesDetallePedido" />
  <xs:complexType name="ArrayOfBEMisPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidos" nillable="true" type="tns:BEMisPedidos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidos" nillable="true" type="tns:ArrayOfBEMisPedidos" />
  <xs:complexType name="BEMisPedidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetallePedido" nillable="true" type="tns:ArrayOfBEMisPedidosDetalle" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSolicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlagConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagMedio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormartoFechaSolicitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormatoPrecioTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Leido" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="MedioContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeDelCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumIteracion" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:long" />
      <xs:element minOccurs="0" name="PedidoWebID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="SaldoHoras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidos" nillable="true" type="tns:BEMisPedidos" />
  <xs:complexType name="ArrayOfBEMisPedidosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMisPedidosDetalle" nillable="true" type="tns:BEMisPedidosDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMisPedidosDetalle" nillable="true" type="tns:ArrayOfBEMisPedidosDetalle" />
  <xs:complexType name="BEMisPedidosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="EstaEnRevista" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="MedioContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeValidacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PedidoDetalleId" type="xs:long" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:long" />
      <xs:element minOccurs="0" name="PedidoWebDetalleID" type="xs:int" />
      <xs:element minOccurs="0" name="PedidoWebID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioTotal" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneStock" type="xs:int" />
      <xs:element minOccurs="0" name="TipoAtencion" type="xs:int" />
      <xs:element minOccurs="0" name="Tono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMisPedidosDetalle" nillable="true" type="tns:BEMisPedidosDetalle" />
  <xs:complexType name="BEConsultoraDatoSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="cataloVirtual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="direccionDomicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccionEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ofertaWeb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="validoEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraDatoSAC" nillable="true" type="tns:BEConsultoraDatoSAC" />
  <xs:complexType name="BEConsultoraEstadoSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="autorizaPasarPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campanaIngreso" type="xs:int" />
      <xs:element minOccurs="0" name="campanaVigente" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="estadoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFacturacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="montoMaximoPedido" type="xs:double" />
      <xs:element minOccurs="0" name="montoMinimo" type="xs:double" />
      <xs:element minOccurs="0" name="montoSaldoActual" type="xs:double" />
      <xs:element minOccurs="0" name="montoUltimoPedido" type="xs:double" />
      <xs:element minOccurs="0" name="numeroCampania" type="xs:int" />
      <xs:element minOccurs="0" name="pedidoFacturado" type="xs:int" />
      <xs:element minOccurs="0" name="segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaCampanaFacturada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraEstadoSAC" nillable="true" type="tns:BEConsultoraEstadoSAC" />
  <xs:complexType name="BENotificacionesDetalleCatalogo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorreoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleNotificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENotificacionesDetalleCatalogo" nillable="true" type="tns:BENotificacionesDetalleCatalogo" />
</xs:schema>