app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEDireccionEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaAnteriorID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionEntregaID" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="LatitudAnterior" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="LongitudAnterior" type="xs:decimal" />
      <xs:element minOccurs="0" name="Operacion" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" type="xs:int" />
      <xs:element minOccurs="0" name="Ubigeo1" type="xs:int" />
      <xs:element minOccurs="0" name="Ubigeo1Anterior" type="xs:int" />
      <xs:element minOccurs="0" name="Ubigeo2" type="xs:int" />
      <xs:element minOccurs="0" name="Ubigeo2Anterior" type="xs:int" />
      <xs:element minOccurs="0" name="Ubigeo3" type="xs:int" />
      <xs:element minOccurs="0" name="Ubigeo3Anterior" type="xs:int" />
      <xs:element minOccurs="0" name="UltimafechaActualizacion" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDireccionEntrega" nillable="true" type="tns:BEDireccionEntrega" />
</xs:schema>