app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService68.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBENivelCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENivelCaminoBrillante" nillable="true" type="tns:BENivelCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENivelCaminoBrillante" nillable="true" type="tns:ArrayOfBENivelCaminoBrillante" />
  <xs:complexType name="BENivelCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beneficios" nillable="true" type="tns:ArrayOfBEBeneficioCaminoBrillante" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoMaximo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoMinimo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneOfertasEspeciales" type="xs:boolean" />
      <xs:element minOccurs="0" name="UrlImagenNivel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENivelCaminoBrillante" nillable="true" type="tns:BENivelCaminoBrillante" />
  <xs:complexType name="ArrayOfBEBeneficioCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBeneficioCaminoBrillante" nillable="true" type="tns:BEBeneficioCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBeneficioCaminoBrillante" nillable="true" type="tns:ArrayOfBEBeneficioCaminoBrillante" />
  <xs:complexType name="BEBeneficioCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoBeneficio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreBeneficio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBeneficioCaminoBrillante" nillable="true" type="tns:BEBeneficioCaminoBrillante" />
  <xs:complexType name="BEConsultoraCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Logros" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante" />
      <xs:element minOccurs="0" name="NivelConsultora" nillable="true" type="tns:ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
      <xs:element minOccurs="0" name="Niveles" nillable="true" type="tns:ArrayOfBENivelCaminoBrillante" />
      <xs:element minOccurs="0" name="ResumenLogros" nillable="true" type="tns:BELogroCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraCaminoBrillante" nillable="true" type="tns:BEConsultoraCaminoBrillante" />
  <xs:complexType name="ArrayOfBELogroCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogroCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogroCaminoBrillante" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante" />
  <xs:complexType name="BELogroCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indicadores" nillable="true" type="tns:ArrayOfBEIndicadorCaminoBrillante" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogroCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante" />
  <xs:complexType name="ArrayOfBEIndicadorCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEIndicadorCaminoBrillante" nillable="true" type="tns:BEIndicadorCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEIndicadorCaminoBrillante" nillable="true" type="tns:ArrayOfBEIndicadorCaminoBrillante" />
  <xs:complexType name="BEIndicadorCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medallas" nillable="true" type="tns:ArrayOfBEMedallaCaminoBrillante" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEIndicadorCaminoBrillante" nillable="true" type="tns:BEIndicadorCaminoBrillante" />
  <xs:complexType name="ArrayOfBEMedallaCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMedallaCaminoBrillante" nillable="true" type="tns:BEMedallaCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMedallaCaminoBrillante" nillable="true" type="tns:ArrayOfBEMedallaCaminoBrillante" />
  <xs:complexType name="BEMedallaCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModalDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModalTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Subtitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMedallaCaminoBrillante" nillable="true" type="tns:BEMedallaCaminoBrillante" />
  <xs:complexType name="ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" nillable="true" type="tns:BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" nillable="true" type="tns:ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
  <xs:complexType name="BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActual" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GananciaAnual" type="xs:decimal" />
      <xs:element minOccurs="0" name="GananciaCampania" type="xs:decimal" />
      <xs:element minOccurs="0" name="GananciaPeriodo" type="xs:decimal" />
      <xs:element minOccurs="0" name="KitSolicitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoCae" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" nillable="true" type="tns:BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
  <xs:complexType name="ArrayOfBEOfertaCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEOfertaCaminoBrillante" nillable="true" type="tns:BEOfertaCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEOfertaCaminoBrillante" nillable="true" type="tns:ArrayOfBEOfertaCaminoBrillante" />
  <xs:complexType name="BEOfertaCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoKit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Digitable" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOfertaCaminoBrillante" nillable="true" type="tns:BEOfertaCaminoBrillante" />
  <xs:complexType name="ArrayOfBEDesmostradoresCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEDesmostradoresCaminoBrillante" nillable="true" type="tns:BEDesmostradoresCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEDesmostradoresCaminoBrillante" nillable="true" type="tns:ArrayOfBEDesmostradoresCaminoBrillante" />
  <xs:complexType name="BEDesmostradoresCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCatalogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioValorizado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDesmostradoresCaminoBrillante" nillable="true" type="tns:BEDesmostradoresCaminoBrillante" />
</xs:schema>