app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService66.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Usuario" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Usuario" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEMensajeToolTip">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeAmbos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oDatosPerfil" nillable="true" type="tns:ArrayOfBEUsuarioPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMensajeToolTip" nillable="true" type="tns:BEMensajeToolTip" />
  <xs:complexType name="ArrayOfBEUsuarioPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEUsuarioPerfil" nillable="true" type="tns:BEUsuarioPerfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEUsuarioPerfil" nillable="true" type="tns:ArrayOfBEUsuarioPerfil" />
  <xs:complexType name="BEUsuarioPerfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatoNuevo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEnvio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioPerfil" nillable="true" type="tns:BEUsuarioPerfil" />
  <xs:complexType name="BEUsuarioDireccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuarioDireccion" nillable="true" type="tns:BEUsuarioDireccion" />
</xs:schema>