app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Enumeradores.RechazoBannerUrl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ninguna" />
      <xs:enumeration value="Deuda" />
      <xs:enumeration value="ModificaPedido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumeradores.RechazoBannerUrl" nillable="true" type="tns:Enumeradores.RechazoBannerUrl" />
  <xs:simpleType name="Enumeradores.EnvioEmail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmailNoEncontrado" />
      <xs:enumeration value="ErrorEnviarEmail" />
      <xs:enumeration value="OkEnviarEmail" />
      <xs:enumeration value="ExcedioCantidad" />
      <xs:enumeration value="OrigenNoAsignado" />
      <xs:enumeration value="OrigenNoExiste" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumeradores.EnvioEmail" nillable="true" type="tns:Enumeradores.EnvioEmail" />
  <xs:simpleType name="Enumeradores.EnvioSms">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CelularNoEncontrado" />
      <xs:enumeration value="ErrorEnviarSms" />
      <xs:enumeration value="OkEnviarSms" />
      <xs:enumeration value="ExcedioCantidad" />
      <xs:enumeration value="OrigenNoAsignado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enumeradores.EnvioSms" nillable="true" type="tns:Enumeradores.EnvioSms" />
</xs:schema>