app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService611.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion.Estructura" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion.Estructura" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Configuracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaFacturacion" type="xs:int" />
      <xs:element minOccurs="0" name="mdo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mostrarProductoConsultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rdr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sociaEmpresaria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suscripcionActiva" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Configuracion" nillable="true" type="tns:Configuracion" />
  <xs:complexType name="ArrayOfProductoSolicitado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoSolicitado" nillable="true" type="tns:ProductoSolicitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoSolicitado" nillable="true" type="tns:ArrayOfProductoSolicitado" />
  <xs:complexType name="ProductoSolicitado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSap" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoSolicitado" nillable="true" type="tns:ProductoSolicitado" />
</xs:schema>