app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService612.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEConsultoraCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Logros" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante" />
      <xs:element minOccurs="0" name="NivelConsultora" nillable="true" type="tns:ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
      <xs:element minOccurs="0" name="Niveles" nillable="true" type="tns:ArrayOfBENivelCaminoBrillante" />
      <xs:element minOccurs="0" name="ResumenLogros" nillable="true" type="tns:BELogroCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraCaminoBrillante" nillable="true" type="tns:BEConsultoraCaminoBrillante" />
  <xs:complexType name="ArrayOfBELogroCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogroCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogroCaminoBrillante" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante" />
  <xs:complexType name="BELogroCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indicadores" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogroCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante" />
  <xs:complexType name="ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogroCaminoBrillante.BEIndicadorCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante.BEIndicadorCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante" />
  <xs:complexType name="BELogroCaminoBrillante.BEIndicadorCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medallas" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogroCaminoBrillante.BEIndicadorCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante.BEIndicadorCaminoBrillante" />
  <xs:complexType name="ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" nillable="true" type="tns:ArrayOfBELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" />
  <xs:complexType name="BELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModalDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModalTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoAcumulado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoSuperior" type="xs:decimal" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Subtitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" nillable="true" type="tns:BELogroCaminoBrillante.BEIndicadorCaminoBrillante.BEMedallaCaminoBrillante" />
  <xs:complexType name="ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" nillable="true" type="tns:BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" nillable="true" type="tns:ArrayOfBEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
  <xs:complexType name="BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsActual" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagSeleccionMisGanancias" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GananciaAnual" type="xs:decimal" />
      <xs:element minOccurs="0" name="GananciaCampania" type="xs:decimal" />
      <xs:element minOccurs="0" name="GananciaPeriodo" type="xs:decimal" />
      <xs:element minOccurs="0" name="KitSolicitado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoCae" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuntajeAcumulado" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" nillable="true" type="tns:BEConsultoraCaminoBrillante.BENivelConsultoraCaminoBrillante" />
  <xs:complexType name="ArrayOfBENivelCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENivelCaminoBrillante" nillable="true" type="tns:BENivelCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENivelCaminoBrillante" nillable="true" type="tns:ArrayOfBENivelCaminoBrillante" />
  <xs:complexType name="BENivelCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beneficios" nillable="true" type="tns:ArrayOfBEBeneficioCaminoBrillante" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnterateMas" type="xs:int" />
      <xs:element minOccurs="0" name="EnterateMasParam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoAcumulado" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoFaltante" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMaximo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoMinimo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntaje" type="xs:int" />
      <xs:element minOccurs="0" name="PuntajeAcumulado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TieneOfertasEspeciales" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENivelCaminoBrillante" nillable="true" type="tns:BENivelCaminoBrillante" />
  <xs:complexType name="ArrayOfBEBeneficioCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBeneficioCaminoBrillante" nillable="true" type="tns:BEBeneficioCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBeneficioCaminoBrillante" nillable="true" type="tns:ArrayOfBEBeneficioCaminoBrillante" />
  <xs:complexType name="BEBeneficioCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoBeneficio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Icono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreBeneficio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Registro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBeneficioCaminoBrillante" nillable="true" type="tns:BEBeneficioCaminoBrillante" />
  <xs:complexType name="ArrayOfBEConfiguracionCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionCaminoBrillante" nillable="true" type="tns:BEConfiguracionCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionCaminoBrillante" nillable="true" type="tns:ArrayOfBEConfiguracionCaminoBrillante" />
  <xs:complexType name="BEConfiguracionCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConfiguracionCaminoBrillante" nillable="true" type="tns:BEConfiguracionCaminoBrillante" />
</xs:schema>