app/Portal.Consultoras.Web/Service References/ServiceUsuario/UsuarioService68.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/UsuarioService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:41615/UsuarioService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion.Estructura" />
  <xs:complexType name="RecomendadoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPais" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="codigoProducto" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigocampania" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion.Estructura" minOccurs="0" name="configuracion" nillable="true" type="q2:Configuracion" />
      <xs:element minOccurs="0" name="cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="personalizaciones" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Search.RequestRecomendacion.Estructura" minOccurs="0" name="productosSolicitados" nillable="true" type="q3:ArrayOfProductoSolicitado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecomendadoRequest" nillable="true" type="tns:RecomendadoRequest" />
</xs:schema>