app/Portal.Consultoras.Web/Web References/ServiceOSBBelcorp/BusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proyectoprueba/" name="BusinessService" targetNamespace="http://proyectoprueba/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.16.229.102:8102/AppBelcorp-ProBelcorp-context-root/BusinessPort?xsd=1" namespace="http://proyectoprueba/" />
    </xsd:schema>
  </types>
  <message name="getEstadoCuentaConsultoraDetalle">
    <part name="parameters" element="tns:getEstadoCuentaConsultoraDetalle" />
  </message>
  <message name="getEstadoCuentaConsultoraDetalleResponse">
    <part name="parameters" element="tns:getEstadoCuentaConsultoraDetalleResponse" />
  </message>
  <message name="getPedidoWebAnteriorCabecera">
    <part name="parameters" element="tns:getPedidoWebAnteriorCabecera" />
  </message>
  <message name="getPedidoWebAnteriorCabeceraResponse">
    <part name="parameters" element="tns:getPedidoWebAnteriorCabeceraResponse" />
  </message>
  <message name="getPedidoWebAnteriorDetalle">
    <part name="parameters" element="tns:getPedidoWebAnteriorDetalle" />
  </message>
  <message name="getPedidoWebAnteriorDetalleResponse">
    <part name="parameters" element="tns:getPedidoWebAnteriorDetalleResponse" />
  </message>
  <message name="getPedidoClienteDD">
    <part name="parameters" element="tns:getPedidoClienteDD" />
  </message>
  <message name="getPedidoClienteDDResponse">
    <part name="parameters" element="tns:getPedidoClienteDDResponse" />
  </message>
  <portType name="Business">
    <operation name="getEstadoCuentaConsultoraDetalle">
      <input message="tns:getEstadoCuentaConsultoraDetalle" />
      <output message="tns:getEstadoCuentaConsultoraDetalleResponse" />
    </operation>
    <operation name="getPedidoWebAnteriorCabecera">
      <input message="tns:getPedidoWebAnteriorCabecera" />
      <output message="tns:getPedidoWebAnteriorCabeceraResponse" />
    </operation>
    <operation name="getPedidoWebAnteriorDetalle">
      <input message="tns:getPedidoWebAnteriorDetalle" />
      <output message="tns:getPedidoWebAnteriorDetalleResponse" />
    </operation>
    <operation name="getPedidoClienteDD">
      <input message="tns:getPedidoClienteDD" />
      <output message="tns:getPedidoClienteDDResponse" />
    </operation>
  </portType>
  <binding name="BusinessPortBinding" type="tns:Business">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getEstadoCuentaConsultoraDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPedidoWebAnteriorCabecera">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPedidoWebAnteriorDetalle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getPedidoClienteDD">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BusinessService">
    <port name="BusinessPort" binding="tns:BusinessPortBinding">
      <soap:address location="http://172.16.229.102:8102/AppBelcorp-ProBelcorp-context-root/BusinessPort" />
    </port>
  </service>
</definitions>