app/Portal.Consultoras.Web/Web References/ServiceOSBBelcorp/BusinessPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://proyectoprueba/" targetNamespace="http://proyectoprueba/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getEstadoCuentaConsultoraDetalle" type="tns:getEstadoCuentaConsultoraDetalle" />
  <xs:element name="getEstadoCuentaConsultoraDetalleResponse" type="tns:getEstadoCuentaConsultoraDetalleResponse" />
  <xs:element name="getPedidoClienteDD" type="tns:getPedidoClienteDD" />
  <xs:element name="getPedidoClienteDDResponse" type="tns:getPedidoClienteDDResponse" />
  <xs:element name="getPedidoWebAnteriorCabecera" type="tns:getPedidoWebAnteriorCabecera" />
  <xs:element name="getPedidoWebAnteriorCabeceraResponse" type="tns:getPedidoWebAnteriorCabeceraResponse" />
  <xs:element name="getPedidoWebAnteriorDetalle" type="tns:getPedidoWebAnteriorDetalle" />
  <xs:element name="getPedidoWebAnteriorDetalleResponse" type="tns:getPedidoWebAnteriorDetalleResponse" />
  <xs:complexType name="getPedidoWebAnteriorDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidoWebAnteriorDetalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoWebAnteriorDetalleBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoWebAnteriorDetalleBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="campania" type="xs:string" />
      <xs:element minOccurs="0" name="campaniaId" type="xs:string" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigoConsultora" type="xs:string" />
      <xs:element minOccurs="0" name="codigoProducto" type="xs:string" />
      <xs:element minOccurs="0" name="codigoTerritorio" type="xs:string" />
      <xs:element minOccurs="0" name="codigoTipoOferta" type="xs:string" />
      <xs:element minOccurs="0" name="cuv" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaUltimaActualizacion" type="xs:string" />
      <xs:element name="importeTotal" type="xs:double" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element name="precioUnidad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidoClienteDD">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidoClienteDDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoClienteBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoClienteBean">
    <xs:sequence>
      <xs:element name="campania" type="xs:int" />
      <xs:element minOccurs="0" name="codigoConsultora" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraIngreso" type="xs:string" />
      <xs:element name="montoTotalPedido" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element name="saldo" type="xs:double" />
      <xs:element minOccurs="0" name="seccion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioResponsable" type="xs:string" />
      <xs:element minOccurs="0" name="validado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEstadoCuentaConsultoraDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEstadoCuentaConsultoraDetalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoCuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoCuenta">
    <xs:sequence>
      <xs:element name="abono" type="xs:double" />
      <xs:element name="cargo" type="xs:double" />
      <xs:element minOccurs="0" name="codigoConsultora" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegsitro" type="xs:string" />
      <xs:element minOccurs="0" name="glosa" type="xs:string" />
      <xs:element minOccurs="0" name="isoPais" type="xs:string" />
      <xs:element name="monto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidoWebAnteriorCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPedidoWebAnteriorCabeceraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoWebAnteriorCabeceraBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoWebAnteriorCabeceraBean">
    <xs:sequence>
      <xs:element name="campania" type="xs:int" />
      <xs:element name="cantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="estadoPedidoDesc" type="xs:string" />
      <xs:element name="importeTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>