app/Portal.Consultoras.Web/Service References/ServiceRevistaDigital/RevistaDigitalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/RevistaDigitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" />
  <xs:element name="Suscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="entidad" nillable="true" type="q1:BERevistaDigitalSuscripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuscripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Desuscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="entidad" nillable="true" type="q2:BERevistaDigitalSuscripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesuscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesuscripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="entidad" nillable="true" type="q3:BERevistaDigitalSuscripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="GetSuscripcionResult" nillable="true" type="q4:BERevistaDigitalSuscripcion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>