app/Portal.Consultoras.Web/Service References/ServiceRevistaDigital/RevistaDigitalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RevistaDigitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IRevistaDigitalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/RevistaDigitalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/RevistaDigitalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/RevistaDigitalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" />
      <xsd:import schemaLocation="http://localhost:41615/RevistaDigitalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRevistaDigitalService_Suscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Suscripcion" />
  </wsdl:message>
  <wsdl:message name="IRevistaDigitalService_Suscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IRevistaDigitalService_Desuscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Desuscripcion" />
  </wsdl:message>
  <wsdl:message name="IRevistaDigitalService_Desuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IRevistaDigitalService_GetSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSuscripcion" />
  </wsdl:message>
  <wsdl:message name="IRevistaDigitalService_GetSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSuscripcionResponse" />
  </wsdl:message>
  <wsdl:portType name="IRevistaDigitalService">
    <wsdl:operation name="Suscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRevistaDigitalService/Suscripcion" message="tns:IRevistaDigitalService_Suscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRevistaDigitalService/SuscripcionResponse" message="tns:IRevistaDigitalService_Suscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Desuscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRevistaDigitalService/Desuscripcion" message="tns:IRevistaDigitalService_Desuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRevistaDigitalService/DesuscripcionResponse" message="tns:IRevistaDigitalService_Desuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSuscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRevistaDigitalService/GetSuscripcion" message="tns:IRevistaDigitalService_GetSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRevistaDigitalService/GetSuscripcionResponse" message="tns:IRevistaDigitalService_GetSuscripcion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRevistaDigitalService" type="tns:IRevistaDigitalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suscripcion">
      <soap:operation soapAction="http://tempuri.org/IRevistaDigitalService/Suscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desuscripcion">
      <soap:operation soapAction="http://tempuri.org/IRevistaDigitalService/Desuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuscripcion">
      <soap:operation soapAction="http://tempuri.org/IRevistaDigitalService/GetSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IRevistaDigitalService" type="tns:IRevistaDigitalService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IRevistaDigitalService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suscripcion">
      <soap:operation soapAction="http://tempuri.org/IRevistaDigitalService/Suscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Desuscripcion">
      <soap:operation soapAction="http://tempuri.org/IRevistaDigitalService/Desuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuscripcion">
      <soap:operation soapAction="http://tempuri.org/IRevistaDigitalService/GetSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RevistaDigitalService">
    <wsdl:port name="BasicHttpBinding_IRevistaDigitalService" binding="tns:BasicHttpBinding_IRevistaDigitalService">
      <soap:address location="http://localhost:41615/RevistaDigitalService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IRevistaDigitalService" binding="tns:BasicHttpsBinding_IRevistaDigitalService">
      <soap:address location="https://localhost:44300/RevistaDigitalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>