app/Portal.Consultoras.Web/Web References/ServiceActualizaDatosConsultoraPeru/ProcesoMAEPortalConsultoraWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://pelnx12.galileo.ebel:7777/ssiccpeesprd/services/ProcesoMAEPortalConsultoraWebService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="urn:consultoraMAEWebService.beans.ws.web.mae.spusicc.ssicc.belcorp.biz" xmlns:impl="http://pelnx12.galileo.ebel:7777/ssiccpeesprd/services/ProcesoMAEPortalConsultoraWebService" targetNamespace="http://pelnx12.galileo.ebel:7777/ssiccpeesprd/services/ProcesoMAEPortalConsultoraWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:consultoraMAEWebService.beans.ws.web.mae.spusicc.ssicc.belcorp.biz">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ConsultoraMAEWebService">
        <xsd:sequence>
          <xsd:element name="codigoConsultora" nillable="true" type="soapenc:string" />
          <xsd:element name="email" nillable="true" type="soapenc:string" />
          <xsd:element name="telefonoCelular" nillable="true" type="soapenc:string" />
          <xsd:element name="telefonoFijo" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="actualizacionDatosResponse">
    <wsdl:part name="actualizacionDatosReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="actualizacionDatosRequest">
    <wsdl:part name="codigoPais" type="soapenc:string" />
    <wsdl:part name="consultora" type="tns1:ConsultoraMAEWebService" />
  </wsdl:message>
  <wsdl:portType name="ProcesoMAEPortalConsultoraWebServiceImpl">
    <wsdl:operation name="actualizacionDatos" parameterOrder="codigoPais consultora">
      <wsdl:input name="actualizacionDatosRequest" message="impl:actualizacionDatosRequest" />
      <wsdl:output name="actualizacionDatosResponse" message="impl:actualizacionDatosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcesoMAEPortalConsultoraWebServiceSoapBinding" type="impl:ProcesoMAEPortalConsultoraWebServiceImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="actualizacionDatos">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="actualizacionDatosRequest">
        <wsdlsoap:body use="encoded" namespace="http://impl.ws.web.mae.spusicc.ssicc.belcorp.biz" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="actualizacionDatosResponse">
        <wsdlsoap:body use="encoded" namespace="http://pelnx12.galileo.ebel:7777/ssiccpeesprd/services/ProcesoMAEPortalConsultoraWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcesoMAEPortalConsultoraWebServiceImplService">
    <wsdl:port name="ProcesoMAEPortalConsultoraWebService" binding="impl:ProcesoMAEPortalConsultoraWebServiceSoapBinding">
      <wsdlsoap:address location="http://pelnx12.galileo.ebel:7777/ssiccpeesprd/services/ProcesoMAEPortalConsultoraWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>