app/Portal.Consultoras.Data/Connected Services/ServiceTotalPagarSiccEC/ProcesoPEDPedidoRechazadoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:impl="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" xmlns:tns2="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns4="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:tns7="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:tns8="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:tns1="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:tns3="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:tns6="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns5="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" targetNamespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PedidoAlternativosWebServiceParameter">
        <xsd:sequence>
          <xsd:element name="cuvAlternativo" nillable="true" type="soapenc:string" />
          <xsd:element name="cuvOriginal" nillable="true" type="soapenc:string" />
          <xsd:element name="unidadesSolAlte" nillable="true" type="soapenc:int" />
          <xsd:element name="unidadesSolOrig" nillable="true" type="soapenc:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_tns2_PedidoAlternativosWebServiceParameter">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns2:PedidoAlternativosWebServiceParameter[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns3_PedidoDetalleWebServiceParameter">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns3:PedidoDetalleWebServiceParameter[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns5_ProcesoPEDPedidoAlternativosRechazadoWebServiceResponse">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns5:ProcesoPEDPedidoAlternativosRechazadoWebServiceResponse[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns6_ProcesoPEDPedidoDetalleRechazadoWebServiceResponse">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns6:ProcesoPEDPedidoDetalleRechazadoWebServiceResponse[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns7_ProcesoPEDPedidoErroresRechazadoWebServiceResponse">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns7:ProcesoPEDPedidoErroresRechazadoWebServiceResponse[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns8_ProcesoPEDPedidoMensajesRechazadoWebServiceResponse">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns8:ProcesoPEDPedidoMensajesRechazadoWebServiceResponse[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PedidoDetalleWebServiceParameter">
        <xsd:sequence>
          <xsd:element name="cuv" nillable="true" type="soapenc:string" />
          <xsd:element name="unidadesSol" nillable="true" type="soapenc:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="PedidoWebServiceParameter">
        <xsd:sequence>
          <xsd:element name="accion" nillable="true" type="soapenc:string" />
          <xsd:element name="alternativos" nillable="true" type="intf:ArrayOf_tns2_PedidoAlternativosWebServiceParameter" />
          <xsd:element name="consultora" nillable="true" type="soapenc:string" />
          <xsd:element name="detalle" nillable="true" type="intf:ArrayOf_tns3_PedidoDetalleWebServiceParameter" />
          <xsd:element name="oidSicc" nillable="true" type="soapenc:int" />
          <xsd:element name="periodo" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ProcesoPEDPedidoAlternativosRechazadoWebServiceResponse">
        <xsd:sequence>
          <xsd:element name="catalogo" nillable="true" type="soapenc:string" />
          <xsd:element name="cuvAlternativo" nillable="true" type="soapenc:string" />
          <xsd:element name="cuvOriginal" nillable="true" type="soapenc:string" />
          <xsd:element name="descAlternativo" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ProcesoPEDPedidoDetalleRechazadoWebServiceResponse">
        <xsd:sequence>
          <xsd:element name="cuv" nillable="true" type="soapenc:string" />
          <xsd:element name="montoAPagar" nillable="true" type="soapenc:double" />
          <xsd:element name="montoCata" nillable="true" type="soapenc:double" />
          <xsd:element name="montoDesc" nillable="true" type="soapenc:double" />
          <xsd:element name="montoTota" nillable="true" type="soapenc:double" />
          <xsd:element name="observaciones" nillable="true" type="soapenc:string" />
          <xsd:element name="oidEstrategia" nillable="true" type="soapenc:int" />
          <xsd:element name="oidOferta" nillable="true" type="soapenc:int" />
          <xsd:element name="porcentajeDesc" nillable="true" type="soapenc:int" />
          <xsd:element name="precioCatalogo" nillable="true" type="soapenc:double" />
          <xsd:element name="unidades" nillable="true" type="soapenc:int" />
          <xsd:element name="unidadesAtender" nillable="true" type="soapenc:int" />
          <xsd:element name="unidadesReal" nillable="true" type="soapenc:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ProcesoPEDPedidoErroresRechazadoWebServiceResponse">
        <xsd:sequence>
          <xsd:element name="codigo" nillable="true" type="soapenc:string" />
          <xsd:element name="descrip" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ProcesoPEDPedidoMensajesRechazadoWebServiceResponse">
        <xsd:sequence>
          <xsd:element name="codigo" nillable="true" type="soapenc:string" />
          <xsd:element name="texto" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:procesoPEDPedidoRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz">
      <xsd:import namespace="urn:procesoPEDPedidoErroresRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoAlternativosWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoMensajesRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:procesoPEDPedidoDetalleRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoDetalleWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="urn:pedidoWebServiceParameter.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
      <xsd:import namespace="urn:procesoPEDPedidoAlternativosRechazadoWebServiceResponse.beans.ws.pedido.spusicc.service.ssicc.belcorp.biz" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ProcesoPEDPedidoRechazadoWebServiceResponse">
        <xsd:sequence>
          <xsd:element name="accion" nillable="true" type="soapenc:string" />
          <xsd:element name="alternativos" nillable="true" type="intf:ArrayOf_tns5_ProcesoPEDPedidoAlternativosRechazadoWebServiceResponse" />
          <xsd:element name="consultora" nillable="true" type="soapenc:string" />
          <xsd:element name="detalle" nillable="true" type="intf:ArrayOf_tns6_ProcesoPEDPedidoDetalleRechazadoWebServiceResponse" />
          <xsd:element name="deuda" nillable="true" type="soapenc:string" />
          <xsd:element name="errores" nillable="true" type="intf:ArrayOf_tns7_ProcesoPEDPedidoErroresRechazadoWebServiceResponse" />
          <xsd:element name="flagAlternativos" nillable="true" type="soapenc:string" />
          <xsd:element name="flagDetalle" nillable="true" type="soapenc:string" />
          <xsd:element name="flagErrores" nillable="true" type="soapenc:string" />
          <xsd:element name="flagMensajes" nillable="true" type="soapenc:string" />
          <xsd:element name="mensajeError" nillable="true" type="soapenc:string" />
          <xsd:element name="mensajes" nillable="true" type="intf:ArrayOf_tns8_ProcesoPEDPedidoMensajesRechazadoWebServiceResponse" />
          <xsd:element name="oidSicc" nillable="true" type="soapenc:int" />
          <xsd:element name="periodo" nillable="true" type="soapenc:string" />
          <xsd:element name="totalDesc" nillable="true" type="soapenc:double" />
          <xsd:element name="totalDeta" nillable="true" type="soapenc:double" />
          <xsd:element name="totalFlet" nillable="true" type="soapenc:double" />
          <xsd:element name="totalPaga" nillable="true" type="soapenc:double" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ejecutarProcesoPEDPedidoRechazadoRequest">
    <wsdl:part name="beanPedido" type="tns1:PedidoWebServiceParameter" />
  </wsdl:message>
  <wsdl:message name="ejecutarProcesoPEDPedidoRechazadoResponse">
    <wsdl:part name="ejecutarProcesoPEDPedidoRechazadoReturn" type="tns4:ProcesoPEDPedidoRechazadoWebServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcesoPEDPedidoRechazadoWebServiceImpl">
    <wsdl:operation name="ejecutarProcesoPEDPedidoRechazado" parameterOrder="beanPedido">
      <wsdl:input name="ejecutarProcesoPEDPedidoRechazadoRequest" message="intf:ejecutarProcesoPEDPedidoRechazadoRequest" />
      <wsdl:output name="ejecutarProcesoPEDPedidoRechazadoResponse" message="intf:ejecutarProcesoPEDPedidoRechazadoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcesoPEDPedidoRechazadoWebServiceSoapBinding" type="intf:ProcesoPEDPedidoRechazadoWebServiceImpl">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ejecutarProcesoPEDPedidoRechazado">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ejecutarProcesoPEDPedidoRechazadoRequest">
        <wsdlsoap:body use="encoded" namespace="http://impl.ws.pedido.spusicc.service.ssicc.belcorp.biz" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="ejecutarProcesoPEDPedidoRechazadoResponse">
        <wsdlsoap:body use="encoded" namespace="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcesoPEDPedidoRechazadoWebServiceImplService">
    <wsdl:port name="ProcesoPEDPedidoRechazadoWebService" binding="intf:ProcesoPEDPedidoRechazadoWebServiceSoapBinding">
      <wsdlsoap:address location="http://ssiccecl.galileo.ebel/ssicceclbprd/services/ProcesoPEDPedidoRechazadoWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>