app/Portal.Consultoras.Web/Web References/ServicesCalculosPROL/ServicesCalculosPROL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculoOfertasNiveles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoconsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstProductos">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculoOfertasNivelesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculoOfertasNivelesResult" type="tns:ArrayOfObjProductosNiveles" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjProductosNiveles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ObjProductosNiveles" nillable="true" type="tns:ObjProductosNiveles" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjProductosNiveles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idnivel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculoMontosProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoconsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstProductos">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculoMontosProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculoMontosProlResult" type="tns:ArrayOfObjMontosProl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjMontosProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ObjMontosProl" nillable="true" type="tns:ObjMontosProl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjMontosProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MontoTotalDescuento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MontoEscala" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculoOfertasNivelesSoapIn">
    <wsdl:part name="parameters" element="tns:CalculoOfertasNiveles" />
  </wsdl:message>
  <wsdl:message name="CalculoOfertasNivelesSoapOut">
    <wsdl:part name="parameters" element="tns:CalculoOfertasNivelesResponse" />
  </wsdl:message>
  <wsdl:message name="CalculoMontosProlSoapIn">
    <wsdl:part name="parameters" element="tns:CalculoMontosProl" />
  </wsdl:message>
  <wsdl:message name="CalculoMontosProlSoapOut">
    <wsdl:part name="parameters" element="tns:CalculoMontosProlResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesCalculoPrecioNivelesSoap">
    <wsdl:operation name="CalculoOfertasNiveles">
      <wsdl:input message="tns:CalculoOfertasNivelesSoapIn" />
      <wsdl:output message="tns:CalculoOfertasNivelesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculoMontosProl">
      <wsdl:input message="tns:CalculoMontosProlSoapIn" />
      <wsdl:output message="tns:CalculoMontosProlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesCalculoPrecioNivelesSoap" type="tns:ServicesCalculoPrecioNivelesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculoOfertasNiveles">
      <soap:operation soapAction="http://tempuri.org/CalculoOfertasNiveles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculoMontosProl">
      <soap:operation soapAction="http://tempuri.org/CalculoMontosProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesCalculoPrecioNivelesSoap12" type="tns:ServicesCalculoPrecioNivelesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculoOfertasNiveles">
      <soap12:operation soapAction="http://tempuri.org/CalculoOfertasNiveles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculoMontosProl">
      <soap12:operation soapAction="http://tempuri.org/CalculoMontosProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicesCalculoPrecioNiveles">
    <wsdl:port name="ServicesCalculoPrecioNivelesSoap" binding="tns:ServicesCalculoPrecioNivelesSoap">
      <soap:address location="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/WsServicesWebValidaciones/ServicesCalculosPROL.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesCalculoPrecioNivelesSoap12" binding="tns:ServicesCalculoPrecioNivelesSoap12">
      <soap12:address location="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/WsServicesWebValidaciones/ServicesCalculosPROL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>