app/Portal.Consultoras.Web/Service References/ValidacionesUnete/ValidacionesUnete1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidacionesUnete" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.19.3.58/PortalService/ValidacionesUnete.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.19.3.58/PortalService/ValidacionesUnete.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.19.3.58/PortalService/ValidacionesUnete.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Inputs" />
      <xsd:import schemaLocation="http://172.19.3.58/PortalService/ValidacionesUnete.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Outputs" />
      <xsd:import schemaLocation="http://172.19.3.58/PortalService/ValidacionesUnete.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValidacionesUnete_ConstruirRfc_InputMessage">
    <wsdl:part name="parameters" element="tns:ConstruirRfc" />
  </wsdl:message>
  <wsdl:message name="IValidacionesUnete_ConstruirRfc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConstruirRfcResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacionesUnete_EnviarEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmail" />
  </wsdl:message>
  <wsdl:message name="IValidacionesUnete_EnviarEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacionesUnete_ValidarCedulaEcuador_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCedulaEcuador" />
  </wsdl:message>
  <wsdl:message name="IValidacionesUnete_ValidarCedulaEcuador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCedulaEcuadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IValidacionesUnete">
    <wsdl:operation name="ConstruirRfc">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacionesUnete/ConstruirRfc" message="tns:IValidacionesUnete_ConstruirRfc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacionesUnete/ConstruirRfcResponse" message="tns:IValidacionesUnete_ConstruirRfc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacionesUnete/EnviarEmail" message="tns:IValidacionesUnete_EnviarEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacionesUnete/EnviarEmailResponse" message="tns:IValidacionesUnete_EnviarEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCedulaEcuador">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacionesUnete/ValidarCedulaEcuador" message="tns:IValidacionesUnete_ValidarCedulaEcuador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacionesUnete/ValidarCedulaEcuadorResponse" message="tns:IValidacionesUnete_ValidarCedulaEcuador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValidacionesUnete" type="tns:IValidacionesUnete">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConstruirRfc">
      <soap:operation soapAction="http://tempuri.org/IValidacionesUnete/ConstruirRfc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <soap:operation soapAction="http://tempuri.org/IValidacionesUnete/EnviarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCedulaEcuador">
      <soap:operation soapAction="http://tempuri.org/IValidacionesUnete/ValidarCedulaEcuador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidacionesUnete">
    <wsdl:port name="BasicHttpBinding_IValidacionesUnete" binding="tns:BasicHttpBinding_IValidacionesUnete">
      <soap:address location="http://172.19.3.58/PortalService/ValidacionesUnete.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>