app/Portal.Consultoras.Web/Service References/ValidacionesUnete/ValidacionesUnete2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Inputs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Inputs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/ValidacionesUnete.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
  <xs:complexType name="RfcParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnioNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MesNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RfcParameter" nillable="true" type="tns:RfcParameter" />
  <xs:complexType name="EmailParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactoUnete" type="xs:boolean" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronicoPostulante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EvaluacionCrediticia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="Marca" type="q1:Enums.Marca" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreDestinatario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneExperiencia" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="TipoEmail" type="q2:Enums.TipoEmail" />
      <xs:element minOccurs="0" name="TipoMensaje" type="xs:int" />
      <xs:element minOccurs="0" name="UrlSite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailParameter" nillable="true" type="tns:EmailParameter" />
</xs:schema>