app/Portal.Consultoras.Web/Web References/ServiceOSBBelcorpPedido/PedidoPS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.belcorp.biz/soa/business/ffvv/portal/PedidoBS" targetNamespace="http://www.belcorp.biz/soa/business/ffvv/portal/PedidoBS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtenerPedidoClienteDD" type="tns:obtenerPedidoClienteDD" />
  <xs:element name="obtenerPedidoClienteDDResponse" type="tns:obtenerPedidoClienteDDResponse" />
  <xs:element name="obtenerPedidoWebAnteriorCabecera" type="tns:obtenerPedidoWebAnteriorCabecera" />
  <xs:element name="obtenerPedidoWebAnteriorCabeceraResponse" type="tns:obtenerPedidoWebAnteriorCabeceraResponse" />
  <xs:element name="obtenerPedidoWebAnteriorDetalle" type="tns:obtenerPedidoWebAnteriorDetalle" />
  <xs:element name="obtenerPedidoWebAnteriorDetalleResponse" type="tns:obtenerPedidoWebAnteriorDetalleResponse" />
  <xs:complexType name="obtenerPedidoClienteDD">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element minOccurs="0" name="arg5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPedidoClienteDDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoClienteBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoClienteBean">
    <xs:sequence>
      <xs:element name="campania" type="xs:int" />
      <xs:element minOccurs="0" name="codigoConsultora" type="xs:string" />
      <xs:element minOccurs="0" name="fechaHoraIngreso" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element name="montoTotalPedido" type="xs:double" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element name="saldo" type="xs:double" />
      <xs:element minOccurs="0" name="seccion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioResponsable" type="xs:string" />
      <xs:element minOccurs="0" name="validado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPedidoWebAnteriorCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPedidoWebAnteriorCabeceraResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoWebAnteriorCabeceraBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoWebAnteriorCabeceraBean">
    <xs:sequence>
      <xs:element name="campania" type="xs:int" />
      <xs:element name="cantidadProductos" type="xs:int" />
      <xs:element minOccurs="0" name="estadoPedidoDesc" type="xs:string" />
      <xs:element name="importeTotal" type="xs:double" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPedidoWebAnteriorDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPedidoWebAnteriorDetalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pedidoWebAnteriorDetalleBean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidoWebAnteriorDetalleBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="campania" type="xs:string" />
      <xs:element minOccurs="0" name="campaniaId" type="xs:string" />
      <xs:element name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="codigoConsultora" type="xs:string" />
      <xs:element minOccurs="0" name="codigoProducto" type="xs:string" />
      <xs:element minOccurs="0" name="codigoTerritorio" type="xs:string" />
      <xs:element minOccurs="0" name="codigoTipoOferta" type="xs:string" />
      <xs:element minOccurs="0" name="cuv" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaUltimaActualizacion" type="xs:string" />
      <xs:element name="importeTotal" type="xs:double" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element name="precioUnidad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>