app/Portal.Consultoras.Web/Web References/ServiceOSBBelcorpPedido/PedidoBS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.belcorp.biz/soa/business/ffvv/portal/PedidoBS" name="PedidoBS" targetNamespace="http://www.belcorp.biz/soa/business/ffvv/portal/PedidoBS" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.belcorp.biz/soa/business/ffvv/portal/PedidoBS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://osb.soa.galileo.ebel:8102/belcorp/services/proxy/ffvv/PedidoPS?SCHEMA%2Fbelcorp%2Finterfaces%2Fxsd%2Fcanonical%2FPedido" namespace="http://www.belcorp.biz/soa/business/ffvv/portal/PedidoBS" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="obtenerPedidoWebAnteriorCabecera">
    <WL5G3N0:part name="parameters" element="WL5G3N1:obtenerPedidoWebAnteriorCabecera" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerPedidoWebAnteriorCabeceraResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:obtenerPedidoWebAnteriorCabeceraResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerPedidoWebAnteriorDetalle">
    <WL5G3N0:part name="parameters" element="WL5G3N1:obtenerPedidoWebAnteriorDetalle" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerPedidoWebAnteriorDetalleResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:obtenerPedidoWebAnteriorDetalleResponse" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerPedidoClienteDD">
    <WL5G3N0:part name="parameters" element="WL5G3N1:obtenerPedidoClienteDD" />
  </WL5G3N0:message>
  <WL5G3N0:message name="obtenerPedidoClienteDDResponse">
    <WL5G3N0:part name="parameters" element="WL5G3N1:obtenerPedidoClienteDDResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="portPedidoBS">
    <WL5G3N0:operation name="obtenerPedidoWebAnteriorCabecera">
      <WL5G3N0:input message="WL5G3N1:obtenerPedidoWebAnteriorCabecera" />
      <WL5G3N0:output message="WL5G3N1:obtenerPedidoWebAnteriorCabeceraResponse" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerPedidoWebAnteriorDetalle">
      <WL5G3N0:input message="WL5G3N1:obtenerPedidoWebAnteriorDetalle" />
      <WL5G3N0:output message="WL5G3N1:obtenerPedidoWebAnteriorDetalleResponse" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerPedidoClienteDD">
      <WL5G3N0:input message="WL5G3N1:obtenerPedidoClienteDD" />
      <WL5G3N0:output message="WL5G3N1:obtenerPedidoClienteDDResponse" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="portPedidoBSSOAP11Binding" type="WL5G3N1:portPedidoBS">
    <WL5G3N2:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="obtenerPedidoWebAnteriorCabecera">
      <WL5G3N2:operation soapAction="" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerPedidoWebAnteriorDetalle">
      <WL5G3N2:operation soapAction="" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerPedidoClienteDD">
      <WL5G3N2:operation soapAction="" />
      <WL5G3N0:input>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PedidoBS">
    <WL5G3N0:port name="portPedidoBSSOAP11" binding="WL5G3N1:portPedidoBSSOAP11Binding">
      <WL5G3N2:address location="http://osb.soa.galileo.ebel:8102/belcorp/services/proxy/ffvv/PedidoPS" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>