app/Portal.Consultoras.Web/Service References/ServiceOferta/OfertaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEEstrategia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEstrategia" nillable="true" type="tns:BEEstrategia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEstrategia" nillable="true" type="tns:ArrayOfBEEstrategia" />
  <xs:complexType name="BEEstrategia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activo" type="xs:int" />
          <xs:element minOccurs="0" name="AgregarEnMatriz" type="xs:boolean" />
          <xs:element minOccurs="0" name="CUV1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CUV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="CampaniaIDFin" type="xs:int" />
          <xs:element minOccurs="0" name="CantComenAprob" type="xs:int" />
          <xs:element minOccurs="0" name="CantComenRecom" type="xs:int" />
          <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoAgrupacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoConcurso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoEstrategia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoGenerico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoPrograma" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoSAP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoTipoEstrategia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorFondo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConsultoraID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionCUV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionCategoria" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionCortaCUV2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionEstrategia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DescripcionMarca" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EnMatrizComercial" type="xs:int" />
          <xs:element minOccurs="0" name="EsOfertaIndependiente" type="xs:boolean" />
          <xs:element minOccurs="0" name="EsSubCampania" type="xs:int" />
          <xs:element minOccurs="0" name="EstrategiaDetalle" nillable="true" type="tns:BEEstrategiaDetalle" />
          <xs:element minOccurs="0" name="EstrategiaID" type="xs:int" />
          <xs:element minOccurs="0" name="EstrategiaProducto" nillable="true" type="tns:ArrayOfBEEstrategiaProducto" />
          <xs:element minOccurs="0" name="EstrategiaProductoCodigoSAP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EtiquetaDescripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EtiquetaDescripcion2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EtiquetaID" type="xs:int" />
          <xs:element minOccurs="0" name="EtiquetaID2" type="xs:int" />
          <xs:element minOccurs="0" name="FechaInicioFacturacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FlagCEP" type="xs:int" />
          <xs:element minOccurs="0" name="FlagCEP2" type="xs:int" />
          <xs:element minOccurs="0" name="FlagCantidad" type="xs:int" />
          <xs:element minOccurs="0" name="FlagDescripcion" type="xs:int" />
          <xs:element minOccurs="0" name="FlagEstrella" type="xs:int" />
          <xs:element minOccurs="0" name="FlagIndividual" type="xs:boolean" />
          <xs:element minOccurs="0" name="FlagMostrarImg" type="xs:int" />
          <xs:element minOccurs="0" name="FlagNueva" type="xs:int" />
          <xs:element minOccurs="0" name="FlagRevista" type="xs:int" />
          <xs:element minOccurs="0" name="FlagTextoLibre" type="xs:int" />
          <xs:element minOccurs="0" name="FlagValidarImagen" type="xs:int" />
          <xs:element minOccurs="0" name="FotoProducto01" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ganancia" type="xs:decimal" />
          <xs:element minOccurs="0" name="GananciaString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IdMatrizComercial" type="xs:int" />
          <xs:element minOccurs="0" name="Imagen" type="xs:int" />
          <xs:element minOccurs="0" name="ImagenMiniaturaURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImagenOfertaIndependiente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgFichaDesktop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgFichaFondoDesktop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgFichaFondoMobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgFichaMobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgFondoDesktop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgFondoMobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgHomeDesktop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImgHomeMobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:int" />
          <xs:element minOccurs="0" name="LimiteVenta" type="xs:int" />
          <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
          <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MostrarImgOfertaIndependiente" type="xs:boolean" />
          <xs:element minOccurs="0" name="Niveles" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroPedido" type="xs:int" />
          <xs:element minOccurs="0" name="OfertaUltimoMinuto" type="xs:int" />
          <xs:element minOccurs="0" name="Orden" type="xs:int" />
          <xs:element minOccurs="0" name="PesoMaximoImagen" type="xs:int" />
          <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
          <xs:element minOccurs="0" name="Precio2" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrecioPublico" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrecioString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrecioTachado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProdComentarioId" type="xs:int" />
          <xs:element minOccurs="0" name="PromValorizado" type="xs:int" />
          <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Slogan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TallaColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextoLibre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TieneStockProl" type="xs:boolean" />
          <xs:element minOccurs="0" name="TieneVariedad" type="xs:int" />
          <xs:element minOccurs="0" name="TipoConcurso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoEstrategia" nillable="true" type="tns:BETipoEstrategia" />
          <xs:element minOccurs="0" name="TipoEstrategiaID" type="xs:int" />
          <xs:element minOccurs="0" name="TipoEstrategiaImagenMostrar" type="xs:int" />
          <xs:element minOccurs="0" name="TipoOferta" type="xs:int" />
          <xs:element minOccurs="0" name="TipoTallaColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UrlVideoDesktop" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UrlVideoMobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidarPeriodoFacturacion" type="xs:boolean" />
          <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZonaHoraria" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEEstrategia" nillable="true" type="tns:BEEstrategia" />
  <xs:complexType name="BaseEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntidad" nillable="true" type="tns:BaseEntidad" />
  <xs:complexType name="BEEstrategiaDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="FlagIndividual" type="xs:boolean" />
      <xs:element minOccurs="0" name="ImgFichaDesktop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgFichaFondoDesktop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgFichaFondoMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgFichaMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgFondoDesktop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgFondoMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgHomeDesktop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgHomeMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Slogan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlVideoDesktop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlVideoMobile" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEstrategiaDetalle" nillable="true" type="tns:BEEstrategiaDetalle" />
  <xs:complexType name="ArrayOfBEEstrategiaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEEstrategiaProducto" nillable="true" type="tns:BEEstrategiaProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEEstrategiaProducto" nillable="true" type="tns:ArrayOfBEEstrategiaProducto" />
  <xs:complexType name="BEEstrategiaProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:short" />
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUV2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campania" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoErrorObs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Digitable" type="xs:int" />
      <xs:element minOccurs="0" name="EstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="EstrategiaProductoID" type="xs:int" />
      <xs:element minOccurs="0" name="FactorCuadre" type="xs:int" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="SAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEEstrategiaProducto" nillable="true" type="tns:BEEstrategiaProducto" />
  <xs:complexType name="BETipoEstrategia">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoGeneral" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagActivo" type="xs:int" />
      <xs:element minOccurs="0" name="FlagMostrarImg" type="xs:int" />
      <xs:element minOccurs="0" name="FlagNueva" type="xs:int" />
      <xs:element minOccurs="0" name="FlagRecoPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="FlagRecoProduc" type="xs:int" />
      <xs:element minOccurs="0" name="FlagValidarImagen" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenOfertaIndependiente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeValidacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MostrarImgOfertaIndependiente" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfertaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PesoMaximoImagen" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRegistro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETipoEstrategia" nillable="true" type="tns:BETipoEstrategia" />
</xs:schema>