app/Portal.Consultoras.Web/Service References/ServiceOferta/OfertaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/OfertaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" />
  <xs:import schemaLocation="http://localhost:41615/OfertaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:element name="GetShowRoomOfertasConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomOfertasConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetShowRoomOfertasConsultoraResult" nillable="true" type="q1:ArrayOfBEShowRoomOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosCompraPorCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="EventoID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosCompraPorCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetProductosCompraPorCompraResult" nillable="true" type="q2:ArrayOfBEShowRoomOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstrategiaODD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codCampania" type="xs:int" />
        <xs:element minOccurs="0" name="codConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicioFact" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstrategiaODDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetEstrategiaODDResult" nillable="true" type="q3:ArrayOfBEEstrategia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomEventoByCampaniaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomEventoByCampaniaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetShowRoomEventoByCampaniaIDResult" nillable="true" type="q4:BEShowRoomEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tienePersonalizacion" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetShowRoomConsultoraResult" nillable="true" type="q5:BEShowRoomEventoConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomNivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetShowRoomNivelResult" nillable="true" type="q6:ArrayOfBEShowRoomNivel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomPersonalizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomPersonalizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetShowRoomPersonalizacionResult" nillable="true" type="q7:ArrayOfBEShowRoomPersonalizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomPersonalizacionNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="eventoId" type="xs:int" />
        <xs:element minOccurs="0" name="nivelId" type="xs:int" />
        <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowRoomPersonalizacionNivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="GetShowRoomPersonalizacionNivelResult" nillable="true" type="q8:ArrayOfBEShowRoomPersonalizacionNivel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowRoomProgramarAviso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" minOccurs="0" name="entity" nillable="true" type="q9:BEShowRoomEventoConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowRoomProgramarAvisoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowRoomProgramarAvisoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>