app/Portal.Consultoras.Web/Service References/ServiceOferta/OfertaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OfertaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IOfertaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/OfertaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/OfertaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/OfertaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ShowRoom" />
      <xsd:import schemaLocation="http://localhost:41615/OfertaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOfertaService_GetShowRoomOfertasConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowRoomOfertasConsultora" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetShowRoomOfertasConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowRoomOfertasConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetProductosCompraPorCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosCompraPorCompra" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetProductosCompraPorCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductosCompraPorCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetEstrategiaODD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstrategiaODD" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetEstrategiaODD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstrategiaODDResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetEstrategiasPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstrategiasPedido" />
  </wsdl:message>
  <wsdl:message name="IOfertaService_GetEstrategiasPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstrategiasPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IOfertaService">
    <wsdl:operation name="GetShowRoomOfertasConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetShowRoomOfertasConsultora" message="tns:IOfertaService_GetShowRoomOfertasConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetShowRoomOfertasConsultoraResponse" message="tns:IOfertaService_GetShowRoomOfertasConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductosCompraPorCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetProductosCompraPorCompra" message="tns:IOfertaService_GetProductosCompraPorCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetProductosCompraPorCompraResponse" message="tns:IOfertaService_GetProductosCompraPorCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiaODD">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetEstrategiaODD" message="tns:IOfertaService_GetEstrategiaODD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetEstrategiaODDResponse" message="tns:IOfertaService_GetEstrategiaODD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiasPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaService/GetEstrategiasPedido" message="tns:IOfertaService_GetEstrategiasPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaService/GetEstrategiasPedidoResponse" message="tns:IOfertaService_GetEstrategiasPedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOfertaService" type="tns:IOfertaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShowRoomOfertasConsultora">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetShowRoomOfertasConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductosCompraPorCompra">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetProductosCompraPorCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiaODD">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetEstrategiaODD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiasPedido">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetEstrategiasPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IOfertaService" type="tns:IOfertaService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IOfertaService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShowRoomOfertasConsultora">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetShowRoomOfertasConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductosCompraPorCompra">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetProductosCompraPorCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiaODD">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetEstrategiaODD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiasPedido">
      <soap:operation soapAction="http://tempuri.org/IOfertaService/GetEstrategiasPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfertaService">
    <wsdl:port name="BasicHttpBinding_IOfertaService" binding="tns:BasicHttpBinding_IOfertaService">
      <soap:address location="http://localhost:41615/OfertaService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IOfertaService" binding="tns:BasicHttpsBinding_IOfertaService">
      <soap:address location="https://localhost:44392/OfertaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>