app/Portal.Consultoras.Web/Service References/ValidacionCrediticia/ValidacionCrediticiaService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" />
  <xs:complexType name="OutListaOfOutValidacionCrediticiaDTOOutValidacionCrediticiaBloqueoXL2naAvS">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OutListaOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OutValidacionCrediticiaDTO" Namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" />
          <GenericParameter Name="OutValidacionCrediticiaBloqueo" Namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" minOccurs="0" name="AnotherHits" nillable="true" type="q1:ArrayOfOutValidacionCrediticiaBloqueo" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" minOccurs="0" name="Hits" nillable="true" type="q2:ArrayOfOutValidacionCrediticiaDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutListaOfOutValidacionCrediticiaDTOOutValidacionCrediticiaBloqueoXL2naAvS" nillable="true" type="tns:OutListaOfOutValidacionCrediticiaDTOOutValidacionCrediticiaBloqueoXL2naAvS" />
  <xs:complexType name="OutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutResponse" nillable="true" type="tns:OutResponse" />
</xs:schema>