app/Portal.Consultoras.Web/Service References/ValidacionCrediticia/ValidacionCrediticiaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidacionCrediticiaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.In" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" />
      <xsd:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValidacionCrediticia_GetValidacionCrediticia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionCrediticia" />
  </wsdl:message>
  <wsdl:message name="IValidacionCrediticia_GetValidacionCrediticia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionCrediticiaResponse" />
  </wsdl:message>
  <wsdl:message name="IValidacionCrediticia_GetValidacionCrediticiaExterna_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionCrediticiaExterna" />
  </wsdl:message>
  <wsdl:message name="IValidacionCrediticia_GetValidacionCrediticiaExterna_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidacionCrediticiaExternaResponse" />
  </wsdl:message>
  <wsdl:portType name="IValidacionCrediticia">
    <wsdl:operation name="GetValidacionCrediticia">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacionCrediticia/GetValidacionCrediticia" message="tns:IValidacionCrediticia_GetValidacionCrediticia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacionCrediticia/GetValidacionCrediticiaResponse" message="tns:IValidacionCrediticia_GetValidacionCrediticia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidacionCrediticiaExterna">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidacionCrediticia/GetValidacionCrediticiaExterna" message="tns:IValidacionCrediticia_GetValidacionCrediticiaExterna_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidacionCrediticia/GetValidacionCrediticiaExternaResponse" message="tns:IValidacionCrediticia_GetValidacionCrediticiaExterna_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValidacionCrediticia" type="tns:IValidacionCrediticia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetValidacionCrediticia">
      <soap:operation soapAction="http://tempuri.org/IValidacionCrediticia/GetValidacionCrediticia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidacionCrediticiaExterna">
      <soap:operation soapAction="http://tempuri.org/IValidacionCrediticia/GetValidacionCrediticiaExterna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidacionCrediticiaService">
    <wsdl:port name="BasicHttpBinding_IValidacionCrediticia" binding="tns:BasicHttpBinding_IValidacionCrediticia">
      <soap:address location="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>