app/Portal.Consultoras.Web/Service References/ValidacionCrediticia/ValidacionCrediticiaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.In" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" />
  <xs:element name="GetValidacionCrediticia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.In" minOccurs="0" name="input" nillable="true" type="q1:InValidacionCrediticiaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidacionCrediticiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" minOccurs="0" name="GetValidacionCrediticiaResult" nillable="true" type="q2:OutValidacionCrediticiaLista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidacionCrediticiaExterna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.In" minOccurs="0" name="input" nillable="true" type="q3:InValidacionCrediticiaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidacionCrediticiaExternaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" minOccurs="0" name="GetValidacionCrediticiaExternaResult" nillable="true" type="q4:OutValidacionCrediticiaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>