app/Portal.Consultoras.Web/Service References/ValidacionCrediticia/ValidacionCrediticiaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.ValidacionCrediticia.Out" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/FFVVWCF/ValidacionCrediticiaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" />
  <xs:complexType name="OutValidacionCrediticiaLista">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" base="q1:OutListaOfOutValidacionCrediticiaDTOOutValidacionCrediticiaBloqueoXL2naAvS">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutValidacionCrediticiaLista" nillable="true" type="tns:OutValidacionCrediticiaLista" />
  <xs:complexType name="ArrayOfOutValidacionCrediticiaBloqueo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutValidacionCrediticiaBloqueo" nillable="true" type="tns:OutValidacionCrediticiaBloqueo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutValidacionCrediticiaBloqueo" nillable="true" type="tns:ArrayOfOutValidacionCrediticiaBloqueo" />
  <xs:complexType name="OutValidacionCrediticiaBloqueo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MotivoBloqueo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoBloqueo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutValidacionCrediticiaBloqueo" nillable="true" type="tns:OutValidacionCrediticiaBloqueo" />
  <xs:complexType name="ArrayOfOutValidacionCrediticiaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutValidacionCrediticiaDTO" nillable="true" type="tns:OutValidacionCrediticiaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutValidacionCrediticiaDTO" nillable="true" type="tns:ArrayOfOutValidacionCrediticiaDTO" />
  <xs:complexType name="OutValidacionCrediticiaDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Belcorp.FFVV.Aplicacion.Principal.DTO.Base.Out" base="q2:OutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CampanaIngreso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeudaBelcorp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeudaEntidadCrediticia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocIdentidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UltimaCampanaFacturada" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValoracionBelcorp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="consultarDCResult" nillable="true" type="tns:ConsultarDCResult" />
          <xs:element minOccurs="0" name="deudas" nillable="true" type="tns:ArrayOftDeuda" />
          <xs:element minOccurs="0" name="estadoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="primerApellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="primerNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="segundoApellido" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="segundoNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tipoMoneda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valoracion" nillable="true" type="tns:ArrayOftValoracion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutValidacionCrediticiaDTO" nillable="true" type="tns:OutValidacionCrediticiaDTO" />
  <xs:complexType name="ConsultarDCResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarDCResult" nillable="true" type="tns:ConsultarDCResult" />
  <xs:complexType name="ArrayOftDeuda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tDeuda" nillable="true" type="tns:tDeuda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftDeuda" nillable="true" type="tns:ArrayOftDeuda" />
  <xs:complexType name="tDeuda">
    <xs:sequence>
      <xs:element minOccurs="0" name="entidadCrediticia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="tns:tMoneda" />
      <xs:element minOccurs="0" name="monto" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tDeuda" nillable="true" type="tns:tDeuda" />
  <xs:complexType name="tMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoISOPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="simbolo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tMoneda" nillable="true" type="tns:tMoneda" />
  <xs:complexType name="ArrayOftValoracion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tValoracion" nillable="true" type="tns:tValoracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftValoracion" nillable="true" type="tns:ArrayOftValoracion" />
  <xs:complexType name="tValoracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tValoracion" nillable="true" type="tns:tValoracion" />
</xs:schema>