app/Portal.Consultoras.Web/Service References/ServiceAsesoraOnline/AsesoraOnlineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.AsesoraOnline" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.AsesoraOnline" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BEAsesoraOnline">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Respuesta1" type="xs:int" />
      <xs:element minOccurs="0" name="Respuesta2" type="xs:int" />
      <xs:element minOccurs="0" name="Respuesta3" type="xs:int" />
      <xs:element minOccurs="0" name="Respuesta4" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEAsesoraOnline" nillable="true" type="tns:BEAsesoraOnline" />
</xs:schema>