app/Portal.Consultoras.Web/Service References/ServiceAsesoraOnline/AsesoraOnlineService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.AsesoraOnline" />
  <xs:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:element name="EnviarFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.AsesoraOnline" minOccurs="0" name="entidad" nillable="true" type="q1:BEAsesoraOnline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarFormularioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByCodigoConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioByCodigoConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetUsuarioByCodigoConsultoraResult" nillable="true" type="q2:BEUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteConsultoraEnAsesoraOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteConsultoraEnAsesoraOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteConsultoraEnAsesoraOnlineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoConfiguracionPaisDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoConfiguracionPaisDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoConfiguracionPaisDetalleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAsesoraOnlineConfiguracionPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAsesoraOnlineConfiguracionPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarAsesoraOnlineConfiguracionPaisResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMailBienvenidaAsesoraOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMailBienvenidaAsesoraOnlineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarSuscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarSuscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarSuscripcionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VuelveASuscripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VuelveASuscripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VuelveASuscripcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>