app/Portal.Consultoras.Web/Service References/ServiceAsesoraOnline/AsesoraOnlineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AsesoraOnlineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAsesoraOnlineService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.AsesoraOnline" />
      <xsd:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
      <xsd:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
      <xsd:import schemaLocation="http://localhost:41615/AsesoraOnlineService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAsesoraOnlineService_EnviarFormulario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarFormulario" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_EnviarFormulario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarFormularioResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_GetUsuarioByCodigoConsultora_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByCodigoConsultora" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_GetUsuarioByCodigoConsultora_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsuarioByCodigoConsultoraResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_ExisteConsultoraEnAsesoraOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteConsultoraEnAsesoraOnline" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_ExisteConsultoraEnAsesoraOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteConsultoraEnAsesoraOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_ActualizarEstadoConfiguracionPaisDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoConfiguracionPaisDetalle" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_ActualizarEstadoConfiguracionPaisDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoConfiguracionPaisDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_ValidarAsesoraOnlineConfiguracionPais_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAsesoraOnlineConfiguracionPais" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_ValidarAsesoraOnlineConfiguracionPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAsesoraOnlineConfiguracionPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_EnviarMailBienvenidaAsesoraOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMailBienvenidaAsesoraOnline" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_EnviarMailBienvenidaAsesoraOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMailBienvenidaAsesoraOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_CancelarSuscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarSuscripcion" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_CancelarSuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarSuscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_VuelveASuscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:VuelveASuscripcion" />
  </wsdl:message>
  <wsdl:message name="IAsesoraOnlineService_VuelveASuscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:VuelveASuscripcionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAsesoraOnlineService">
    <wsdl:operation name="EnviarFormulario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/EnviarFormulario" message="tns:IAsesoraOnlineService_EnviarFormulario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/EnviarFormularioResponse" message="tns:IAsesoraOnlineService_EnviarFormulario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCodigoConsultora">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/GetUsuarioByCodigoConsultora" message="tns:IAsesoraOnlineService_GetUsuarioByCodigoConsultora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/GetUsuarioByCodigoConsultoraResponse" message="tns:IAsesoraOnlineService_GetUsuarioByCodigoConsultora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteConsultoraEnAsesoraOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/ExisteConsultoraEnAsesoraOnline" message="tns:IAsesoraOnlineService_ExisteConsultoraEnAsesoraOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/ExisteConsultoraEnAsesoraOnlineResponse" message="tns:IAsesoraOnlineService_ExisteConsultoraEnAsesoraOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoConfiguracionPaisDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/ActualizarEstadoConfiguracionPaisDetalle" message="tns:IAsesoraOnlineService_ActualizarEstadoConfiguracionPaisDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/ActualizarEstadoConfiguracionPaisDetalleResponse" message="tns:IAsesoraOnlineService_ActualizarEstadoConfiguracionPaisDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAsesoraOnlineConfiguracionPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/ValidarAsesoraOnlineConfiguracionPais" message="tns:IAsesoraOnlineService_ValidarAsesoraOnlineConfiguracionPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/ValidarAsesoraOnlineConfiguracionPaisResponse" message="tns:IAsesoraOnlineService_ValidarAsesoraOnlineConfiguracionPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMailBienvenidaAsesoraOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/EnviarMailBienvenidaAsesoraOnline" message="tns:IAsesoraOnlineService_EnviarMailBienvenidaAsesoraOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/EnviarMailBienvenidaAsesoraOnlineResponse" message="tns:IAsesoraOnlineService_EnviarMailBienvenidaAsesoraOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/CancelarSuscripcion" message="tns:IAsesoraOnlineService_CancelarSuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/CancelarSuscripcionResponse" message="tns:IAsesoraOnlineService_CancelarSuscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VuelveASuscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsesoraOnlineService/VuelveASuscripcion" message="tns:IAsesoraOnlineService_VuelveASuscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsesoraOnlineService/VuelveASuscripcionResponse" message="tns:IAsesoraOnlineService_VuelveASuscripcion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAsesoraOnlineService" type="tns:IAsesoraOnlineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarFormulario">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/EnviarFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCodigoConsultora">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/GetUsuarioByCodigoConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteConsultoraEnAsesoraOnline">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/ExisteConsultoraEnAsesoraOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoConfiguracionPaisDetalle">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/ActualizarEstadoConfiguracionPaisDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAsesoraOnlineConfiguracionPais">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/ValidarAsesoraOnlineConfiguracionPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMailBienvenidaAsesoraOnline">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/EnviarMailBienvenidaAsesoraOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcion">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/CancelarSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VuelveASuscripcion">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/VuelveASuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAsesoraOnlineService" type="tns:IAsesoraOnlineService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAsesoraOnlineService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarFormulario">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/EnviarFormulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsuarioByCodigoConsultora">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/GetUsuarioByCodigoConsultora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteConsultoraEnAsesoraOnline">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/ExisteConsultoraEnAsesoraOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoConfiguracionPaisDetalle">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/ActualizarEstadoConfiguracionPaisDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAsesoraOnlineConfiguracionPais">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/ValidarAsesoraOnlineConfiguracionPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMailBienvenidaAsesoraOnline">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/EnviarMailBienvenidaAsesoraOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSuscripcion">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/CancelarSuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VuelveASuscripcion">
      <soap:operation soapAction="http://tempuri.org/IAsesoraOnlineService/VuelveASuscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsesoraOnlineService">
    <wsdl:port name="BasicHttpBinding_IAsesoraOnlineService" binding="tns:BasicHttpBinding_IAsesoraOnlineService">
      <soap:address location="http://localhost:41615/AsesoraOnlineService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAsesoraOnlineService" binding="tns:BasicHttpsBinding_IAsesoraOnlineService">
      <soap:address location="https://localhost:44392/AsesoraOnlineService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>