app/Portal.Consultoras.Web/Web References/ServiceGestionWebPROL/WsGestionWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCdrWebConsulta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codconsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrWebConsultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCdrWebConsultaResult" type="tns:ArrayOfRptCdr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRptCdr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RptCdr" nillable="true" type="tns:RptCdr" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RptCdr">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LProductosComplementos" type="tns:ArrayOfProductosComplementos" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductosComplementos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductosComplementos" nillable="true" type="tns:ProductosComplementos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductosComplementos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCdrWebConsulta_Reclamo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codconsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrWebConsulta_ReclamoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCdrWebConsulta_ReclamoResult" type="tns:ArrayOfRptCdr" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaStockBySap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaStockBySapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaStockBySapResult" type="tns:ArrayOfLista" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLista">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lista" nillable="true" type="tns:Lista" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lista">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codsap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="observacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaStockProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaStockProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaStockProlResult" type="tns:ArrayOfStockProl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStockProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockProl" nillable="true" type="tns:StockProl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockProl">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codsap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stockdisponible" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="observacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPrecioProductosOfertaWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuvs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrecioProductosOfertaWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrecioProductosOfertaWebResult" type="tns:ArrayOfPrecioProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrecioProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PrecioProducto" nillable="true" type="tns:PrecioProducto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PrecioProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_producto" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConsultaPrecioValorizado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="campania" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsultaPrecioValorizadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsultaPrecioValorizadoResult" type="tns:ArrayOfRptPrecioValorizado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRptPrecioValorizado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RptPrecioValorizado" nillable="true" type="tns:RptPrecioValorizado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RptPrecioValorizado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="importevalorizado" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="observacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEstrategiaProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codconsultora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEstrategiaProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEstrategiaProductoResult" type="tns:ArrayOfRptProductoEstrategia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRptProductoEstrategia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RptProductoEstrategia" nillable="true" type="tns:RptProductoEstrategia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RptProductoEstrategia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_estrategia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estrategia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="grupo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_sap" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_unitario" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="precio_valorizado" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="orden" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="digitable" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="factor_cuadre" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="codigo_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="obs_error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idmarca" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtenerPrecioEstrategia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoCampana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPrecioEstrategiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPrecioEstrategiaResult" type="tns:PreciosEstrategia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PreciosEstrategia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="listaniveles" type="tns:ArrayOfNivelEstrategia" />
          <s:element minOccurs="1" maxOccurs="1" name="montotal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="montoganacia" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionerror" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNivelEstrategia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NivelEstrategia" nillable="true" type="tns:NivelEstrategia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NivelEstrategia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nivel" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCdrWebConsultaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCdrWebConsulta" />
  </wsdl:message>
  <wsdl:message name="GetCdrWebConsultaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCdrWebConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCdrWebConsulta_ReclamoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCdrWebConsulta_Reclamo" />
  </wsdl:message>
  <wsdl:message name="GetCdrWebConsulta_ReclamoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCdrWebConsulta_ReclamoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaStockBySapSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaStockBySap" />
  </wsdl:message>
  <wsdl:message name="ConsultaStockBySapSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaStockBySapResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaStockProlSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaStockProl" />
  </wsdl:message>
  <wsdl:message name="ConsultaStockProlSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaStockProlResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrecioProductosOfertaWebSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrecioProductosOfertaWeb" />
  </wsdl:message>
  <wsdl:message name="GetPrecioProductosOfertaWebSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrecioProductosOfertaWebResponse" />
  </wsdl:message>
  <wsdl:message name="GetConsultaPrecioValorizadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetConsultaPrecioValorizado" />
  </wsdl:message>
  <wsdl:message name="GetConsultaPrecioValorizadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetConsultaPrecioValorizadoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEstrategiaProductoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEstrategiaProducto" />
  </wsdl:message>
  <wsdl:message name="GetEstrategiaProductoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEstrategiaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrecioEstrategiaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPrecioEstrategia" />
  </wsdl:message>
  <wsdl:message name="ObtenerPrecioEstrategiaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPrecioEstrategiaResponse" />
  </wsdl:message>
  <wsdl:portType name="WsGestionWebSoap">
    <wsdl:operation name="GetCdrWebConsulta">
      <wsdl:input message="tns:GetCdrWebConsultaSoapIn" />
      <wsdl:output message="tns:GetCdrWebConsultaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCdrWebConsulta_Reclamo">
      <wsdl:input message="tns:GetCdrWebConsulta_ReclamoSoapIn" />
      <wsdl:output message="tns:GetCdrWebConsulta_ReclamoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaStockBySap">
      <wsdl:input message="tns:ConsultaStockBySapSoapIn" />
      <wsdl:output message="tns:ConsultaStockBySapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaStockProl">
      <wsdl:input message="tns:ConsultaStockProlSoapIn" />
      <wsdl:output message="tns:ConsultaStockProlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrecioProductosOfertaWeb">
      <wsdl:input message="tns:GetPrecioProductosOfertaWebSoapIn" />
      <wsdl:output message="tns:GetPrecioProductosOfertaWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultaPrecioValorizado">
      <wsdl:input message="tns:GetConsultaPrecioValorizadoSoapIn" />
      <wsdl:output message="tns:GetConsultaPrecioValorizadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiaProducto">
      <wsdl:input message="tns:GetEstrategiaProductoSoapIn" />
      <wsdl:output message="tns:GetEstrategiaProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrecioEstrategia">
      <wsdl:input message="tns:ObtenerPrecioEstrategiaSoapIn" />
      <wsdl:output message="tns:ObtenerPrecioEstrategiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsGestionWebSoap" type="tns:WsGestionWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCdrWebConsulta">
      <soap:operation soapAction="http://tempuri.org/GetCdrWebConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCdrWebConsulta_Reclamo">
      <soap:operation soapAction="http://tempuri.org/GetCdrWebConsulta_Reclamo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStockBySap">
      <soap:operation soapAction="http://tempuri.org/ConsultaStockBySap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStockProl">
      <soap:operation soapAction="http://tempuri.org/ConsultaStockProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrecioProductosOfertaWeb">
      <soap:operation soapAction="http://tempuri.org/GetPrecioProductosOfertaWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultaPrecioValorizado">
      <soap:operation soapAction="http://tempuri.org/GetConsultaPrecioValorizado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiaProducto">
      <soap:operation soapAction="http://tempuri.org/GetEstrategiaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrecioEstrategia">
      <soap:operation soapAction="http://tempuri.org/ObtenerPrecioEstrategia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsGestionWebSoap12" type="tns:WsGestionWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCdrWebConsulta">
      <soap12:operation soapAction="http://tempuri.org/GetCdrWebConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCdrWebConsulta_Reclamo">
      <soap12:operation soapAction="http://tempuri.org/GetCdrWebConsulta_Reclamo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStockBySap">
      <soap12:operation soapAction="http://tempuri.org/ConsultaStockBySap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaStockProl">
      <soap12:operation soapAction="http://tempuri.org/ConsultaStockProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrecioProductosOfertaWeb">
      <soap12:operation soapAction="http://tempuri.org/GetPrecioProductosOfertaWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultaPrecioValorizado">
      <soap12:operation soapAction="http://tempuri.org/GetConsultaPrecioValorizado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstrategiaProducto">
      <soap12:operation soapAction="http://tempuri.org/GetEstrategiaProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPrecioEstrategia">
      <soap12:operation soapAction="http://tempuri.org/ObtenerPrecioEstrategia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsGestionWeb">
    <wsdl:port name="WsGestionWebSoap" binding="tns:WsGestionWebSoap">
      <soap:address location="http://qaielb-webprol-1875224445.us-east-1.elb.amazonaws.com/WsGestionWebProl/WsGestionWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="WsGestionWebSoap12" binding="tns:WsGestionWebSoap12">
      <soap12:address location="http://qaielb-webprol-1875224445.us-east-1.elb.amazonaws.com/WsGestionWebProl/WsGestionWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>