app/Portal.Consultoras.Web/Service References/ServiceUsuarioExt/UsuarioWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsuarioWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7592/UsuarioWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7592/UsuarioWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioWebService_GetInfoPreLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoPreLogin" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_GetInfoPreLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInfoPreLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_InsLogIngresoPortal_InputMessage">
    <wsdl:part name="parameters" element="tns:InsLogIngresoPortal" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_InsLogIngresoPortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsLogIngresoPortalResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_GetISObyIPAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetISObyIPAddress" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_GetISObyIPAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetISObyIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_OlvideContrasena_InputMessage">
    <wsdl:part name="parameters" element="tns:OlvideContrasena" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_OlvideContrasena_OutputMessage">
    <wsdl:part name="parameters" element="tns:OlvideContrasenaResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_GuardarContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarContrasenia" />
  </wsdl:message>
  <wsdl:message name="IUsuarioWebService_GuardarContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarContraseniaResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioWebService">
    <wsdl:operation name="GetInfoPreLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWebService/GetInfoPreLogin" message="tns:IUsuarioWebService_GetInfoPreLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWebService/GetInfoPreLoginResponse" message="tns:IUsuarioWebService_GetInfoPreLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsLogIngresoPortal">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWebService/InsLogIngresoPortal" message="tns:IUsuarioWebService_InsLogIngresoPortal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWebService/InsLogIngresoPortalResponse" message="tns:IUsuarioWebService_InsLogIngresoPortal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetISObyIPAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWebService/GetISObyIPAddress" message="tns:IUsuarioWebService_GetISObyIPAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWebService/GetISObyIPAddressResponse" message="tns:IUsuarioWebService_GetISObyIPAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OlvideContrasena">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWebService/OlvideContrasena" message="tns:IUsuarioWebService_OlvideContrasena_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWebService/OlvideContrasenaResponse" message="tns:IUsuarioWebService_OlvideContrasena_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarContrasenia">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioWebService/GuardarContrasenia" message="tns:IUsuarioWebService_GuardarContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioWebService/GuardarContraseniaResponse" message="tns:IUsuarioWebService_GuardarContrasenia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioWebService" type="tns:IUsuarioWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoPreLogin">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWebService/GetInfoPreLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsLogIngresoPortal">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWebService/InsLogIngresoPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetISObyIPAddress">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWebService/GetISObyIPAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OlvideContrasena">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWebService/OlvideContrasena" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarContrasenia">
      <soap:operation soapAction="http://tempuri.org/IUsuarioWebService/GuardarContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuarioWebService">
    <wsdl:port name="BasicHttpBinding_IUsuarioWebService" binding="tns:BasicHttpBinding_IUsuarioWebService">
      <soap:address location="http://localhost:7592/UsuarioWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>