app/Portal.Consultoras.Web/Web References/ServiceOSBBelcorpConsultora/portConsultoraPSSOAP11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.belcorp.biz/soa/business/ffvv/portal/ConsultoraBS" targetNamespace="http://www.belcorp.biz/soa/business/ffvv/portal/ConsultoraBS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtenerEstadoCuentaConsultoraDetalle" type="tns:obtenerEstadoCuentaConsultoraDetalle" />
  <xs:element name="obtenerEstadoCuentaConsultoraDetalleResponse" type="tns:obtenerEstadoCuentaConsultoraDetalleResponse" />
  <xs:complexType name="obtenerEstadoCuentaConsultoraDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerEstadoCuentaConsultoraDetalleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoCuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoCuenta">
    <xs:sequence>
      <xs:element name="abono" type="xs:double" />
      <xs:element name="cargo" type="xs:double" />
      <xs:element minOccurs="0" name="codigoConsultora" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegsitro" type="xs:string" />
      <xs:element minOccurs="0" name="glosa" type="xs:string" />
      <xs:element minOccurs="0" name="isoPais" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element name="monto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>