app/Portal.Consultoras.ServiceOFAppCatalogo/Web References/ServicePROLConsultas/wsConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaStockResult" type="tns:ArrayOfLista" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLista">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Lista" nillable="true" type="tns:Lista" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lista">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codsap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarCarga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCargaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCargaResult" type="tns:ArrayOfControlCarga" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfControlCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ControlCarga" nillable="true" type="tns:ControlCarga" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ControlCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechastock" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaJobProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaJobProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaJobProlResult" type="tns:ArrayOfLogCarga" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LogCarga" nillable="true" type="tns:LogCarga" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LogCarga">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="proceso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="inicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="finalizacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="duracion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaJobStockProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaJobStockProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaJobStockProlResult" type="tns:ArrayOfLogCarga" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaArchivoStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaArchivoStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaArchivoStockResult" type="tns:ArrayOfArchivoStock" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArchivoStock">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArchivoStock" nillable="true" type="tns:ArchivoStock" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArchivoStock">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stockactual" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stocknuevo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="operacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FechasPais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechasPaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechasPaisResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FechasPaisJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FechasPaisJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechasPaisJobResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Horas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HorasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HorasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUnidadesReservadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerUnidadesReservadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUnidadesReservadasResult" type="tns:ArrayOfStockReservado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStockReservado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockReservado" nillable="true" type="tns:StockReservado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockReservado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codsap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cantidad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaLogErrorEtl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaLogErrorEtlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaLogErrorEtlResult" type="tns:ArrayOfLogError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LogError" nillable="true" type="tns:LogError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LogError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="proceso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="paso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subpaso" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EjecutarJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packagename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EjecutarJobResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetenerJob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="packagename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetenerJobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetenerJobResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Analizador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalizadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalizadorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarSql">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EjecutarSqlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EjecutarSqlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaOfertaProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codproducto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaOfertaProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaOfertaProlResult" type="tns:ArrayOfOfertaProl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOfertaProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfertaProl" nillable="true" type="tns:OfertaProl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfertaProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codigoventa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descripcionproducto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlImagen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlVideo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EsVideo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCategoria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoMarca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campania" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReporteStockxZona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReporteStockxZonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReporteStockxZonaResult" type="tns:ArrayOfReportStockxZona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReportStockxZona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportStockxZona" nillable="true" type="tns:ReportStockxZona" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportStockxZona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="campania" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zona" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reservado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="consumido" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FileDetalleExplotado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutacabecera" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutadetalle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileDetalleExplotadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileDetalleExplotadoResult" type="tns:ArrayOfDetallePedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDetallePedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetallePedido" nillable="true" type="tns:DetallePedido" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetallePedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="abrv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="numpedido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cant" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cuv_r" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="correlativo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubirFtp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="servidor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaorigen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutadestino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubirFtpResponse">
        <s:complexType />
      </s:element>
      <s:element name="WsDisponibilidadProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ejecucion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WsDisponibilidadProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WsDisponibilidadProlResult" type="tns:ArrayOfDispoProl" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDispoProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DispoProl" nillable="true" type="tns:DispoProl" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DispoProl">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fechaproceso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="activaprol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ejecutoautoma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="observacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="WsIStockFicticio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codperiodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tipostock" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WsIStockFicticioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WsIStockFicticioResult" type="tns:ArrayOfRptStock" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRptStock">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RptStock" nillable="true" type="tns:RptStock" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RptStock">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codperiodo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codsap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipostock" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaingreso" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultaProlSap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaProlSapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaProlSapResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaStockSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaStock" />
  </wsdl:message>
  <wsdl:message name="ConsultaStockSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaStockResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCargaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCarga" />
  </wsdl:message>
  <wsdl:message name="ConsultarCargaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCargaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaJobProlSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaJobProl" />
  </wsdl:message>
  <wsdl:message name="ConsultaJobProlSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaJobProlResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaJobStockProlSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaJobStockProl" />
  </wsdl:message>
  <wsdl:message name="ConsultaJobStockProlSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaJobStockProlResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaArchivoStockSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaArchivoStock" />
  </wsdl:message>
  <wsdl:message name="ConsultaArchivoStockSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaArchivoStockResponse" />
  </wsdl:message>
  <wsdl:message name="FechasPaisSoapIn">
    <wsdl:part name="parameters" element="tns:FechasPais" />
  </wsdl:message>
  <wsdl:message name="FechasPaisSoapOut">
    <wsdl:part name="parameters" element="tns:FechasPaisResponse" />
  </wsdl:message>
  <wsdl:message name="FechasPaisJobSoapIn">
    <wsdl:part name="parameters" element="tns:FechasPaisJob" />
  </wsdl:message>
  <wsdl:message name="FechasPaisJobSoapOut">
    <wsdl:part name="parameters" element="tns:FechasPaisJobResponse" />
  </wsdl:message>
  <wsdl:message name="HorasSoapIn">
    <wsdl:part name="parameters" element="tns:Horas" />
  </wsdl:message>
  <wsdl:message name="HorasSoapOut">
    <wsdl:part name="parameters" element="tns:HorasResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerUnidadesReservadasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUnidadesReservadas" />
  </wsdl:message>
  <wsdl:message name="ObtenerUnidadesReservadasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUnidadesReservadasResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaLogErrorEtlSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaLogErrorEtl" />
  </wsdl:message>
  <wsdl:message name="ConsultaLogErrorEtlSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaLogErrorEtlResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutarJobSoapIn">
    <wsdl:part name="parameters" element="tns:EjecutarJob" />
  </wsdl:message>
  <wsdl:message name="EjecutarJobSoapOut">
    <wsdl:part name="parameters" element="tns:EjecutarJobResponse" />
  </wsdl:message>
  <wsdl:message name="DetenerJobSoapIn">
    <wsdl:part name="parameters" element="tns:DetenerJob" />
  </wsdl:message>
  <wsdl:message name="DetenerJobSoapOut">
    <wsdl:part name="parameters" element="tns:DetenerJobResponse" />
  </wsdl:message>
  <wsdl:message name="AnalizadorSoapIn">
    <wsdl:part name="parameters" element="tns:Analizador" />
  </wsdl:message>
  <wsdl:message name="AnalizadorSoapOut">
    <wsdl:part name="parameters" element="tns:AnalizadorResponse" />
  </wsdl:message>
  <wsdl:message name="EjecutarSqlSoapIn">
    <wsdl:part name="parameters" element="tns:EjecutarSql" />
  </wsdl:message>
  <wsdl:message name="EjecutarSqlSoapOut">
    <wsdl:part name="parameters" element="tns:EjecutarSqlResponse" />
  </wsdl:message>
  <wsdl:message name="ListaOfertaProlSoapIn">
    <wsdl:part name="parameters" element="tns:ListaOfertaProl" />
  </wsdl:message>
  <wsdl:message name="ListaOfertaProlSoapOut">
    <wsdl:part name="parameters" element="tns:ListaOfertaProlResponse" />
  </wsdl:message>
  <wsdl:message name="ReporteStockxZonaSoapIn">
    <wsdl:part name="parameters" element="tns:ReporteStockxZona" />
  </wsdl:message>
  <wsdl:message name="ReporteStockxZonaSoapOut">
    <wsdl:part name="parameters" element="tns:ReporteStockxZonaResponse" />
  </wsdl:message>
  <wsdl:message name="FileDetalleExplotadoSoapIn">
    <wsdl:part name="parameters" element="tns:FileDetalleExplotado" />
  </wsdl:message>
  <wsdl:message name="FileDetalleExplotadoSoapOut">
    <wsdl:part name="parameters" element="tns:FileDetalleExplotadoResponse" />
  </wsdl:message>
  <wsdl:message name="SubirFtpSoapIn">
    <wsdl:part name="parameters" element="tns:SubirFtp" />
  </wsdl:message>
  <wsdl:message name="SubirFtpSoapOut">
    <wsdl:part name="parameters" element="tns:SubirFtpResponse" />
  </wsdl:message>
  <wsdl:message name="WsDisponibilidadProlSoapIn">
    <wsdl:part name="parameters" element="tns:WsDisponibilidadProl" />
  </wsdl:message>
  <wsdl:message name="WsDisponibilidadProlSoapOut">
    <wsdl:part name="parameters" element="tns:WsDisponibilidadProlResponse" />
  </wsdl:message>
  <wsdl:message name="WsIStockFicticioSoapIn">
    <wsdl:part name="parameters" element="tns:WsIStockFicticio" />
  </wsdl:message>
  <wsdl:message name="WsIStockFicticioSoapOut">
    <wsdl:part name="parameters" element="tns:WsIStockFicticioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaProlSapSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaProlSap" />
  </wsdl:message>
  <wsdl:message name="ConsultaProlSapSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaProlSapResponse" />
  </wsdl:message>
  <wsdl:portType name="wsConsultaSoap">
    <wsdl:operation name="ConsultaStock">
      <wsdl:input message="tns:ConsultaStockSoapIn" />
      <wsdl:output message="tns:ConsultaStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCarga">
      <wsdl:input message="tns:ConsultarCargaSoapIn" />
      <wsdl:output message="tns:ConsultarCargaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaJobProl">
      <wsdl:input message="tns:ConsultaJobProlSoapIn" />
      <wsdl:output message="tns:ConsultaJobProlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaJobStockProl">
      <wsdl:input message="tns:ConsultaJobStockProlSoapIn" />
      <wsdl:output message="tns:ConsultaJobStockProlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaArchivoStock">
      <wsdl:input message="tns:ConsultaArchivoStockSoapIn" />
      <wsdl:output message="tns:ConsultaArchivoStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechasPais">
      <wsdl:input message="tns:FechasPaisSoapIn" />
      <wsdl:output message="tns:FechasPaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FechasPaisJob">
      <wsdl:input message="tns:FechasPaisJobSoapIn" />
      <wsdl:output message="tns:FechasPaisJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Horas">
      <wsdl:input message="tns:HorasSoapIn" />
      <wsdl:output message="tns:HorasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnidadesReservadas">
      <wsdl:input message="tns:ObtenerUnidadesReservadasSoapIn" />
      <wsdl:output message="tns:ObtenerUnidadesReservadasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaLogErrorEtl">
      <wsdl:input message="tns:ConsultaLogErrorEtlSoapIn" />
      <wsdl:output message="tns:ConsultaLogErrorEtlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarJob">
      <wsdl:input message="tns:EjecutarJobSoapIn" />
      <wsdl:output message="tns:EjecutarJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetenerJob">
      <wsdl:input message="tns:DetenerJobSoapIn" />
      <wsdl:output message="tns:DetenerJobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Analizador">
      <wsdl:input message="tns:AnalizadorSoapIn" />
      <wsdl:output message="tns:AnalizadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EjecutarSql">
      <wsdl:input message="tns:EjecutarSqlSoapIn" />
      <wsdl:output message="tns:EjecutarSqlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaOfertaProl">
      <wsdl:input message="tns:ListaOfertaProlSoapIn" />
      <wsdl:output message="tns:ListaOfertaProlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReporteStockxZona">
      <wsdl:input message="tns:ReporteStockxZonaSoapIn" />
      <wsdl:output message="tns:ReporteStockxZonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileDetalleExplotado">
      <wsdl:input message="tns:FileDetalleExplotadoSoapIn" />
      <wsdl:output message="tns:FileDetalleExplotadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubirFtp">
      <wsdl:input message="tns:SubirFtpSoapIn" />
      <wsdl:output message="tns:SubirFtpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WsDisponibilidadProl">
      <wsdl:input message="tns:WsDisponibilidadProlSoapIn" />
      <wsdl:output message="tns:WsDisponibilidadProlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WsIStockFicticio">
      <wsdl:input message="tns:WsIStockFicticioSoapIn" />
      <wsdl:output message="tns:WsIStockFicticioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaProlSap">
      <wsdl:input message="tns:ConsultaProlSapSoapIn" />
      <wsdl:output message="tns:ConsultaProlSapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsConsultaSoap" type="tns:wsConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaStock">
      <soap:operation soapAction="http://tempuri.org/ConsultaStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCarga">
      <soap:operation soapAction="http://tempuri.org/ConsultarCarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaJobProl">
      <soap:operation soapAction="http://tempuri.org/ConsultaJobProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaJobStockProl">
      <soap:operation soapAction="http://tempuri.org/ConsultaJobStockProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaArchivoStock">
      <soap:operation soapAction="http://tempuri.org/ConsultaArchivoStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechasPais">
      <soap:operation soapAction="http://tempuri.org/FechasPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechasPaisJob">
      <soap:operation soapAction="http://tempuri.org/FechasPaisJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Horas">
      <soap:operation soapAction="http://tempuri.org/Horas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnidadesReservadas">
      <soap:operation soapAction="http://tempuri.org/ObtenerUnidadesReservadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaLogErrorEtl">
      <soap:operation soapAction="http://tempuri.org/ConsultaLogErrorEtl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarJob">
      <soap:operation soapAction="http://tempuri.org/EjecutarJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetenerJob">
      <soap:operation soapAction="http://tempuri.org/DetenerJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Analizador">
      <soap:operation soapAction="http://tempuri.org/Analizador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarSql">
      <soap:operation soapAction="http://tempuri.org/EjecutarSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaOfertaProl">
      <soap:operation soapAction="http://tempuri.org/ListaOfertaProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteStockxZona">
      <soap:operation soapAction="http://tempuri.org/ReporteStockxZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileDetalleExplotado">
      <soap:operation soapAction="http://tempuri.org/FileDetalleExplotado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubirFtp">
      <soap:operation soapAction="http://tempuri.org/SubirFtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsDisponibilidadProl">
      <soap:operation soapAction="http://tempuri.org/WsDisponibilidadProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsIStockFicticio">
      <soap:operation soapAction="http://tempuri.org/WsIStockFicticio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaProlSap">
      <soap:operation soapAction="http://tempuri.org/ConsultaProlSap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsConsultaSoap12" type="tns:wsConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaStock">
      <soap12:operation soapAction="http://tempuri.org/ConsultaStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCarga">
      <soap12:operation soapAction="http://tempuri.org/ConsultarCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaJobProl">
      <soap12:operation soapAction="http://tempuri.org/ConsultaJobProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaJobStockProl">
      <soap12:operation soapAction="http://tempuri.org/ConsultaJobStockProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaArchivoStock">
      <soap12:operation soapAction="http://tempuri.org/ConsultaArchivoStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechasPais">
      <soap12:operation soapAction="http://tempuri.org/FechasPais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechasPaisJob">
      <soap12:operation soapAction="http://tempuri.org/FechasPaisJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Horas">
      <soap12:operation soapAction="http://tempuri.org/Horas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUnidadesReservadas">
      <soap12:operation soapAction="http://tempuri.org/ObtenerUnidadesReservadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaLogErrorEtl">
      <soap12:operation soapAction="http://tempuri.org/ConsultaLogErrorEtl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarJob">
      <soap12:operation soapAction="http://tempuri.org/EjecutarJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetenerJob">
      <soap12:operation soapAction="http://tempuri.org/DetenerJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Analizador">
      <soap12:operation soapAction="http://tempuri.org/Analizador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EjecutarSql">
      <soap12:operation soapAction="http://tempuri.org/EjecutarSql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaOfertaProl">
      <soap12:operation soapAction="http://tempuri.org/ListaOfertaProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReporteStockxZona">
      <soap12:operation soapAction="http://tempuri.org/ReporteStockxZona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileDetalleExplotado">
      <soap12:operation soapAction="http://tempuri.org/FileDetalleExplotado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubirFtp">
      <soap12:operation soapAction="http://tempuri.org/SubirFtp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsDisponibilidadProl">
      <soap12:operation soapAction="http://tempuri.org/WsDisponibilidadProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsIStockFicticio">
      <soap12:operation soapAction="http://tempuri.org/WsIStockFicticio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaProlSap">
      <soap12:operation soapAction="http://tempuri.org/ConsultaProlSap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsConsulta">
    <wsdl:port name="wsConsultaSoap" binding="tns:wsConsultaSoap">
      <soap:address location="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/wsconsultasprol/wsConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsConsultaSoap12" binding="tns:wsConsultaSoap12">
      <soap12:address location="http://qaelb-webprol-2076989301.us-east-1.elb.amazonaws.com/wsconsultasprol/wsConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>