app/Portal.Consultoras.Web/Service References/ServiceContenido/ContenidoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ContenidoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:41615/ContenidoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBEBanner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBanner" nillable="true" type="tns:BEBanner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBanner" nillable="true" type="tns:ArrayOfBEBanner" />
  <xs:complexType name="BEBanner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CantCuvPedido" type="xs:int" />
      <xs:element minOccurs="0" name="CuvPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagConsultoraNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlagGrupoConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrupoBannerID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PaginaNueva" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Paises" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="PaisesSegZona" nillable="true" type="tns:ArrayOfBEBannerSegmentoZona" />
      <xs:element minOccurs="0" name="TextoComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoRotacion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoAccion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContenido" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TituloComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UdpSoloBanner" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBanner" nillable="true" type="tns:BEBanner" />
  <xs:complexType name="ArrayOfBEBannerSegmentoZona">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBannerSegmentoZona" nillable="true" type="tns:BEBannerSegmentoZona" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBannerSegmentoZona" nillable="true" type="tns:ArrayOfBEBannerSegmentoZona" />
  <xs:complexType name="BEBannerSegmentoZona">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerId" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigosConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfiguracionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisId" type="xs:int" />
      <xs:element minOccurs="0" name="Segmento" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentoInterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAcceso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBannerSegmentoZona" nillable="true" type="tns:BEBannerSegmentoZona" />
  <xs:complexType name="ArrayOfBEBannerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBannerInfo" nillable="true" type="tns:BEBannerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBannerInfo" nillable="true" type="tns:ArrayOfBEBannerInfo" />
  <xs:complexType name="BEBannerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BannerID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CantCuvPedido" type="xs:int" />
      <xs:element minOccurs="0" name="ConfiguracionZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuvPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoBannerID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="PaginaNueva" type="xs:int" />
      <xs:element minOccurs="0" name="Segmento" type="xs:int" />
      <xs:element minOccurs="0" name="TextoComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoRotacion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoAccion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoContenido" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TituloComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBannerInfo" nillable="true" type="tns:BEBannerInfo" />
  <xs:complexType name="ArrayOfBEBannerOrden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBannerOrden" nillable="true" type="tns:BEBannerOrden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBannerOrden" nillable="true" type="tns:ArrayOfBEBannerOrden" />
  <xs:complexType name="BEBannerOrden">
    <xs:sequence>
      <xs:element minOccurs="0" name="BannerID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBannerOrden" nillable="true" type="tns:BEBannerOrden" />
  <xs:complexType name="ArrayOfBEGrupoBanner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEGrupoBanner" nillable="true" type="tns:BEGrupoBanner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEGrupoBanner" nillable="true" type="tns:ArrayOfBEGrupoBanner" />
  <xs:complexType name="BEGrupoBanner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alto" type="xs:int" />
      <xs:element minOccurs="0" name="AltoEsika" type="xs:int" />
      <xs:element minOccurs="0" name="Ancho" type="xs:int" />
      <xs:element minOccurs="0" name="AnchoEsika" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Consultoras" nillable="true" type="tns:ArrayOfBEGrupoConsultora" />
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionEsika" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoBannerID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TiempoRotacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGrupoBanner" nillable="true" type="tns:BEGrupoBanner" />
  <xs:complexType name="ArrayOfBEGrupoConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEGrupoConsultora" nillable="true" type="tns:BEGrupoConsultora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEGrupoConsultora" nillable="true" type="tns:ArrayOfBEGrupoConsultora" />
  <xs:complexType name="BEGrupoConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultoraCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGrupoConsultora" nillable="true" type="tns:BEGrupoConsultora" />
  <xs:complexType name="ArrayOfBEParametro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEParametro" nillable="true" type="tns:BEParametro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEParametro" nillable="true" type="tns:ArrayOfBEParametro" />
  <xs:complexType name="BEParametro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParametroId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEParametro" nillable="true" type="tns:BEParametro" />
  <xs:complexType name="BEFormularioDato">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormularioDatoID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoFormularioID" type="tns:ETipoFormulario" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEFormularioDato" nillable="true" type="tns:BEFormularioDato" />
  <xs:simpleType name="ETipoFormulario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Login">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Belcenter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Telefonos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1103</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Politicas">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1104</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Contratos">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1105</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LugaresPago">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1106</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ETipoFormulario" nillable="true" type="tns:ETipoFormulario" />
  <xs:complexType name="ArrayOfBEFormularioDato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEFormularioDato" nillable="true" type="tns:BEFormularioDato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEFormularioDato" nillable="true" type="tns:ArrayOfBEFormularioDato" />
  <xs:complexType name="ArrayOfBEResumenCampania">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEResumenCampania" nillable="true" type="tns:BEResumenCampania" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEResumenCampania" nillable="true" type="tns:ArrayOfBEResumenCampania" />
  <xs:complexType name="BEResumenCampania">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="SaldoPendiente" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEResumenCampania" nillable="true" type="tns:BEResumenCampania" />
  <xs:complexType name="BEContenidoDato">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenFondo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEContenidoDato" nillable="true" type="tns:BEContenidoDato" />
  <xs:complexType name="ArrayOfBEContenidoDato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEContenidoDato" nillable="true" type="tns:BEContenidoDato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEContenidoDato" nillable="true" type="tns:ArrayOfBEContenidoDato" />
  <xs:complexType name="ArrayOfBETipoLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETipoLink" nillable="true" type="tns:BETipoLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETipoLink" nillable="true" type="tns:ArrayOfBETipoLink" />
  <xs:complexType name="BETipoLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="TipoLinkID" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETipoLink" nillable="true" type="tns:BETipoLink" />
  <xs:complexType name="ArrayOfBEPayPalConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPayPalConfiguracion" nillable="true" type="tns:BEPayPalConfiguracion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPayPalConfiguracion" nillable="true" type="tns:ArrayOfBEPayPalConfiguracion" />
  <xs:complexType name="BEPayPalConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="chrCodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrCodigoParametro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrRETCodigoAutorizacionBancaria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrRETCodigoTransaccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrRETResultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrSYSUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrUltimosNumeroTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chrValor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datSYSFechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mnyMontoAbono" type="xs:decimal" />
      <xs:element minOccurs="0" name="paisID" type="xs:int" />
      <xs:element minOccurs="0" name="vchNombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPayPalConfiguracion" nillable="true" type="tns:BEPayPalConfiguracion" />
  <xs:complexType name="BEContenidoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NroCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaImagenPortada" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEContenidoRevista" nillable="true" type="tns:BEContenidoRevista" />
  <xs:complexType name="ArrayOfBEContenidoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEContenidoRevista" nillable="true" type="tns:BEContenidoRevista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEContenidoRevista" nillable="true" type="tns:ArrayOfBEContenidoRevista" />
  <xs:complexType name="ArrayOfBEBelcorpResponde">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEBelcorpResponde" nillable="true" type="tns:BEBelcorpResponde" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEBelcorpResponde" nillable="true" type="tns:ArrayOfBEBelcorpResponde" />
  <xs:complexType name="BEBelcorpResponde">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChatURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoBcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escribenos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EscribenosURL" nillable="true" type="xs:string" />
      <xs:element name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="ParametroCodigoConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParametroPais" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBelcorpResponde" nillable="true" type="tns:BEBelcorpResponde" />
  <xs:complexType name="BENavidadConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImagenId" type="xs:int" />
      <xs:element minOccurs="0" name="NombreImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BENavidadConsultora" nillable="true" type="tns:BENavidadConsultora" />
  <xs:complexType name="ArrayOfBENavidadConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BENavidadConsultora" nillable="true" type="tns:BENavidadConsultora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBENavidadConsultora" nillable="true" type="tns:ArrayOfBENavidadConsultora" />
  <xs:complexType name="ArrayOfBEItemCarruselInicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEItemCarruselInicio" nillable="true" type="tns:BEItemCarruselInicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEItemCarruselInicio" nillable="true" type="tns:ArrayOfBEItemCarruselInicio" />
  <xs:complexType name="BEItemCarruselInicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsVideo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemCarruselInicioID" type="xs:int" />
      <xs:element minOccurs="0" name="NombreItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="TextoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextoDescripcion2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextoLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagenPrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagenTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlLinkPrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlLinkPrincipalExterno" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEItemCarruselInicio" nillable="true" type="tns:BEItemCarruselInicio" />
  <xs:complexType name="ArrayOfBEPlantillasMailing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPlantillasMailing" nillable="true" type="tns:BEPlantillasMailing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPlantillasMailing" nillable="true" type="tns:ArrayOfBEPlantillasMailing" />
  <xs:complexType name="BEPlantillasMailing">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disponibilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantillaDetalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantillaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPlantillasMailing" nillable="true" type="tns:BEPlantillasMailing" />
  <xs:complexType name="ArrayOfBEMailing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMailing" nillable="true" type="tns:BEMailing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMailing" nillable="true" type="tns:ArrayOfBEMailing" />
  <xs:complexType name="BEMailing">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PlantillaDetalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantillaID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMailing" nillable="true" type="tns:BEMailing" />
  <xs:complexType name="ArrayOfBEConsultoraMailing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultoraMailing" nillable="true" type="tns:BEConsultoraMailing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultoraMailing" nillable="true" type="tns:ArrayOfBEConsultoraMailing" />
  <xs:complexType name="BEConsultoraMailing">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plantilla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantillaID" type="xs:int" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="SeccionID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraMailing" nillable="true" type="tns:BEConsultoraMailing" />
</xs:schema>