app/Portal.Consultoras.Web/Service References/ServiceContenido/ContenidoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ContenidoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" />
  <xs:import schemaLocation="http://localhost:41615/ContenidoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SelectBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectBannerResult" nillable="true" type="q1:ArrayOfBEBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBannerByConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consultoraNueva" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBannerByConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectBannerByConsultoraResult" nillable="true" type="q2:ArrayOfBEBannerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdOrdenNumberBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="lstBanners" nillable="true" type="q3:ArrayOfBEBannerOrden" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdOrdenNumberBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdOrdenNumberBannerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGrupoBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGrupoBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectGrupoBannerResult" nillable="true" type="q4:ArrayOfBEGrupoBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="banner" nillable="true" type="q5:BEBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBannerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveListBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="listBanner" nillable="true" type="q6:ArrayOfBEBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveListBannerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaveListBannerResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisBannerMarquesina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaniaID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdBanner" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisBannerMarquesinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPaisBannerMarquesinaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGrupoBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="grupoBanner" nillable="true" type="q8:BEGrupoBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGrupoBannerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="bannerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBannerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametrosBanners">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametrosBannersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetParametrosBannersResult" nillable="true" type="q9:ArrayOfBEParametro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBannerByConsultoraBienvenida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="consultoraNueva" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBannerByConsultoraBienvenidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectBannerByConsultoraBienvenidaResult" nillable="true" type="q10:ArrayOfBEBannerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFormularioDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="formularioDato" nillable="true" type="q11:BEFormularioDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFormularioDatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFormularioDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="formularioDato" nillable="true" type="q12:BEFormularioDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFormularioDatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormularioDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="tipoFormulario" type="q13:ETipoFormulario" />
        <xs:element minOccurs="0" name="formularioDatoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormularioDatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFormularioDatoByPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="tipoFormulario" type="q14:ETipoFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFormularioDatoByPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectFormularioDatoByPaisResult" nillable="true" type="q15:ArrayOfBEFormularioDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFormularioDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="tipoFormulario" type="q16:ETipoFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFormularioDatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectFormularioDatoResult" nillable="true" type="q17:BEFormularioDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoWebAcumulado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoWebAcumuladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPedidoWebAcumuladoResult" nillable="true" type="q18:ArrayOfBEResumenCampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMontoDeuda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="consultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revisarHana" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMontoDeudaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMontoDeudaResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaldoPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaldoPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetSaldoPendienteResult" nillable="true" type="q19:ArrayOfBEResumenCampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosSolicitados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductosSolicitadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetProductosSolicitadosResult" nillable="true" type="q20:ArrayOfBEResumenCampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValorAPagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValorAPagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetValorAPagarResult" nillable="true" type="q21:ArrayOfBEResumenCampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlexipago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlexipagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetFlexipagoResult" nillable="true" type="q22:ArrayOfBEResumenCampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeudaTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeudaTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetDeudaTotalResult" nillable="true" type="q23:ArrayOfBEResumenCampania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsContenidoDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="contenidodato" nillable="true" type="q24:BEContenidoDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsContenidoDatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdContenidoDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="contenidodato" nillable="true" type="q25:BEContenidoDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdContenidoDatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContenidoDato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="campaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectContenidoDatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SelectContenidoDatoResult" nillable="true" type="q26:ArrayOfBEContenidoDato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksPorPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinksPorPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetLinksPorPaisResult" nillable="true" type="q27:ArrayOfBETipoLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguracionPayPal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguracionPayPalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetConfiguracionPayPalResult" nillable="true" type="q28:ArrayOfBEPayPalConfiguracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDatosPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="chrCodigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chrCodigoTerritorio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="montoAbono" type="xs:decimal" />
        <xs:element minOccurs="0" name="chrNumeroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datFechaTransaccion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsDatosPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsDatosPagoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsAbonoPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="chrCodigoPais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chrCodigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mnyMontoAbono" type="xs:decimal" />
        <xs:element minOccurs="0" name="chrCodigoAutorizacionBanco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chrCodigoTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chrResultado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsAbonoPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsAbonoPagoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePagoPendiente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="mnyMontoAbono" type="xs:decimal" />
        <xs:element minOccurs="0" name="chrNumeroTarjeta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datFecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePagoPendienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistePagoPendienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteAbonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="chrCodigoPais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="chrCodigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intDia" type="xs:int" />
        <xs:element minOccurs="0" name="intMes" type="xs:int" />
        <xs:element minOccurs="0" name="intAnho" type="xs:int" />
        <xs:element minOccurs="0" name="chrRETCodigoTransaccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteAbonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetReporteAbonosResult" nillable="true" type="q29:ArrayOfBEPayPalConfiguracion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaPaypal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEjecucion" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DescargaPaypalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DescargaPaypalResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearContenidoRevista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="nroCampania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rutaImagenPortada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearContenidoRevistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearContenidoRevistaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContenidoRevista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="rutaImagenPortada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarContenidoRevistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarContenidoRevistaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContenidoRevista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContenidoRevistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarContenidoRevistaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoRevistaCampania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="campania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoRevistaCampaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="ObtenerContenidoRevistaCampaniaResult" nillable="true" type="q31:BEContenidoRevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoRevistaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerContenidoRevistaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="ObtenerContenidoRevistaIdResult" nillable="true" type="q32:BEContenidoRevista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContenidoRevistaPaginado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="campania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContenidoRevistaPaginadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="ContenidoRevistaPaginadoResult" nillable="true" type="q33:ArrayOfBEContenidoRevista" />
        <xs:element minOccurs="0" name="totalRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBelcorpResponde">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBelcorpRespondeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetBelcorpRespondeResult" nillable="true" type="q34:ArrayOfBEBelcorpResponde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBelcorpRespondeAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBelcorpRespondeAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetBelcorpRespondeAdministradorResult" nillable="true" type="q35:ArrayOfBEBelcorpResponde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsBelcorpResponde">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="BEBelcorpResponde" nillable="true" type="q36:BEBelcorpResponde" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsBelcorpRespondeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBelcorpRespondeCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBelcorpRespondeCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannerSegmentoSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="BannerId" type="xs:int" />
        <xs:element minOccurs="0" name="PaisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannerSegmentoSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetBannerSegmentoSeccionResult" nillable="true" type="q37:BEBannerSegmentoZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannerPaisesAsignados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
        <xs:element minOccurs="0" name="BannerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannerPaisesAsignadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetBannerPaisesAsignadosResult" nillable="true" type="q38:ArrayOfBEBannerSegmentoZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdBannerPaisSegmentoZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="segmentoZona" nillable="true" type="q39:BEBannerSegmentoZona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdBannerPaisSegmentoZonaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCacheBanner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCacheBannerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPaqueteDocumentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campania" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPaqueteDocumentarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoPaqueteDocumentarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarInvitacionPaqueteDocumentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarInvitacionPaqueteDocumentarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarInvitacionPaqueteDocumentarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaqueteDocumentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaqueteDocumentarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPaqueteDocumentarioResult" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNavidadConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q41:BENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNavidadConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarNavidadConsultoraResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarNavidadConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q42:BENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarNavidadConsultoraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarNavidadConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q43:BENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarNavidadConsultoraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNavidadConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q44:BENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarNavidadConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="BuscarNavidadConsultoraResult" nillable="true" type="q45:ArrayOfBENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarNavidadConsultora">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="entidad" nillable="true" type="q46:BENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarNavidadConsultoraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="SeleccionarNavidadConsultoraResult" nillable="true" type="q47:ArrayOfBENavidadConsultora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiderCampaniaActual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="CodigoPais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLiderCampaniaActualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLiderCampaniaActualResult" nillable="true" type="q48:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProyectaNivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProyectaNivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProyectaNivelResult" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosSuperateLider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
        <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
        <xs:element minOccurs="0" name="CampaniaVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosSuperateLiderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerParametrosSuperateLiderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemCarruselInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemCarruselInicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetItemCarruselInicioResult" nillable="true" type="q50:ArrayOfBEItemCarruselInicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlantillasEmailingSE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlantillasEmailingSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="ObtenerPlantillasEmailingSEResult" nillable="true" type="q51:ArrayOfBEPlantillasMailing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPaisesPlantillaEmailing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plantillaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarPaisesPlantillaEmailingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="CargarPaisesPlantillaEmailingResult" nillable="true" type="q52:ArrayOfBEMailing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarContenidoEmailingSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="BEMailing" nillable="true" type="q53:BEMailing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarContenidoEmailingSEResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPaisPlantillaEmailingSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="PlantillaID" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPaisPlantillaEmailingSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarPaisPlantillaEmailingSEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarPaisPlantillaEmailingSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="PlantillaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarPaisPlantillaEmailingSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuitarPaisPlantillaEmailingSEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopiarPaisPlantillaEmailingSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element minOccurs="0" name="PlantillaID" type="xs:int" />
        <xs:element minOccurs="0" name="PaisDestinoID" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopiarPaisPlantillaEmailingSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopiarPaisPlantillaEmailingSEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CondicionesConsultoraSE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CondicionesConsultoraSEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="CondicionesConsultoraSEResult" nillable="true" type="q54:ArrayOfBEConsultoraMailing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogEnvioAutomatico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="BEConsultora" nillable="true" type="q55:BEConsultoraMailing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarLogEnvioAutomaticoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisZonaHoraria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaisZonaHorariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPaisZonaHorariaResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantillasPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantillasPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" minOccurs="0" name="GetPlantillasPaisResult" nillable="true" type="q56:ArrayOfBEPlantillasMailing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCorreoEmisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCorreoEmisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCorreoEmisorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>