app/Portal.Consultoras.Web/Service References/ServiceContenido/ContenidoService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Comunicado" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Comunicado" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEComunicadoVista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEComunicadoVista" nillable="true" type="tns:BEComunicadoVista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEComunicadoVista" nillable="true" type="tns:ArrayOfBEComunicadoVista" />
  <xs:complexType name="BEComunicadoVista">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComunicadoId" type="xs:long" />
      <xs:element minOccurs="0" name="ComunicadoVistaId" type="xs:long" />
      <xs:element minOccurs="0" name="NombreControlador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreVista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEComunicadoVista" nillable="true" type="tns:BEComunicadoVista" />
</xs:schema>