app/Portal.Consultoras.Web/Service References/WsFuncionesSoap/WsFunciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerMatrizProl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="campana" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerMatrizProlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerMatrizProlResult" type="tns:SetDatos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetDatos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="data">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerMatrizProlSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerMatrizProl" />
  </wsdl:message>
  <wsdl:message name="ObtenerMatrizProlSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerMatrizProlResponse" />
  </wsdl:message>
  <wsdl:portType name="WsFuncionesSoap">
    <wsdl:operation name="ObtenerMatrizProl">
      <wsdl:input message="tns:ObtenerMatrizProlSoapIn" />
      <wsdl:output message="tns:ObtenerMatrizProlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsFuncionesSoap" type="tns:WsFuncionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerMatrizProl">
      <soap:operation soapAction="http://tempuri.org/ObtenerMatrizProl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsFuncionesSoap12" type="tns:WsFuncionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerMatrizProl">
      <soap12:operation soapAction="http://tempuri.org/ObtenerMatrizProl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsFunciones">
    <wsdl:port name="WsFuncionesSoap" binding="tns:WsFuncionesSoap">
      <soap:address location="http://10.12.3.129/wsProlMetodo/WsFunciones.asmx" />
    </wsdl:port>
    <wsdl:port name="WsFuncionesSoap12" binding="tns:WsFuncionesSoap12">
      <soap12:address location="http://10.12.3.129/wsProlMetodo/WsFunciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>