app/Portal.Consultoras.Web/Service References/ServicioGenerarLideres/WS_GenerarLideres.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerarLideres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isoPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaProceso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarLideresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerarLideresResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarLideresSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarLideres" />
  </wsdl:message>
  <wsdl:message name="GenerarLideresSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarLideresResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_GenerarLideresSoap">
    <wsdl:operation name="GenerarLideres">
      <wsdl:input message="tns:GenerarLideresSoapIn" />
      <wsdl:output message="tns:GenerarLideresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_GenerarLideresSoap" type="tns:WS_GenerarLideresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarLideres">
      <soap:operation soapAction="http://tempuri.org/GenerarLideres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_GenerarLideresSoap12" type="tns:WS_GenerarLideresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarLideres">
      <soap12:operation soapAction="http://tempuri.org/GenerarLideres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_GenerarLideres">
    <wsdl:port name="WS_GenerarLideresSoap" binding="tns:WS_GenerarLideresSoap">
      <soap:address location="http://superate2qa.somosbelcorp.com/WS_GenerarLideres.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_GenerarLideresSoap12" binding="tns:WS_GenerarLideresSoap12">
      <soap12:address location="http://superate2qa.somosbelcorp.com/WS_GenerarLideres.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>