app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCFPPR/PortalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCFPPR/PortalService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" />
  <xs:complexType name="ParametroUneteCollection">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="ParametroUneteBE" nillable="true" type="q1:ParametroUneteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroUneteCollection" nillable="true" type="tns:ParametroUneteCollection" />
  <xs:complexType name="TablaLogicaDatosCollection">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" maxOccurs="unbounded" name="TablaLogicaDatos" nillable="true" type="q2:TablaLogicaDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TablaLogicaDatosCollection" nillable="true" type="tns:TablaLogicaDatosCollection" />
  <xs:complexType name="RegionCollection">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="RegionBE" nillable="true" type="q3:RegionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionCollection" nillable="true" type="tns:RegionCollection" />
  <xs:complexType name="ZonaCollection">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="ZonaBE" nillable="true" type="q4:ZonaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZonaCollection" nillable="true" type="tns:ZonaCollection" />
  <xs:complexType name="SeccionCollection">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="SeccionBE" nillable="true" type="q5:SeccionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeccionCollection" nillable="true" type="tns:SeccionCollection" />
  <xs:complexType name="TerritorioCollection">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="TerritorioBE" nillable="true" type="q6:TerritorioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerritorioCollection" nillable="true" type="tns:TerritorioCollection" />
  <xs:complexType name="SolicitudPostulanteCollection">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="SolicitudPostulanteBE" nillable="true" type="q7:SolicitudPostulanteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudPostulanteCollection" nillable="true" type="tns:SolicitudPostulanteCollection" />
  <xs:complexType name="ReporteConsolidadoCollection">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="ReporteConsolidadoBE" nillable="true" type="q8:ReporteConsolidadoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteConsolidadoCollection" nillable="true" type="tns:ReporteConsolidadoCollection" />
  <xs:complexType name="UbigeoCRCollection">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="UbigeoCR_BE" nillable="true" type="q9:UbigeoCR_BE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbigeoCRCollection" nillable="true" type="tns:UbigeoCRCollection" />
  <xs:complexType name="UbigeoTemplateCollection">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" maxOccurs="unbounded" name="UbigeoTemplate" nillable="true" type="q10:UbigeoTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UbigeoTemplateCollection" nillable="true" type="tns:UbigeoTemplateCollection" />
  <xs:complexType name="EventoSolicitudPostulanteCollection">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="EventoSolicitudPostulanteBE" nillable="true" type="q11:EventoSolicitudPostulanteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventoSolicitudPostulanteCollection" nillable="true" type="tns:EventoSolicitudPostulanteCollection" />
  <xs:complexType name="PosiblesConsultorasPendientesVisitaCollection">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="PosiblesConsultorasPendientesVisitaBE" nillable="true" type="q12:PosiblesConsultorasPendientesVisitaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PosiblesConsultorasPendientesVisitaCollection" nillable="true" type="tns:PosiblesConsultorasPendientesVisitaCollection" />
  <xs:complexType name="ResumenDiasEsperaCollection">
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" maxOccurs="unbounded" name="ResumenDiasEsperaBE" nillable="true" type="q13:ResumenDiasEsperaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResumenDiasEsperaCollection" nillable="true" type="tns:ResumenDiasEsperaCollection" />
  <xs:complexType name="StringCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringCollection" nillable="true" type="tns:StringCollection" />
</xs:schema>