app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais.MercadoPago" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais.MercadoPago" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="api_version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="application_id" type="xs:int" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:Data" />
      <xs:element minOccurs="0" name="date_created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="live_mode" type="xs:boolean" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
</xs:schema>