app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
  <xs:complexType name="SolicitudPostulanteParameter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="Aplicacion" type="q1:Enums.Aplicacion" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="EstadoGeo" nillable="true" type="q2:Enums.EstadoGEO" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="EstadoPostulante" type="q3:Enums.EstadoPostulante" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FuenteIngreso" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="GrupoEstadoPostulante" nillable="true" type="q4:Enums.GrupoEstadoPostulante" />
      <xs:element minOccurs="0" name="IndicadorActivo" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NombreProspecto" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="TipoEstadoTelefonico" nillable="true" type="q5:Enums.TipoEstadoTelefonico" />
      <xs:element minOccurs="0" name="UsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidarFuenteIngreso" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudPostulanteParameter" nillable="true" type="tns:SolicitudPostulanteParameter" />
  <xs:complexType name="ReporteConsolidadoParameter">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="Aplicacion" type="q6:Enums.Aplicacion" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteConsolidadoParameter" nillable="true" type="tns:ReporteConsolidadoParameter" />
</xs:schema>