app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
  <xs:complexType name="SolicitudPostulanteParameter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="Aplicacion" type="q1:Enums.Aplicacion" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="EstadoPostulante" type="q2:Enums.EstadoPostulante" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreProspecto" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="TipoEstadoTelefonico" nillable="true" type="q3:Enums.TipoEstadoTelefonico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudPostulanteParameter" nillable="true" type="tns:SolicitudPostulanteParameter" />
</xs:schema>