app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais.MercadoPago" />
  <xs:import schemaLocation="http://internal-qaselb-portalffvvservicios-1152760669.us-east-1.elb.amazonaws.com/UneteWCF/PortalService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE.MercadoPago" />
  <xs:element name="ObtenerParametrosUnete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="idTipoParametro" type="q1:Enums.TipoParametro" />
        <xs:element minOccurs="0" name="idTipoParametroUnetePadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosUneteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerParametrosUneteResult" nillable="true" type="q2:ParametroUneteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosUneteFinal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="parametroUneteBE" nillable="true" type="q3:ParametroUneteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametrosUneteFinalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerParametrosUneteFinalResult" nillable="true" type="q4:ParametroUneteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoParametrosUnete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="tipoParametroUneteBE" nillable="true" type="q5:TipoParametroUneteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoParametrosUneteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerTipoParametrosUneteResult" nillable="true" type="q6:TipoParametroUneteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaLogicaDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="tablaLogigaID" type="q7:Enums.TablaLogicaID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTablaLogicaDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerTablaLogicaDatosResult" nillable="true" type="q8:TablaLogicaDatosCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegiones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerRegionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerRegionesResult" nillable="true" type="q9:RegionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerZonas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerZonasResult" nillable="true" type="q10:ZonaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSecciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
        <xs:element minOccurs="0" name="zonaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSeccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerSeccionesResult" nillable="true" type="q11:SeccionCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTerritorios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionID" type="xs:int" />
        <xs:element minOccurs="0" name="zonaID" type="xs:int" />
        <xs:element minOccurs="0" name="seccionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTerritoriosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerTerritoriosResult" nillable="true" type="q12:TerritorioCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCantidadSolicitudesPostulantePorEstadoEnPortalGZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" minOccurs="0" name="parameter" nillable="true" type="q13:SolicitudPostulanteParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCantidadSolicitudesPostulantePorEstadoEnPortalGZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerCantidadSolicitudesPostulantePorEstadoEnPortalGZResult" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q15:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSolicitudPostulantePasoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePaso5Pasos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q16:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePaso5PasosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSolicitudPostulantePaso5PasosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitudPostulanteMexico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostulanteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSolicitudPostulanteMexicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarSolicitudPostulanteMexicoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePasoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulanteList" nillable="true" type="q17:ArrayOfSolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePasoListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePasoList5Pasos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulanteList" nillable="true" type="q18:ArrayOfSolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulantePasoList5PasosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q19:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSolicitudPostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulanteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulanteList" nillable="true" type="q20:ArrayOfSolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPostulanteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSolicitudPostulanteListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="idTipoParametro" type="q21:Enums.TipoParametro" />
        <xs:element minOccurs="0" name="valor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q22:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulanteSAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q23:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulanteSACResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarImagenesSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q24:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarImagenesSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="aplicacion" type="q25:Enums.Aplicacion" />
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSeccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaDesde" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaHasta" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nombreProspecto" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="estadoPostulante" type="q26:Enums.EstadoPostulante" />
        <xs:element minOccurs="0" name="documentoIdentidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerSolicitudesPostulanteResult" nillable="true" type="q27:SolicitudPostulanteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteConsolidado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" minOccurs="0" name="parameter" nillable="true" type="q28:ReporteConsolidadoParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteConsolidadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerReporteConsolidadoResult" nillable="true" type="q29:ReporteConsolidadoCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulanteV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" minOccurs="0" name="parameter" nillable="true" type="q30:SolicitudPostulanteParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulanteV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerSolicitudesPostulanteV2Result" nillable="true" type="q31:SolicitudPostulanteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulante5PasosV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" minOccurs="0" name="parameter" nillable="true" type="q32:SolicitudPostulanteParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulante5PasosV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerSolicitudesPostulante5PasosV2Result" nillable="true" type="q33:SolicitudPostulanteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulanteV3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" minOccurs="0" name="parameter" nillable="true" type="q34:SolicitudPostulanteParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulanteV3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerSolicitudesPostulanteV3Result" nillable="true" type="q35:SolicitudPostulanteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulantePorBusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valorBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuarioCreacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesPostulantePorBusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerSolicitudesPostulantePorBusquedaResult" nillable="true" type="q36:SolicitudPostulanteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCantidadNuevasSolicitudesPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="aplicacion" type="q37:Enums.Aplicacion" />
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSeccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCantidadNuevasSolicitudesPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerCantidadNuevasSolicitudesPostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulanteALeidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="aplicacion" type="q38:Enums.Aplicacion" />
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoSeccion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPostulanteALeidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSolicitudPostulanteALeidasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ObtenerSolicitudPostulanteResult" nillable="true" type="q39:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteByNumeroDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteByNumeroDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ObtenerSolicitudPostulanteByNumeroDocumentoResult" nillable="true" type="q40:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulantePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulantePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ObtenerSolicitudPostulantePorIdResult" nillable="true" type="q41:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteApta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteAptaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerSolicitudPostulanteAptaResult" nillable="true" type="q42:SolicitudPostulanteAptaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteAptaByDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulanteAptaByDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerSolicitudPostulanteAptaByDocResult" nillable="true" type="q43:SolicitudPostulanteAptaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteRechazoZonificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
        <xs:element minOccurs="0" name="estadoPostulante" type="xs:int" />
        <xs:element minOccurs="0" name="estadoGEO" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteRechazoZonificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoPostulanteRechazoZonificacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteRechazoZonificacionMotivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
        <xs:element minOccurs="0" name="estadoPostulante" type="xs:int" />
        <xs:element minOccurs="0" name="estadoGEO" type="xs:int" />
        <xs:element minOccurs="0" name="tipoRechazo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivoRechazo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subEstadoPostulante" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteRechazoZonificacionMotivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoPostulanteRechazoZonificacionMotivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
        <xs:element minOccurs="0" name="estadoPostulante" type="xs:int" />
        <xs:element minOccurs="0" name="subEstadoPostulante" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="tipoRechazo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="motivoRechazo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoPostulanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverSolicitudSAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q44:SolicitudPostulante" />
        <xs:element minOccurs="0" name="ObservacionEvento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverSolicitudSACResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNivelesRiesgo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ParametroUneteList" nillable="true" type="q45:ArrayOfParametroUnete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNivelesRiesgoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNivelesGeograficos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ubigeoCRList" nillable="true" type="q46:ArrayOfUbigeoCR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNivelesGeograficosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNivelesGeograficosGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ubigeoList" nillable="true" type="q47:ArrayOfUbigeoTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarNivelesGeograficosGeneralResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNivelesGeograficosCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNivelesGeograficosCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerListaNivelesGeograficosCRResult" nillable="true" type="q48:UbigeoCRCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNivelesGeograficosGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNivelesGeograficosGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerListaNivelesGeograficosGeneralResult" nillable="true" type="q49:UbigeoTemplateCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventosSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEventosSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerEventosSolicitudPostulanteResult" nillable="true" type="q50:EventoSolicitudPostulanteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulantePorCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPostulantePorCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerSolicitudPostulantePorCorreoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExisteCelular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCelular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarExisteCelularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="VerificarExisteCelularResult" nillable="true" type="q51:ExisteCelularBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCelularExisteConId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SolicitudPostulanteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCelularExisteConIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ValidarCelularExisteConIdResult" nillable="true" type="q52:ExisteCelularBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteFuenteIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaniaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaniaFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteFuenteIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetReporteFuenteIngresoResult" nillable="true" type="q53:ArrayOfReporteFuenteIngreso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObservacionDevolucionPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudpostulanteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerObservacionDevolucionPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerObservacionDevolucionPostulanteResult" nillable="true" type="q54:EventoSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPrePostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPrePostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ObtenerSolicitudPrePostulanteResult" nillable="true" type="q55:SolicitudPrePostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPrePostulantePorDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPrePostulantePorDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ObtenerSolicitudPrePostulantePorDocumentoResult" nillable="true" type="q56:SolicitudPrePostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPrePostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPrePostulante" nillable="true" type="q57:SolicitudPrePostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSolicitudPrePostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSolicitudPrePostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPosiblesConsultorasPendientesVisita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BC.Parameter" minOccurs="0" name="parameter" nillable="true" type="q58:SolicitudPostulanteParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPosiblesConsultorasPendientesVisitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerPosiblesConsultorasPendientesVisitaResult" nillable="true" type="q59:PosiblesConsultorasPendientesVisitaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResumenDiasEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SolicitudPostulanteId" type="xs:int" />
        <xs:element minOccurs="0" name="DiasEspera" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResumenDiasEsperaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerResumenDiasEsperaResult" nillable="true" type="q60:ResumenDiasEsperaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteDiasEspera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="lista" nillable="true" type="q61:ArrayOfResumenDiasEsperaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteDiasEsperaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerReporteDiasEsperaResult" nillable="true" type="q62:ResumenDiasEsperaCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPagodeKitLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameter" nillable="true" type="q63:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPagodeKitLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarPagodeKitLogResult" nillable="true" type="q64:ArrayOfReportePagoDeKitLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarTipoPostulanteResult" nillable="true" type="q65:ArrayOfSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesPostulanteV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q66:GestionaPostulanteModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudesPostulanteV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="ConsultarSolicitudesPostulanteV2Result" nillable="true" type="q67:paginacionGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteGestionPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrefijoISOPais" type="xs:int" />
        <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" type="xs:int" />
        <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FuenteIngreso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaginaActual" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PDigital" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="PTradicional" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="MostrarPaso1y2SE" type="xs:int" />
        <xs:element minOccurs="0" name="TipoPago" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteGestionPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerReporteGestionPostulanteResult" nillable="true" type="q68:ArrayOfSolicitudPostulanteXLS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteFuenteIngreso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteFuenteIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryReporteFuenteIngresoResult" nillable="true" type="q69:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteGestionPostulantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteGestionPostulantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryReporteGestionPostulantesResult" nillable="true" type="q70:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteConsolidado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteConsolidadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryReporteConsolidadoResult" nillable="true" type="q71:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteFunnel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteFunnelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryReporteFunnelResult" nillable="true" type="q72:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteZonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictionaryReporteZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDictionaryReporteZonasResult" nillable="true" type="q73:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteConsolidadoFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q74:ReporteConsolidadoModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReporteConsolidadoFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ObtenerReporteConsolidadoFiltroResult" nillable="true" type="q75:ArrayOfReporteConsolidadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarReporteConsolidado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q76:ReporteConsolidadoModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarReporteConsolidadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarReporteConsolidadoResult" nillable="true" type="q77:ReporteConsolidadoPag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNivelesGeograficos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q78:NivelesGeograficosModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNivelesGeograficosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarNivelesGeograficosResult" nillable="true" type="q79:ReporteConsolidadoPag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNivelesRiesgo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q80:NivelesRiesgoModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarNivelesRiesgoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarNivelesRiesgoResult" nillable="true" type="q81:ReporteConsolidadoPag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarZonaValidacionTelefonica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ParametroUneteList" nillable="true" type="q82:ArrayOfParametroUnete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarZonaValidacionTelefonicaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarZonaValidacionTelefonica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q83:ZonaValidacionTelefonicaModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarZonaValidacionTelefonicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarZonaValidacionTelefonicaResult" nillable="true" type="q84:ReporteConsolidadoPag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteFunnel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CampaniaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaniaFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteFunnelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetReporteFunnelResult" nillable="true" type="q85:ArrayOfReporteFunnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetRolesResult" nillable="true" type="q86:ArrayOfRolLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosPorRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RolId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosPorRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetUsuariosPorRolResult" nillable="true" type="q87:ArrayOfUsuarioRolLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDistanciaLimiteZonaSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ParametroUneteList" nillable="true" type="q88:ArrayOfParametroUnete" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarDistanciaLimiteZonaSeccionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDistanciaLimiteZonaSeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q89:DistanciaLimiteZonaSeccionModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarDistanciaLimiteZonaSeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ConsultarDistanciaLimiteZonaSeccionResult" nillable="true" type="q90:ReporteConsolidadoPag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLogDetalleParametroUnete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.Utils" minOccurs="0" name="idTipoParametro" type="q91:Enums.TipoParametro" />
        <xs:element minOccurs="0" name="idTipoParametroUnetePadre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLogDetalleParametroUneteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="ObtenerLogDetalleParametroUneteResult" nillable="true" type="q92:LogDetalleParametroUneteCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoVerificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="entidad" nillable="true" type="q93:CodigoVerificacionSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoVerificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="EnviarCodigoVerificacionResult" nillable="true" type="q94:CodigoVerificacionSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoVerificacionTelefonica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="entidad" nillable="true" type="q95:ValidacionTelefonicaSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCodigoVerificacionTelefonicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="EnviarCodigoVerificacionTelefonicaResult" nillable="true" type="q96:ValidacionTelefonicaSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSmsFelicitacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSmsFelicitacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="EnviarSmsFelicitacionResult" nillable="true" type="q97:CodigoVerificacionSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoVerificacionSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="model" nillable="true" type="q98:CodigoVerificacionSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoVerificacionSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCodigoVerificacionSolicitudPostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDescripcionErrorGenerandoCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDescripcionErrorGenerandoCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDescripcionErrorGenerandoCodigoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasNoDigitales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasNoDigitalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="GetZonasNoDigitalesResult" nillable="true" type="q99:StringCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEnvioCorreoSmsSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="model" nillable="true" type="q100:RegistroEnvioCorreoSmsSolicitudPostulanteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarEnvioCorreoSmsSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarEnvioCorreoSmsSolicitudPostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEventoSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="evento" nillable="true" type="q101:EventoSolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEventoSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarDocumentoExcepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabarDocumentoExcepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrabarDocumentoExcepcionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoExcepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarDocumentoExcepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarDocumentoExcepcionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numerocelular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoElectronico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoconsultora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroanterior" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoanterior" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarContraseniaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReferenciaEntregaSAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPostulante" nillable="true" type="q102:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReferenciaEntregaSACResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoPostulanteActual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoPostulanteActualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEstadoPostulanteActualResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagenesWhatsApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jwtToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagenesWhatsAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImagenesWhatsAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseWhatsApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jwtToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseWhatsAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="ResponseWhatsAppResult" nillable="true" type="q103:ResponseBotmaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosPagoEfectivoWhatsapp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosPagoEfectivoWhatsappResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetDatosPagoEfectivoWhatsappResult" nillable="true" type="q104:PagoDeKitLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
        <xs:element minOccurs="0" name="CampaniaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetKitInicioResult" nillable="true" type="q105:KitInicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarPagoKitInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="postulante" nillable="true" type="q106:SolicitudPostulante" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="model" nillable="true" type="q107:PagoKitInicioBE" />
        <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesarPagoKitInicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ProcesarPagoKitInicioResult" nillable="true" type="q108:MercadoPagoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarPagoEfectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PagoDeKitLogId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarPagoEfectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarPagoEfectivoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPagoEfectivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SolicitudPostulanteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPagoEfectivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarPagoEfectivoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais.MercadoPago" minOccurs="0" name="notification" nillable="true" type="q109:Notification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmarTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmarTransaccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarTransaccionMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE.MercadoPago" minOccurs="0" name="lstCancelar" nillable="true" type="q110:ArrayOfCancelarKitBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarTransaccionMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarTransaccionMPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KitInicioTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetKitInicioDetalleResult" nillable="true" type="q111:ArrayOfKitInicioDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFechaPrimerPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CampaniaId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFechaPrimerPedidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="GetFechaPrimerPedidoResult" nillable="true" type="q112:CampaniaFelicitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageKitInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SolicitudPostulanteID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageKitInicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageKitInicioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasDigitales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZonasDigitalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.SI.ServiceContract.Collections" minOccurs="0" name="GetZonasDigitalesResult" nillable="true" type="q113:StringCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoVerificacionTelefonica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteID" type="xs:int" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pin" type="xs:int" />
        <xs:element minOccurs="0" name="fuente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoVerificacionTelefonicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCodigoVerificacionTelefonicaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarZonaDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seccionZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarZonaDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarZonaDigitalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioCorreoValidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioCorreoValidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnvioCorreoValidacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campanha" type="xs:int" />
        <xs:element minOccurs="0" name="kit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="GetKitInicioEditResult" nillable="true" type="q114:KitInicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioCatalogosEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="campanha" type="xs:int" />
        <xs:element minOccurs="0" name="esBasico" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKitInicioCatalogosEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="GetKitInicioCatalogosEditResult" nillable="true" type="q115:KitInicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKitInicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="kit" nillable="true" type="q116:KitInicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKitInicioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKitInicioCatalogos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="kit" nillable="true" type="q117:KitInicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKitInicioCatalogosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCampoFormularioSimplificadoSolicitudPrepostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Campo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCampoFormularioSimplificadoSolicitudPrepostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCampoFormularioSimplificadoSolicitudPrepostulanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSolicitantePrePostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.BL.BE" minOccurs="0" name="formularioSimplificado" nillable="true" type="q118:FormularioSimplificadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSolicitantePrePostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarSolicitantePrePostulanteResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudPrePostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="model" nillable="true" type="q119:GestionaPrePostulanteModelSAC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSolicitudPrePostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" minOccurs="0" name="ConsultarSolicitudPrePostulanteResult" nillable="true" type="q120:paginacionGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPrePostulantexID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identificadorPrePostulante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudPrePostulantexIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ObtenerSolicitudPrePostulantexIDResult" nillable="true" type="q121:SolicitudPrePostulanteFS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPrePostulanteSAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPrePostulante" nillable="true" type="q122:SolicitudPrePostulanteFS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPrePostulanteSACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSolicitudPrePostulanteSACResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteRechazoFraudeDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitudPostulanteId" type="xs:long" />
        <xs:element minOccurs="0" name="estadoPostulante" type="xs:int" />
        <xs:element minOccurs="0" name="motivoRechazo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarEstadoPostulanteRechazoFraudeDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarEstadoPostulanteRechazoFraudeDireccionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudesPrePostulantes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="req" nillable="true" type="q123:SolicitudPrePostulanteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarSolicitudesPrePostulantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ListarSolicitudesPrePostulantesResult" nillable="true" type="q124:ArrayOfSolicitudPrePostulanteFS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitudPrePostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSolicitudPrePostulante" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechazarSolicitudPrePostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RechazarSolicitudPrePostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDireccionesCercanas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoIso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitud" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitud" type="xs:decimal" />
        <xs:element minOccurs="0" name="solicitudPostulanteId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarDireccionesCercanasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="ValidarDireccionesCercanasResult" nillable="true" type="q125:ArrayOfFraudeDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPrePostulanteFFVV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitudPrePostulante" nillable="true" type="q126:SolicitudPrePostulanteFS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSolicitudPrePostulanteFFVVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarSolicitudPrePostulanteFFVVResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSolicitudPostulante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoISO" nillable="true" type="xs:string" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.BelcorpPais" minOccurs="0" name="solicitud" nillable="true" type="q127:SolicitudPostulante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarSolicitudPostulanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarSolicitudPostulanteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>