app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GestionaPostulanteModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuenteIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuenteIngresoListAvailable" nillable="true" type="tns:ArrayOfFuenteIngresoModelSAC" />
      <xs:element minOccurs="0" name="MostrarPaso1y2SE" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDigital" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PTradicional" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PrefijoISOPais" type="xs:int" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
      <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GestionaPostulanteModelSAC" nillable="true" type="tns:GestionaPostulanteModelSAC" />
  <xs:complexType name="ArrayOfFuenteIngresoModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuenteIngresoModelSAC" nillable="true" type="tns:FuenteIngresoModelSAC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuenteIngresoModelSAC" nillable="true" type="tns:ArrayOfFuenteIngresoModelSAC" />
  <xs:complexType name="FuenteIngresoModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuenteIngresoModelSAC" nillable="true" type="tns:FuenteIngresoModelSAC" />
  <xs:complexType name="paginacionGrid">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaginaDe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Registros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrosTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rows" nillable="true" type="tns:ArrayOfGestionPostulanteGridRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paginacionGrid" nillable="true" type="tns:paginacionGrid" />
  <xs:complexType name="ArrayOfGestionPostulanteGridRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GestionPostulanteGridRow" nillable="true" type="tns:GestionPostulanteGridRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGestionPostulanteGridRow" nillable="true" type="tns:ArrayOfGestionPostulanteGridRow" />
  <xs:complexType name="GestionPostulanteGridRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampanaCreacionCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampanaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampanaRegistro" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ClaseAdicionalFila" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClasePostulantesNuevasApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaseRechazoZonaSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiasEnEspera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiferenciaDias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoBuroCrediticioID" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoTelefonico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacionCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuenteIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconEvaluacionCrediticia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconEvaluacionTelefonica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconUbicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenComprobanteDomicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenConstanciaLaboralAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenCreditoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenDNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenPagare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenReciboOtraMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenReciboPagoAval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MyProperty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroRegistros" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumDiasAprobadoFFVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDiasRechazado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PintarMalaZonificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PopupRechazoZonaSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowConsultarUbicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDocs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowEnviarAFFVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowEvaliuacionTelefonica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowPendienteConfirmacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowRFC" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowReactivar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitudPostulanteID" type="xs:int" />
      <xs:element minOccurs="0" name="TelefonoCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRechazo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoRechazoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TituloPostulantesNuevasApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlContentImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaOrigen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="campania1erPasePedido" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GestionPostulanteGridRow" nillable="true" type="tns:GestionPostulanteGridRow" />
  <xs:complexType name="ReporteConsolidadoModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrefijoISOPais" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
      <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteConsolidadoModelSAC" nillable="true" type="tns:ReporteConsolidadoModelSAC" />
  <xs:complexType name="NivelesGeograficosModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="BARRIO_COLONIA_URBANIZACION_ALDEA_REFERENCIAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BARRIO_COLONIA_URBANIZACION_BARRIADAS_REFERENCIAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BARRIO_COLONIA_URBANIZACION_REFERENCIAS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANTON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CANTON_CENTRO_POBLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRO_POBLADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREGIMIENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MUNICIPIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TERRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UBIGEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZONA_CIUDAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
      <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NivelesGeograficosModelSAC" nillable="true" type="tns:NivelesGeograficosModelSAC" />
  <xs:complexType name="NivelesRiesgoModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NivelRiesgo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
      <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NivelesRiesgoModelSAC" nillable="true" type="tns:NivelesRiesgoModelSAC" />
</xs:schema>