app/Portal.Consultoras.Web/Service References/ServiceUnete/PortalService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORP.BEL.Unete.DL.DataModel.SAC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReporteConsolidadoModelSAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDesde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHasta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrefijoISOPais" type="xs:int" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="page" type="xs:int" />
      <xs:element minOccurs="0" name="rows" type="xs:int" />
      <xs:element minOccurs="0" name="sidx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReporteConsolidadoModelSAC" nillable="true" type="tns:ReporteConsolidadoModelSAC" />
</xs:schema>