app/Portal.Consultoras.Web/Service References/ServiceODS/ODSService314.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.CaminoBrillante" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
  <xs:complexType name="BEValidacionCaminoBrillante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" minOccurs="0" name="Validacion" type="q1:Enumeradores.ValidacionCaminoBrillante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEValidacionCaminoBrillante" nillable="true" type="tns:BEValidacionCaminoBrillante" />
</xs:schema>