app/Portal.Consultoras.Web/Service References/ServiceODS/ODSService311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ProgramaNuevas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.ProgramaNuevas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
  <xs:complexType name="BERespValidarElectivos">
    <xs:sequence>
      <xs:element minOccurs="0" name="LimNumElectivos" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListCuvEliminar" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="NumElectivosEnPedido" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" minOccurs="0" name="Resultado" type="q2:Enumeradores.ValidarCuponesElectivos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BERespValidarElectivos" nillable="true" type="tns:BERespValidarElectivos" />
  <xs:complexType name="BEPremioNuevas">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveMonto" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActivePremioAuto" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActivePremioElectivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveTooltip" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveTooltipDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActiveTooltipMontoDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnoCampanaFin" type="xs:int" />
      <xs:element minOccurs="0" name="AnoCampanaIni" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilasPorPagina" type="xs:int" />
      <xs:element minOccurs="0" name="IdActivarPremioNuevas" type="xs:int" />
      <xs:element minOccurs="0" name="Ind_Cup_ElecDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nro" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroPagina" type="xs:int" />
      <xs:element minOccurs="0" name="OperacionResultado" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="SortColumna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalFilas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPremioNuevas" nillable="true" type="tns:BEPremioNuevas" />
  <xs:complexType name="ArrayOfBEPremioNuevas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPremioNuevas" nillable="true" type="tns:BEPremioNuevas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPremioNuevas" nillable="true" type="tns:ArrayOfBEPremioNuevas" />
</xs:schema>