app/Portal.Consultoras.Web/Service References/ServiceODS/ODSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" />
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" />
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Usuario" />
  <xs:import schemaLocation="http://localhost:41615/ODSService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" />
  <xs:complexType name="ArrayOfBEProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEProducto" nillable="true" type="tns:BEProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEProducto" nillable="true" type="tns:ArrayOfBEProducto" />
  <xs:complexType name="BEProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUVRevista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CatalogoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCatalogo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfiguracionOfertaID" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionEstrategia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsExpoOferta" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsOfertaIndependiente" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstaEnRevista" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstrategiaID" type="xs:int" />
      <xs:element minOccurs="0" name="EstrategiaIDSicc" type="xs:int" />
      <xs:element minOccurs="0" name="FlagNueva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenProductoSugerido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenProductoSugeridoMedium" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenProductoSugeridoSmall" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagenURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorOfertaCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarcaID" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeEstaEnRevista1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeEstaEnRevista2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeOfertaFinal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermiteAgregarPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="RestanteTippingPoint" type="xs:decimal" />
      <xs:element minOccurs="0" name="TextoBusqueda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneLanzamientoCatalogoPersonalizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneOfertaRevista" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneOfertasRelacionadas" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneSugerido" type="xs:int" />
      <xs:element minOccurs="0" name="TipoEstrategiaCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoEstrategiaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOfertaRevista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoOfertaSisID" type="xs:int" />
      <xs:element minOccurs="0" name="Tono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volumen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProducto" nillable="true" type="tns:BEProducto" />
  <xs:complexType name="ArrayOfBEProductoDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEProductoDescripcion" nillable="true" type="tns:BEProductoDescripcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEProductoDescripcion" nillable="true" type="tns:ArrayOfBEProductoDescripcion" />
  <xs:complexType name="BEProductoDescripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCatalogo" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoTipoOferta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FactorRepeticion" type="xs:int" />
      <xs:element minOccurs="0" name="IdMatrizComercial" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorActivo" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorDigitable" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorFaltanteAnunciado" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorMontoMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="RegaloDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegaloImagenUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SAP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProductoDescripcion" nillable="true" type="tns:BEProductoDescripcion" />
  <xs:complexType name="BEProductoBusqueda">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Criterio" type="xs:int" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPedido" type="xs:int" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="RowCount" type="xs:int" />
      <xs:element minOccurs="0" name="ValidarOpt" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProductoBusqueda" nillable="true" type="tns:BEProductoBusqueda" />
  <xs:complexType name="ArrayOfBEConsultoraCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultoraCodigo" nillable="true" type="tns:BEConsultoraCodigo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultoraCodigo" nillable="true" type="tns:ArrayOfBEConsultoraCodigo" />
  <xs:complexType name="BEConsultoraCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraCodigo" nillable="true" type="tns:BEConsultoraCodigo" />
  <xs:complexType name="ArrayOfBEConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultora" nillable="true" type="tns:BEConsultora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultora" nillable="true" type="tns:ArrayOfBEConsultora" />
  <xs:complexType name="BEConsultora">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnoCampanaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaPrimeraID" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoBloqueado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstatusCapacitacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoActividad" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoDatamart" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorPROL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorPasoPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="KitNueva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModificacionDatosBB" type="xs:boolean" />
      <xs:element minOccurs="0" name="MontoFlexipago" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoSaldoActual" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoUltimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="SeccionID" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentoID" type="xs:int" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritorioID" type="xs:int" />
      <xs:element minOccurs="0" name="UltimaCampanaFacturada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultora" nillable="true" type="tns:BEConsultora" />
  <xs:complexType name="ArrayOfBEComprobantePercepcion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEComprobantePercepcion" nillable="true" type="tns:BEComprobantePercepcion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEComprobantePercepcion" nillable="true" type="tns:ArrayOfBEComprobantePercepcion" />
  <xs:complexType name="BEComprobantePercepcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:int" />
      <xs:element minOccurs="0" name="DireccionAgentePerceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoActivo" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEmision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdComprobantePercepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IdNumeroAutorizacion" type="xs:long" />
      <xs:element minOccurs="0" name="ImportePercepcion" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreAgentePerceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprobanteCorrelativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroComprobanteSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroLote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="RUCAgentePerceptor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEComprobantePercepcion" nillable="true" type="tns:BEComprobantePercepcion" />
  <xs:complexType name="ArrayOfBEComprobantePercepcionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEComprobantePercepcionDetalle" nillable="true" type="tns:BEComprobantePercepcionDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEComprobantePercepcionDetalle" nillable="true" type="tns:ArrayOfBEComprobantePercepcionDetalle" />
  <xs:complexType name="BEComprobantePercepcionDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoActivo" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEmisionDocumento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdComprobantePercepcion" type="xs:int" />
      <xs:element minOccurs="0" name="IdComprobantePercepcionDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="ImportePercepcion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroDocumentoCorrelativo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumentoSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PorcentajePercepcion" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEComprobantePercepcionDetalle" nillable="true" type="tns:BEComprobantePercepcionDetalle" />
  <xs:complexType name="ArrayOfBEMensajeCUV">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMensajeCUV" nillable="true" type="tns:BEMensajeCUV" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMensajeCUV" nillable="true" type="tns:ArrayOfBEMensajeCUV" />
  <xs:complexType name="BEMensajeCUV">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="Cuvs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="ParametroID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMensajeCUV" nillable="true" type="tns:BEMensajeCUV" />
  <xs:complexType name="ArrayOfBEConsultoraDD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConsultoraDD" nillable="true" type="tns:BEConsultoraDD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConsultoraDD" nillable="true" type="tns:ArrayOfBEConsultoraDD" />
  <xs:complexType name="BEConsultoraDD">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigorRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="EstadoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoActividad" type="xs:int" />
      <xs:element minOccurs="0" name="MontoMinimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoSaldoActual" type="xs:decimal" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="SeccionID" type="xs:int" />
      <xs:element minOccurs="0" name="TerritorioID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEConsultoraDD" nillable="true" type="tns:BEConsultoraDD" />
  <xs:complexType name="ArrayOfBETipoMeta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BETipoMeta" nillable="true" type="tns:BETipoMeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBETipoMeta" nillable="true" type="tns:ArrayOfBETipoMeta" />
  <xs:complexType name="BETipoMeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoMeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoActivo" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoMeta" type="xs:int" />
      <xs:element minOccurs="0" name="MontoMaximo" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BETipoMeta" nillable="true" type="tns:BETipoMeta" />
  <xs:complexType name="BEUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUbigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UbigeoID" type="xs:int" />
      <xs:element minOccurs="0" name="UnidadGeografica1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnidadGeografica4" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUbigeo" nillable="true" type="tns:BEUbigeo" />
  <xs:complexType name="ArrayOfBEProductoAppCatalogo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEProductoAppCatalogo" nillable="true" type="tns:BEProductoAppCatalogo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEProductoAppCatalogo" nillable="true" type="tns:ArrayOfBEProductoAppCatalogo" />
  <xs:complexType name="BEProductoAppCatalogo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoIso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMarca" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCatalogo" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecioValorizado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sello" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volumen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProductoAppCatalogo" nillable="true" type="tns:BEProductoAppCatalogo" />
  <xs:complexType name="BEProductoCompartido">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PcApp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PcCampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="PcCuv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PcDetalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PcID" type="xs:int" />
      <xs:element minOccurs="0" name="PcPalanca" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProductoCompartido" nillable="true" type="tns:BEProductoCompartido" />
  <xs:complexType name="BEProductoCompartidoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UrlCompartir" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEProductoCompartidoResult" nillable="true" type="tns:BEProductoCompartidoResult" />
  <xs:complexType name="BEUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="AceptaPoliticaPrivacidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="AceptaTerminosCondiciones" type="xs:boolean" />
      <xs:element minOccurs="0" name="AceptacionConsultoraDA" type="xs:int" />
      <xs:element minOccurs="0" name="AceptoContrato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActualizarClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AniosPermanencia" type="xs:int" />
      <xs:element minOccurs="0" name="AnoCampaniaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutorizaPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BanderaImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuscadorYFiltrosConfiguracion" nillable="true" type="tns:BEBuscadorYFiltrosConfiguracion" />
      <xs:element minOccurs="0" name="CambioClave" type="xs:boolean" />
      <xs:element minOccurs="0" name="CambioCorreoPendiente" type="xs:boolean" />
      <xs:element minOccurs="0" name="CampanaInvitada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Campania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
      <xs:element minOccurs="0" name="CampaniaInicioLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogoPersonalizado" type="xs:int" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaveSecreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoClasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoFuente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoPrograma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSubClasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTerritorio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigorRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosConcursos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosProgramaNuevas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigosRevistaImpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompartirDatos" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompraKitDupla" type="xs:int" />
      <xs:element minOccurs="0" name="CompraOfertaDupla" type="xs:int" />
      <xs:element minOccurs="0" name="CompraOfertaEspecial" type="xs:int" />
      <xs:element minOccurs="0" name="CompraVDirecta" type="xs:double" />
      <xs:element minOccurs="0" name="ConfirmarClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsecutivoNueva" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultoraAsociada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConsultoraAsociadaID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraID" type="xs:long" />
      <xs:element minOccurs="0" name="ConsultoraNueva" type="xs:int" />
      <xs:element minOccurs="0" name="CorreoAnterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoPendiente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CuponEstado" type="xs:int" />
      <xs:element minOccurs="0" name="CuponMontoMaxDscto" type="xs:decimal" />
      <xs:element minOccurs="0" name="CuponPctDescuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="CuponTipoCondicion" type="xs:short" />
      <xs:element minOccurs="0" name="DescripcionNivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionSubClasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinatariosFeedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaFacturacion" type="xs:int" />
      <xs:element minOccurs="0" name="DiasAntes" type="xs:int" />
      <xs:element minOccurs="0" name="DiasCierre" type="xs:int" />
      <xs:element minOccurs="0" name="DiasDuracionCronograma" type="xs:int" />
      <xs:element minOccurs="0" name="DigitoVerificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Pedido" minOccurs="0" name="DireccionEntrega" nillable="true" type="q1:BEDireccionEntrega" />
      <xs:element minOccurs="0" name="DocumentoIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsAniversario" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsCDRWebZonaValida" type="xs:int" />
      <xs:element minOccurs="0" name="EsCatalogoPersonalizadoZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsecutivoNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsultoraNueva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsConsultoraOficina" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsCumpleanio" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsJoven" type="xs:int" />
      <xs:element minOccurs="0" name="EsOFGanaMasZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsOfertaFinalZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsShowRoom" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsUltimoDiaFacturacion" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsZonaDemAnti" type="xs:int" />
      <xs:element minOccurs="0" name="EsquemaDAConsultora" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoSimplificacionCUV" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaActivacionSuscripcion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaActualPais" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaActualizacionEmail" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaCancelacionSuscripcion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinFIC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFinFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicioFacturacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaLimPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaVencimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagActivacionSuscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlgCheckEMAIL" type="xs:boolean" />
      <xs:element minOccurs="0" name="FlgCheckSMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="FotoOriginalSinModificar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FotoPerfilAncha" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPRBannerMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GPRBannerTitulo" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Common" minOccurs="0" name="GPRBannerUrl" type="q2:Enumeradores.RechazoBannerUrl" />
      <xs:element minOccurs="0" name="GPRMostrarBannerRechazo" type="xs:boolean" />
      <xs:element minOccurs="0" name="GPRTextovinculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GanaMasNativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="GuiaNegocio" nillable="true" type="tns:BEGuiaNegocio" />
      <xs:element minOccurs="0" name="HabilitarRestriccionHoraria" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoraCierreNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaDemAnti" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaDemAntiCierre" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraCierreZonaNormal" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraFin" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicio" type="ser:duration" />
      <xs:element minOccurs="0" name="HoraInicioNoFacturable" type="ser:duration" />
      <xs:element minOccurs="0" name="HorasDuracionRestriccion" type="xs:int" />
      <xs:element minOccurs="0" name="IVACompraVDirecta" type="xs:double" />
      <xs:element minOccurs="0" name="IVARetail" type="xs:double" />
      <xs:element minOccurs="0" name="ImagenURLOfertaFIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicadorBloqueoCDR" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorConsultoraDigital" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorContrato" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorContratoAceptacion" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorDupla" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorFlexiPago" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorGPRSB" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorMeta" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorOfertaFIC" type="xs:int" />
      <xs:element minOccurs="0" name="IndicadorPermisoFIC" type="xs:int" />
      <xs:element minOccurs="0" name="InscritaFlexipago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvitacionRechazada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IvaTotal" type="xs:double" />
      <xs:element minOccurs="0" name="Lider" type="xs:int" />
      <xs:element minOccurs="0" name="LogoLideres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajePedidoDesktop" type="xs:int" />
      <xs:element minOccurs="0" name="MensajePedidoMobile" type="xs:int" />
      <xs:element minOccurs="0" name="MensajeValidacionInteractiva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoDeuda" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMaximoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoFlexipago" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoMinimoPedido" type="xs:decimal" />
      <xs:element minOccurs="0" name="MostrarAyudaWebTraking" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostrarBotonValidar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NivelCaminoBrillante" type="xs:int" />
      <xs:element minOccurs="0" name="NivelEducacion" type="xs:int" />
      <xs:element minOccurs="0" name="NivelLider" type="xs:int" />
      <xs:element minOccurs="0" name="NivelProyectado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreGerenteZona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NovedadBuscador" type="xs:int" />
      <xs:element minOccurs="0" name="NroCampanias" type="xs:int" />
      <xs:element minOccurs="0" name="NuevoPROL" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfertaDelDia" type="xs:boolean" />
      <xs:element minOccurs="0" name="OfertaDelDiaModel" nillable="true" type="tns:BEOfertaDelDia" />
      <xs:element minOccurs="0" name="OfertaFinal" type="xs:int" />
      <xs:element minOccurs="0" name="OfertaFinalGanaMas" type="xs:int" />
      <xs:element minOccurs="0" name="OptBloqueoProductoDigital" type="xs:boolean" />
      <xs:element minOccurs="0" name="PROLSinStock" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
      <xs:element minOccurs="0" name="PasePedidoWeb" type="xs:int" />
      <xs:element minOccurs="0" name="PasoSextoPedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="PedidoFICActivo" type="xs:boolean" />
      <xs:element minOccurs="0" name="PortalLideres" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramaReconocimiento" type="xs:int" />
      <xs:element minOccurs="0" name="PromedioVenta" type="xs:double" />
      <xs:element minOccurs="0" name="PuedeActualizar" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuedeActualizarCelular" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuedeActualizarEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuedeConfirmarAllEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuedeConfirmarAllSms" type="xs:boolean" />
      <xs:element minOccurs="0" name="PuedeEnviarSMS" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecomendacionesConfiguracion" nillable="true" type="tns:ArrayOfBEConfiguracionPaisDatos" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionID" type="xs:int" />
      <xs:element minOccurs="0" name="Retail" type="xs:double" />
      <xs:element minOccurs="0" name="RevistaDigital" nillable="true" type="tns:BERevistaDigital" />
      <xs:element minOccurs="0" name="RevistaDigitalSuscripcion" type="xs:short" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RolID" type="xs:short" />
      <xs:element minOccurs="0" name="Seccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionAnalytics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeccionGestionLider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segmento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoAbreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoConstancia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoDatami" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegmentoID" type="xs:int" />
      <xs:element minOccurs="0" name="SegmentoInternoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Simbolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sobrenombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoTrabajo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritorioID" type="xs:int" />
      <xs:element minOccurs="0" name="TieneAsesoraOnline" type="xs:int" />
      <xs:element minOccurs="0" name="TieneCDR" type="xs:int" />
      <xs:element minOccurs="0" name="TieneCDRExpress" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneChatbot" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneCupon" type="xs:int" />
      <xs:element minOccurs="0" name="TieneGND" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneHana" type="xs:int" />
      <xs:element minOccurs="0" name="TieneLoginExterno" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneMG" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneMasVendidos" type="xs:int" />
      <xs:element minOccurs="0" name="TieneOfertaLog" type="xs:int" />
      <xs:element minOccurs="0" name="TienePagoEnLinea" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneValidacionMontoMaximo" type="xs:boolean" />
      <xs:element minOccurs="0" name="TipoOferta2" type="xs:int" />
      <xs:element minOccurs="0" name="TipoUsuario" type="xs:short" />
      <xs:element minOccurs="0" name="TotalCompra" type="xs:double" />
      <xs:element minOccurs="0" name="UrlBannerGanaMas" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Usuario" minOccurs="0" name="UsuarioOpciones" nillable="true" type="q3:ArrayOfBEUsuarioOpciones" />
      <xs:element minOccurs="0" name="UsuarioPrueba" type="xs:int" />
      <xs:element minOccurs="0" name="ValidacionAbierta" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidacionInteractiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="VioTutorial" type="xs:int" />
      <xs:element minOccurs="0" name="VioTutorialDesktop" type="xs:int" />
      <xs:element minOccurs="0" name="VioTutorialSalvavidas" type="xs:int" />
      <xs:element minOccurs="0" name="VioVideo" type="xs:int" />
      <xs:element minOccurs="0" name="Zona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZonaHoraria" type="xs:double" />
      <xs:element minOccurs="0" name="ZonaID" type="xs:int" />
      <xs:element minOccurs="0" name="ZonaNuevoPROL" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZonaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="beOfertaFinal" nillable="true" type="tns:BEOfertaFinal" />
      <xs:element minOccurs="0" name="esConsultoraLider" type="xs:boolean" />
      <xs:element minOccurs="0" name="mdFechaEncuesta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="msCampaniaEncuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msCampaniaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msRpta4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msSeccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEUsuario" nillable="true" type="tns:BEUsuario" />
  <xs:complexType name="BEBuscadorYFiltrosConfiguracion">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicarLogicaCantidadBotonVerTodosBuscador" type="xs:boolean" />
      <xs:element minOccurs="0" name="CaracteresBuscador" type="xs:short" />
      <xs:element minOccurs="0" name="CaracteresBuscadorMostrar" type="xs:short" />
      <xs:element minOccurs="0" name="IndicadorConsultoraDummy" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostrarBotonVerTodosBuscador" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostrarBuscador" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostrarFiltrosBuscador" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostrarOpcionesOrdenamiento" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalResultadosBuscador" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEBuscadorYFiltrosConfiguracion" nillable="true" type="tns:BEBuscadorYFiltrosConfiguracion" />
  <xs:complexType name="BEGuiaNegocio">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloqueoProductoDigital" type="xs:boolean" />
      <xs:element minOccurs="0" name="ConfiguracionPaisDatos" nillable="true" type="tns:ArrayOfBEConfiguracionPaisDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEGuiaNegocio" nillable="true" type="tns:BEGuiaNegocio" />
  <xs:complexType name="ArrayOfBEConfiguracionPaisDatos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEConfiguracionPaisDatos" nillable="true" type="tns:BEConfiguracionPaisDatos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEConfiguracionPaisDatos" nillable="true" type="tns:ArrayOfBEConfiguracionPaisDatos" />
  <xs:complexType name="BEConfiguracionPaisDatos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CampaniaID" type="xs:int" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Componente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
          <xs:element minOccurs="0" name="Valor1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valor2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Valor3" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPaisDatos" nillable="true" type="tns:BEConfiguracionPaisDatos" />
  <xs:complexType name="BaseEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaisID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntidad" nillable="true" type="tns:BaseEntidad" />
  <xs:complexType name="BEConfiguracionPais">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="BloqueoRevistaImpresa" type="xs:boolean" />
          <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesdeCampania" type="xs:int" />
          <xs:element minOccurs="0" name="DesktopFondoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopLogoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopSubTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DesktopTituloMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:BEConfiguracionPaisDetalle" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
          <xs:element minOccurs="0" name="Excluyente" type="xs:boolean" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileFondoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileLogoBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileOrden" type="xs:int" />
          <xs:element minOccurs="0" name="MobileOrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="MobileSubTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTituloBanner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileTituloMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orden" type="xs:int" />
          <xs:element minOccurs="0" name="OrdenBpt" type="xs:int" />
          <xs:element minOccurs="0" name="TienePerfil" type="xs:boolean" />
          <xs:element minOccurs="0" name="UrlMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPais" nillable="true" type="tns:BEConfiguracionPais" />
  <xs:complexType name="BEConfiguracionPaisDetalle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntidad">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoConsultora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoSeccion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoZona" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConfiguracionPaisDetalleID" type="xs:int" />
          <xs:element minOccurs="0" name="ConfiguracionPaisID" type="xs:int" />
          <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BEConfiguracionPaisDetalle" nillable="true" type="tns:BEConfiguracionPaisDetalle" />
  <xs:complexType name="BEOfertaDelDia">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloqueoProductoDigital" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOfertaDelDia" nillable="true" type="tns:BEOfertaDelDia" />
  <xs:complexType name="BERevistaDigital">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivoMdo" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloquearRevistaImpresaGeneral" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BloqueoProductoDigital" type="xs:boolean" />
      <xs:element minOccurs="0" name="BloqueoRevistaImpresa" type="xs:boolean" />
      <xs:element minOccurs="0" name="CantidadCampaniaEfectiva" type="xs:int" />
      <xs:element minOccurs="0" name="EsActiva" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsSuscrita" type="xs:boolean" />
      <xs:element minOccurs="0" name="SociaEmpresariaExperienciaGanaMas" type="xs:boolean" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="SuscripcionEfectiva" nillable="true" type="q4:BERevistaDigitalSuscripcion" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.RevistaDigital" minOccurs="0" name="SuscripcionModel" nillable="true" type="q5:BERevistaDigitalSuscripcion" />
      <xs:element minOccurs="0" name="TieneRDC" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneRDCR" type="xs:boolean" />
      <xs:element minOccurs="0" name="TieneRDI" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BERevistaDigital" nillable="true" type="tns:BERevistaDigital" />
  <xs:complexType name="BEOfertaFinal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Algoritmo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEOfertaFinal" nillable="true" type="tns:BEOfertaFinal" />
</xs:schema>