app/Portal.Consultoras.Web/Service References/ServiceEncuesta/EncuestaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41615/EncuestaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Encuesta" />
  <xs:element name="ObtenerDataEncuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
        <xs:element minOccurs="0" name="codigoConsultora" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDataEncuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Encuesta" minOccurs="0" name="ObtenerDataEncuestaResult" nillable="true" type="q1:ArrayOfBEDataConfigEncuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsEncuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Encuesta" minOccurs="0" name="entity" nillable="true" type="q2:BEEncuestaCalificacion" />
        <xs:element minOccurs="0" name="paisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsEncuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsEncuestaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>