app/Portal.Consultoras.Web/Service References/ServiceEncuesta/EncuestaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Encuesta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Portal.Consultoras.Entities.Encuesta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEDataConfigEncuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEDataConfigEncuesta" nillable="true" type="tns:BEDataConfigEncuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEDataConfigEncuesta" nillable="true" type="tns:ArrayOfBEDataConfigEncuesta" />
  <xs:complexType name="BEDataConfigEncuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalificacionId" type="xs:int" />
      <xs:element minOccurs="0" name="EncuestaId" type="xs:int" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotivoId" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEncuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCalificacion" type="xs:int" />
      <xs:element minOccurs="0" name="TipoMotivo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEDataConfigEncuesta" nillable="true" type="tns:BEDataConfigEncuesta" />
</xs:schema>