app/Portal.Consultoras.Web/Web References/ServicePROLArchivoReserva/ReservaPedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OperaActualizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OperaActualizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OperaActualizacionResult" type="tns:ArrayOfRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRespuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Respuesta" nillable="true" type="tns:Respuesta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GeneraReserva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsoPais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaGeneracion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraReservaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneraReservaResult" type="tns:ArrayOfRespuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OperaActualizacionSoapIn">
    <wsdl:part name="parameters" element="tns:OperaActualizacion" />
  </wsdl:message>
  <wsdl:message name="OperaActualizacionSoapOut">
    <wsdl:part name="parameters" element="tns:OperaActualizacionResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraReservaSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraReserva" />
  </wsdl:message>
  <wsdl:message name="GeneraReservaSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="ReservaPedidosSoap">
    <wsdl:operation name="OperaActualizacion">
      <wsdl:input message="tns:OperaActualizacionSoapIn" />
      <wsdl:output message="tns:OperaActualizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraReserva">
      <wsdl:input message="tns:GeneraReservaSoapIn" />
      <wsdl:output message="tns:GeneraReservaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservaPedidosSoap" type="tns:ReservaPedidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperaActualizacion">
      <soap:operation soapAction="http://tempuri.org/OperaActualizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraReserva">
      <soap:operation soapAction="http://tempuri.org/GeneraReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReservaPedidosSoap12" type="tns:ReservaPedidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperaActualizacion">
      <soap12:operation soapAction="http://tempuri.org/OperaActualizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraReserva">
      <soap12:operation soapAction="http://tempuri.org/GeneraReserva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservaPedidos">
    <wsdl:port name="ReservaPedidosSoap" binding="tns:ReservaPedidosSoap">
      <soap:address location="http://prdelb-webprol-261815517.us-east-1.elb.amazonaws.com/WsRsrvExeEtl/ReservaPedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="ReservaPedidosSoap12" binding="tns:ReservaPedidosSoap12">
      <soap12:address location="http://prdelb-webprol-261815517.us-east-1.elb.amazonaws.com/WsRsrvExeEtl/ReservaPedidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>